In [1]:
import pandas as pd

In [2]:
# Creating a Series
series_data = pd.Series([10, 20, 30, 40, 50])
print("Series:")
print(series_data)

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000]
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000
4      Eve   28   55000

In [4]:
# Accessing elements in a Series
print("\nAccessing elements in the Series:")
print("Element at index 2:", series_data[2])
print("Elements from index 1 to 3:\n", series_data[1:4])

Accessing elements in the Series:
Element at index 2: 30
Elements from index 1 to 3:
 1    20
2    30
3    40
dtype: int64

In [5]:
# Accessing columns in a DataFrame
print("\nAccessing columns in the DataFrame:")
print("Age column:\n", df['Age'])
print("Salary column:\n", df['Salary'])

Accessing columns in the DataFrame:
Age column:
 0    25
1    30
2    22
3    35
4    28
Name: Age, dtype: int64
Salary column:
 0    50000
1    60000
2    45000
3    70000
4    55000
Name: Salary, dtype: int64

In [6]:
# Filtering rows in a DataFrame
print("\nFiltering rows in the DataFrame:")
filtered_df = df[df['Age'] > 25]
print(filtered_df)

Filtering rows in the DataFrame:
    Name  Age  Salary
1    Bob   30   60000
3  David   35   70000
4    Eve   28   55000

In [7]:
# Adding a new column to DataFrame
df['Gender'] = ['Female', 'Male', 'Male', 'Male', 'Female']
print("\nDataFrame with the Gender column:")
print(df)

DataFrame with the Gender column:
      Name  Age  Salary  Gender
0    Alice   25   50000  Female
1      Bob   30   60000    Male
2  Charlie   22   45000    Male
3    David   35   70000    Male
4      Eve   28   55000  Female

In [8]:
# Aggregation with Series
print("\nAggregation with Series:")
print("Sum of Series:", series_data.sum())
print("Mean of Series:", series_data.mean())

Aggregation with Series:
Sum of Series: 150
Mean of Series: 30.0

In [9]:
# Aggregation with DataFrame
print("\nAggregation with DataFrame:")
print("Average Age:", df['Age'].mean())
print("Maximum Salary:", df['Salary'].max())

Aggregation with DataFrame:
Average Age: 28.0
Maximum Salary: 70000

In [10]:
# Merging DataFrames
data2 = {
    'Name': ['Frank', 'Grace'],
    'Age': [27, 29],
    'Salary': [48000, 52000]
}
df2 = pd.DataFrame(data2)
merged_df = pd.concat([df, df2], ignore_index=True)
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
      Name  Age  Salary  Gender
0    Alice   25   50000  Female
1      Bob   30   60000    Male
2  Charlie   22   45000    Male
3    David   35   70000    Male
4      Eve   28   55000  Female
5    Frank   27   48000     NaN
6    Grace   29   52000     NaN