In [1]:
import pandas as pd

In [3]:
# Creating a DataFrame for Game of Thrones characters
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Allegiance': ['Night\'s Watch', 'House Targaryen', 'House Lannister', 'House Stark', 'House Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Age': [30, 24, 38, 20, 42]
}

In [4]:
got_df = pd.DataFrame(data)
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister  House Lannister     Alive   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister  House Lannister  Deceased   42

In [5]:
# Example 1: Slicing rows and columns using loc
print("\nExample 1: Slicing rows and columns using loc:")
print("Characters from index 1 to 3 (inclusive), and columns 'Name' and 'Age':\n", got_df.loc[1:3, ['Name', 'Age']])

Example 1: Slicing rows and columns using loc:
Characters from index 1 to 3 (inclusive), and columns 'Name' and 'Age':
                  Name  Age
1  Daenerys Targaryen   24
2    Tyrion Lannister   38
3          Arya Stark   20

In [6]:
# Example 2: Slicing rows and columns using iloc
print("\nExample 2: Slicing rows and columns using iloc:")
print("Characters at positions 1 to 3 (exclusive), and columns at positions 0 and 1:\n", got_df.iloc[1:3, [0, 1]])

Example 2: Slicing rows and columns using iloc:
Characters at positions 1 to 3 (exclusive), and columns at positions 0 and 1:
                  Name      House
1  Daenerys Targaryen  Targaryen
2    Tyrion Lannister  Lannister

In [7]:
# Example 3: Accessing a specific column using dot notation
print("\nExample 3: Accessing a specific column using dot notation:")
print("House column:\n", got_df.House)

Example 3: Accessing a specific column using dot notation:
House column:
 0        Stark
1    Targaryen
2    Lannister
3        Stark
4    Lannister
Name: House, dtype: object

In [8]:
# Example 4: Accessing multiple columns using dot notation
print("\nExample 4: Accessing multiple columns using dot notation:")
print("Name and Status columns:\n", got_df[['Name', 'Status']])

Example 4: Accessing multiple columns using dot notation:
Name and Status columns:
                  Name    Status
0            Jon Snow     Alive
1  Daenerys Targaryen  Deceased
2    Tyrion Lannister     Alive
3          Arya Stark     Alive
4    Cersei Lannister  Deceased

In [9]:
# Example 5: Accessing a single cell using at
print("\nExample 5: Accessing a single cell using at:")
print("Value at row 2 and column 'Name':", got_df.at[1, 'Name'])

Example 5: Accessing a single cell using at:
Value at row 2 and column 'Name': Daenerys Targaryen

In [10]:
# Example 6: Accessing a single cell using iat
print("\nExample 6: Accessing a single cell using iat:")
print("Value at position 2 and column 1:", got_df.iat[1, 1])

Example 6: Accessing a single cell using iat:
Value at position 2 and column 1: Targaryen

In [11]:
# Example 7: Using slices with loc
print("\nExample 7: Using slices with loc:")
print("Characters from 'Jon Snow' to 'Tyrion Lannister':\n", got_df.loc['Jon Snow':'Tyrion Lannister'])

Example 7: Using slices with loc:
Characters from 'Jon Snow' to 'Tyrion Lannister':
 Empty DataFrame
Columns: [Name, House, Allegiance, Status, Age]
Index: []

In [12]:
# Example 8: Using slices with iloc
print("\nExample 8: Using slices with iloc:")
print("Characters from position 1 to 3 (exclusive):\n", got_df.iloc[1:3])

Example 8: Using slices with iloc:
Characters from position 1 to 3 (exclusive):
                  Name      House       Allegiance    Status  Age
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister  House Lannister     Alive   38

In [13]:
# Example 9: Using boolean indexing with loc
print("\nExample 9: Using boolean indexing with loc:")
print("Characters from House Stark:\n", got_df.loc[got_df['House'] == 'Stark'])

Example 9: Using boolean indexing with loc:
Characters from House Stark:
          Name  House     Allegiance Status  Age
0    Jon Snow  Stark  Night's Watch  Alive   30
3  Arya Stark  Stark    House Stark  Alive   20

In [14]:
# Example 10: Using boolean indexing with iloc
print("\nExample 10: Using boolean indexing with iloc:")
print("Characters who are still alive:\n", got_df.iloc[(got_df['Status'] == 'Alive').values])

Example 10: Using boolean indexing with iloc:
Characters who are still alive:
                Name      House       Allegiance Status  Age
0          Jon Snow      Stark    Night's Watch  Alive   30
2  Tyrion Lannister  Lannister  House Lannister  Alive   38
3        Arya Stark      Stark      House Stark  Alive   20

In [15]:
# Example 11: Setting a new index for the DataFrame
got_df.set_index('Name', inplace=True)
print("\nExample 11: Setting a new index for the DataFrame:")
print(got_df)

Example 11: Setting a new index for the DataFrame:
                        House       Allegiance    Status  Age
Name
Jon Snow                Stark    Night's Watch     Alive   30
Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
Tyrion Lannister    Lannister  House Lannister     Alive   38
Arya Stark              Stark      House Stark     Alive   20
Cersei Lannister    Lannister  House Lannister  Deceased   42

In [16]:
# Example 12: Accessing data with the new index using loc
print("\nExample 12: Accessing data with the new index using loc:")
print("Data for 'Daenerys Targaryen':\n", got_df.loc['Daenerys Targaryen'])
print("Data for 'Tyrion Lannister' and 'Arya Stark':\n", got_df.loc[['Tyrion Lannister', 'Arya Stark']])

Example 12: Accessing data with the new index using loc:
Data for 'Daenerys Targaryen':
 House               Targaryen
Allegiance    House Targaryen
Status               Deceased
Age                        24
Name: Daenerys Targaryen, dtype: object
Data for 'Tyrion Lannister' and 'Arya Stark':
                       House       Allegiance Status  Age
Name
Tyrion Lannister  Lannister  House Lannister  Alive   38
Arya Stark            Stark      House Stark  Alive   20

In [17]:
# Example 13: Accessing data with the new index using iloc
print("\nExample 13: Accessing data with the new index using iloc:")
print("Data at position 1:\n", got_df.iloc[1])
print("Data at positions 1 and 3:\n", got_df.iloc[[1, 3]])

Example 13: Accessing data with the new index using iloc:
Data at position 1:
 House               Targaryen
Allegiance    House Targaryen
Status               Deceased
Age                        24
Name: Daenerys Targaryen, dtype: object
Data at positions 1 and 3:
                         House       Allegiance    Status  Age
Name
Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
Arya Stark              Stark      House Stark     Alive   20

In [18]:
# Example 14: Conditional data modification with loc
got_df.loc[got_df['Status'] == 'Deceased', 'Status'] = 'Dead'
print("\nExample 14: Conditional data modification with loc:")
print("DataFrame after modifying Status for deceased characters using loc:")
print(got_df)

Example 14: Conditional data modification with loc:
DataFrame after modifying Status for deceased characters using loc:
                        House       Allegiance Status  Age
Name
Jon Snow                Stark    Night's Watch  Alive   30
Daenerys Targaryen  Targaryen  House Targaryen   Dead   24
Tyrion Lannister    Lannister  House Lannister  Alive   38
Arya Stark              Stark      House Stark  Alive   20
Cersei Lannister    Lannister  House Lannister   Dead   42

In [19]:
# Example 15: Conditional data modification with iloc
got_df.iloc[0, 3] = 'Alive'
print("\nExample 15: Conditional data modification with iloc:")
print("DataFrame after modifying the first character's Status using iloc:")
print(got_df)

Example 15: Conditional data modification with iloc:
DataFrame after modifying the first character's Status using iloc:
                        House       Allegiance Status    Age
Name
Jon Snow                Stark    Night's Watch  Alive  Alive
Daenerys Targaryen  Targaryen  House Targaryen   Dead     24
Tyrion Lannister    Lannister  House Lannister  Alive     38
Arya Stark              Stark      House Stark  Alive     20
Cersei Lannister    Lannister  House Lannister   Dead     42

In [20]:
# Example 16: Using slices for column assignment
got_df.loc[:, 'Location'] = ['The Wall', 'Dragonstone', 'King\'s Landing', 'Braavos', 'King\'s Landing']
print("\nExample 16: Using slices for column assignment:")
print("DataFrame with a new 'Location' column:")
print(got_df)

Example 16: Using slices for column assignment:
DataFrame with a new 'Location' column:
                        House       Allegiance Status    Age        Location
Name
Jon Snow                Stark    Night's Watch  Alive  Alive        The Wall
Daenerys Targaryen  Targaryen  House Targaryen   Dead     24     Dragonstone
Tyrion Lannister    Lannister  House Lannister  Alive     38  King's Landing
Arya Stark              Stark      House Stark  Alive     20         Braavos
Cersei Lannister    Lannister  House Lannister   Dead     42  King's Landing

In [21]:
# Example 17: Resetting the index
got_df.reset_index(inplace=True)
print("\nExample 17: Resetting the index:")
print(got_df)

Example 17: Resetting the index:
                 Name      House       Allegiance Status    Age  \
0            Jon Snow      Stark    Night's Watch  Alive  Alive
1  Daenerys Targaryen  Targaryen  House Targaryen   Dead     24
2    Tyrion Lannister  Lannister  House Lannister  Alive     38
3          Arya Stark      Stark      House Stark  Alive     20
4    Cersei Lannister  Lannister  House Lannister   Dead     42

         Location
0        The Wall
1     Dragonstone
2  King's Landing
3         Braavos
4  King's Landing

In [22]:
# Example 18: Using multi-level indexing
got_df.set_index(['House', 'Name'], inplace=True)
print("\nExample 18: Using multi-level indexing:")
print(got_df)

Example 18: Using multi-level indexing:
                                   Allegiance Status    Age        Location
House     Name
Stark     Jon Snow              Night's Watch  Alive  Alive        The Wall
Targaryen Daenerys Targaryen  House Targaryen   Dead     24     Dragonstone
Lannister Tyrion Lannister    House Lannister  Alive     38  King's Landing
Stark     Arya Stark              House Stark  Alive     20         Braavos
Lannister Cersei Lannister    House Lannister   Dead     42  King's Landing

In [23]:
# Example 19: Accessing data with multi-level index using loc
print("\nExample 19: Accessing data with multi-level index using loc:")
print("Data for characters from House Stark:\n", got_df.loc['Stark'])

Example 19: Accessing data with multi-level index using loc:
Data for characters from House Stark:
                Allegiance Status    Age  Location
Name
Jon Snow    Night's Watch  Alive  Alive  The Wall
Arya Stark    House Stark  Alive     20   Braavos

In [24]:
# Example 20: Accessing data with multi-level index using iloc
print("\nExample 20: Accessing data with multi-level index using iloc:")
print("Data at position ('Targaryen', 1):\n", got_df.iloc[(1, 1)])

Example 20: Accessing data with multi-level index using iloc:
Data at position ('Targaryen', 1):
 Dead

In [28]:
# Example 23: Accessing data using xs method
print("\nExample 23: Accessing data using xs method:")
print("Data for characters from House Stark:\n", got_df.xs('Stark', level='House'))

Example 23: Accessing data using xs method:
Data for characters from House Stark:
                Allegiance Status    Age  Location
Name
Jon Snow    Night's Watch  Alive  Alive  The Wall
Arya Stark    House Stark  Alive     20   Braavos