In [1]:
import pandas as pd

In [3]:
# Creating a DataFrame for Game of Thrones characters
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Allegiance': ['Night\'s Watch', 'House Targaryen', 'House Lannister', 'House Stark', 'House Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Age': [30, 24, 38, 20, 42]
}

In [4]:
got_df = pd.DataFrame(data)
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister  House Lannister     Alive   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister  House Lannister  Deceased   42

In [5]:
# Example 1: Slicing rows and columns using loc
print("\nExample 1: Slicing rows and columns using loc:")
print("Characters from index 1 to 3 (inclusive), and columns 'Name' and 'Age':\n", got_df.loc[1:3, ['Name', 'Age']])

Example 1: Slicing rows and columns using loc:
Characters from index 1 to 3 (inclusive), and columns 'Name' and 'Age':
                  Name  Age
1  Daenerys Targaryen   24
2    Tyrion Lannister   38
3          Arya Stark   20

In [6]:
# Example 2: Slicing rows and columns using iloc
print("\nExample 2: Slicing rows and columns using iloc:")
print("Characters at positions 1 to 3 (exclusive), and columns at positions 0 and 1:\n", got_df.iloc[1:3, [0, 1]])

Example 2: Slicing rows and columns using iloc:
Characters at positions 1 to 3 (exclusive), and columns at positions 0 and 1:
                  Name      House
1  Daenerys Targaryen  Targaryen
2    Tyrion Lannister  Lannister

In [7]:
# Example 3: Accessing a specific column using dot notation
print("\nExample 3: Accessing a specific column using dot notation:")
print("House column:\n", got_df.House)

Example 3: Accessing a specific column using dot notation:
House column:
 0        Stark
1    Targaryen
2    Lannister
3        Stark
4    Lannister
Name: House, dtype: object

In [8]:
# Example 4: Accessing multiple columns using dot notation
print("\nExample 4: Accessing multiple columns using dot notation:")
print("Name and Status columns:\n", got_df[['Name', 'Status']])

Example 4: Accessing multiple columns using dot notation:
Name and Status columns:
                  Name    Status
0            Jon Snow     Alive
1  Daenerys Targaryen  Deceased
2    Tyrion Lannister     Alive
3          Arya Stark     Alive
4    Cersei Lannister  Deceased

In [9]:
# Example 5: Accessing a single cell using at
print("\nExample 5: Accessing a single cell using at:")
print("Value at row 2 and column 'Name':", got_df.at[1, 'Name'])

Example 5: Accessing a single cell using at:
Value at row 2 and column 'Name': Daenerys Targaryen

In [10]:
# Example 6: Accessing a single cell using iat
print("\nExample 6: Accessing a single cell using iat:")
print("Value at position 2 and column 1:", got_df.iat[1, 1])

Example 6: Accessing a single cell using iat:
Value at position 2 and column 1: Targaryen