In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame for Game of Thrones characters
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Allegiance': ['Night\'s Watch', 'House Targaryen', 'House Lannister', 'House Stark', 'House Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Age': [30, 24, 38, 20, 42]
}

In [3]:
got_df = pd.DataFrame(data)
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister  House Lannister     Alive   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister  House Lannister  Deceased   42

In [4]:
# Filtering rows based on a condition
print("\nFiltering rows based on a condition (Age > 30):")
age_filter = got_df['Age'] > 30
print(got_df[age_filter])

Filtering rows based on a condition (Age > 30):
               Name      House       Allegiance    Status  Age
2  Tyrion Lannister  Lannister  House Lannister     Alive   38
4  Cersei Lannister  Lannister  House Lannister  Deceased   42

In [5]:
# Filtering rows based on multiple conditions (Age > 30 and House is Stark)
print("\nFiltering rows based on multiple conditions (Age > 30 and House is Stark):")
stark_filter = (got_df['Age'] > 30) & (got_df['House'] == 'Stark')
print(got_df[stark_filter])

Filtering rows based on multiple conditions (Age > 30 and House is Stark):
Empty DataFrame
Columns: [Name, House, Allegiance, Status, Age]
Index: []

In [6]:
# Filtering rows based on multiple conditions (Age > 30 or Status is Deceased)
print("\nFiltering rows based on multiple conditions (Age > 30 or Status is Deceased):")
age_status_filter = (got_df['Age'] > 30) | (got_df['Status'] == 'Deceased')
print(got_df[age_status_filter])

Filtering rows based on multiple conditions (Age > 30 or Status is Deceased):
                 Name      House       Allegiance    Status  Age
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister  House Lannister     Alive   38
4    Cersei Lannister  Lannister  House Lannister  Deceased   42

In [7]:
# Filtering rows using the query method
print("\nFiltering rows using the query method:")
query_result = got_df.query('Age > 30 and House == "Stark"')
print(query_result)

Filtering rows using the query method:
Empty DataFrame
Columns: [Name, House, Allegiance, Status, Age]
Index: []

In [8]:
# Filtering rows and selecting specific columns
print("\nFiltering rows and selecting specific columns:")
columns_filter = (got_df['Age'] > 30) & (got_df['House'] == 'Stark')
print(got_df.loc[columns_filter, ['Name', 'Age']])

Filtering rows and selecting specific columns:
Empty DataFrame
Columns: [Name, Age]
Index: []

In [9]:
# Filtering rows and updating a specific column for the filtered rows
print("\nFiltering rows and updating a specific column for the filtered rows:")
got_df.loc[got_df['Age'] > 30, 'Status'] = 'Deceased'
print(got_df)

Filtering rows and updating a specific column for the filtered rows:
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister  House Lannister  Deceased   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister  House Lannister  Deceased   42

In [10]:
# Filtering rows and updating multiple columns for the filtered rows
print("\nFiltering rows and updating multiple columns for the filtered rows:")
got_df.loc[got_df['Age'] > 30, ['Status', 'Allegiance']] = ['Deceased', 'No Allegiance']
print(got_df)

Filtering rows and updating multiple columns for the filtered rows:
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister    No Allegiance  Deceased   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister    No Allegiance  Deceased   42

In [11]:
# Example 1: Filtering rows based on House
print("\nExample 1: Filtering rows based on House (House is Lannister):")
lannister_filter = got_df['House'] == 'Lannister'
print(got_df[lannister_filter])

Example 1: Filtering rows based on House (House is Lannister):
               Name      House     Allegiance    Status  Age
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   38
4  Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [12]:
# Example 2: Filtering rows based on multiple conditions (House is Stark and Status is Deceased)
print("\nExample 2: Filtering rows based on multiple conditions (House is Stark and Status is Deceased):")
stark_deceased_filter = (got_df['House'] == 'Stark') & (got_df['Status'] == 'Deceased')
print(got_df[stark_deceased_filter])

Example 2: Filtering rows based on multiple conditions (House is Stark and Status is Deceased):
Empty DataFrame
Columns: [Name, House, Allegiance, Status, Age]
Index: []

In [13]:
# Example 3: Filtering rows based on Name (Exact match)
print("\nExample 3: Filtering rows based on Name (Exact match, Name is 'Tyrion Lannister'):")
tyrion_filter = got_df['Name'] == 'Tyrion Lannister'
print(got_df[tyrion_filter])

Example 3: Filtering rows based on Name (Exact match, Name is 'Tyrion Lannister'):
               Name      House     Allegiance    Status  Age
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   38

In [14]:
# Example 4: Filtering rows based on Name (Partial match using str.contains)
print("\nExample 4: Filtering rows based on Name (Partial match, Name contains 'Stark'):")
stark_name_filter = got_df['Name'].str.contains('Stark')
print(got_df[stark_name_filter])

Example 4: Filtering rows based on Name (Partial match, Name contains 'Stark'):
         Name  House   Allegiance Status  Age
3  Arya Stark  Stark  House Stark  Alive   20

In [15]:
# Example 5: Filtering rows based on multiple conditions (House is Stark or Age > 30)
print("\nExample 5: Filtering rows based on multiple conditions (House is Stark or Age > 30):")
stark_or_age_filter = (got_df['House'] == 'Stark') | (got_df['Age'] > 30)
print(got_df[stark_or_age_filter])

Example 5: Filtering rows based on multiple conditions (House is Stark or Age > 30):
               Name      House     Allegiance    Status  Age
0          Jon Snow      Stark  Night's Watch     Alive   30
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   38
3        Arya Stark      Stark    House Stark     Alive   20
4  Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [18]:
# Example 6: Filtering rows based on Allegiance (Exact match)
print("\nExample 6: Filtering rows based on Allegiance (Exact match, Allegiance is 'House Targaryen'):")
targaryen_filter = got_df['Allegiance'] == 'House Targaryen'
print(got_df[targaryen_filter])

Example 6: Filtering rows based on Allegiance (Exact match, Allegiance is 'House Targaryen'):
                 Name      House       Allegiance    Status  Age
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24

In [19]:
# Example 7: Filtering rows based on Allegiance (Partial match using str.contains)
print("\nExample 7: Filtering rows based on Allegiance (Partial match, Allegiance contains 'Lannister'):")
lannister_allegiance_filter = got_df['Allegiance'].str.contains('Lannister')
print(got_df[lannister_allegiance_filter])

Example 7: Filtering rows based on Allegiance (Partial match, Allegiance contains 'Lannister'):
Empty DataFrame
Columns: [Name, House, Allegiance, Status, Age]
Index: []

In [20]:
# Example 8: Filtering rows based on Age (Age between 25 and 35)
print("\nExample 8: Filtering rows based on Age (Age between 25 and 35):")
age_range_filter = (got_df['Age'] >= 25) & (got_df['Age'] <= 35)
print(got_df[age_range_filter])

Example 8: Filtering rows based on Age (Age between 25 and 35):
       Name  House     Allegiance Status  Age
0  Jon Snow  Stark  Night's Watch  Alive   30

In [21]:
# Example 9: Filtering rows based on Status (Status is either 'Alive' or 'Deceased')
print("\nExample 9: Filtering rows based on Status (Status is either 'Alive' or 'Deceased'):")
alive_deceased_filter = got_df['Status'].isin(['Alive', 'Deceased'])
print(got_df[alive_deceased_filter])

Example 9: Filtering rows based on Status (Status is either 'Alive' or 'Deceased'):
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister    No Allegiance  Deceased   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister    No Allegiance  Deceased   42

In [22]:
# Example 10: Filtering rows based on Age and Status (Age greater than 25 and Status is 'Deceased')
print("\nExample 10: Filtering rows based on Age and Status (Age greater than 25 and Status is 'Deceased'):")
age_status_filter = (got_df['Age'] > 25) & (got_df['Status'] == 'Deceased')
print(got_df[age_status_filter])

Example 10: Filtering rows based on Age and Status (Age greater than 25 and Status is 'Deceased'):
               Name      House     Allegiance    Status  Age
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   38
4  Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [23]:
# Example 11: Using the not operator to negate a filter
print("\nExample 11: Using the not operator to negate a filter (Characters not from House Stark):")
not_stark_filter = ~ (got_df['House'] == 'Stark')
print(got_df[not_stark_filter])

Example 11: Using the not operator to negate a filter (Characters not from House Stark):
                 Name      House       Allegiance    Status  Age
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister    No Allegiance  Deceased   38
4    Cersei Lannister  Lannister    No Allegiance  Deceased   42

In [24]:
# Example 12: Using the between method to filter rows based on Age
print("\nExample 12: Using the between method to filter rows based on Age (Age between 25 and 35):")
age_between_filter = got_df['Age'].between(25, 35)
print(got_df[age_between_filter])

Example 12: Using the between method to filter rows based on Age (Age between 25 and 35):
       Name  House     Allegiance Status  Age
0  Jon Snow  Stark  Night's Watch  Alive   30

In [25]:
# Example 13: Using the isna method to filter rows with missing values
print("\nExample 13: Using the isna method to filter rows with missing values:")
missing_age_filter = got_df['Age'].isna()
print(got_df[missing_age_filter])

Example 13: Using the isna method to filter rows with missing values:
Empty DataFrame
Columns: [Name, House, Allegiance, Status, Age]
Index: []

In [26]:
# Example 14: Using the notna method to filter rows with non-missing values
print("\nExample 14: Using the notna method to filter rows with non-missing values:")
not_missing_age_filter = got_df['Age'].notna()
print(got_df[not_missing_age_filter])

Example 14: Using the notna method to filter rows with non-missing values:
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister    No Allegiance  Deceased   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister    No Allegiance  Deceased   42

In [27]:
# Example 15: Filtering rows using a custom function
print("\nExample 15: Filtering rows using a custom function (Characters with names starting with 'C'):")
name_starts_with_c_filter = got_df['Name'].apply(lambda name: name.startswith('C'))
print(got_df[name_starts_with_c_filter])

Example 15: Filtering rows using a custom function (Characters with names starting with 'C'):
               Name      House     Allegiance    Status  Age
4  Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [28]:
# Example 16: Filtering rows using a custom function and multiple conditions
print("\nExample 16: Filtering rows using a custom function and multiple conditions (Characters with ages greater than 25 and not from House Stark):")
custom_filter = got_df.apply(lambda row: row['Age'] > 25 and row['House'] != 'Stark', axis=1)
print(got_df[custom_filter])

Example 16: Filtering rows using a custom function and multiple conditions (Characters with ages greater than 25 and not from House Stark):
               Name      House     Allegiance    Status  Age
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   38
4  Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [29]:
# Example 17: Using query method with multiple conditions
print("\nExample 17: Using query method with multiple conditions (Characters with ages greater than 25 and not from House Stark):")
query_result = got_df.query('Age > 25 and House != "Stark"')
print(query_result)

Example 17: Using query method with multiple conditions (Characters with ages greater than 25 and not from House Stark):
               Name      House     Allegiance    Status  Age
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   38
4  Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [30]:
# Example 18: Filtering rows and selecting specific columns using query method
print("\nExample 18: Filtering rows and selecting specific columns using query method:")
query_result = got_df.query('Age > 30 and House == "Stark"')[['Name', 'Status']]
print(query_result)

Example 18: Filtering rows and selecting specific columns using query method:
Empty DataFrame
Columns: [Name, Status]
Index: []

In [31]:
# Example 19: Updating rows based on a condition
print("\nExample 19: Updating rows based on a condition (Updating Status to 'Deceased' for characters older than 30):")
got_df.loc[got_df['Age'] > 30, 'Status'] = 'Deceased'
print(got_df)

Example 19: Updating rows based on a condition (Updating Status to 'Deceased' for characters older than 30):
                 Name      House       Allegiance    Status  Age
0            Jon Snow      Stark    Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24
2    Tyrion Lannister  Lannister    No Allegiance  Deceased   38
3          Arya Stark      Stark      House Stark     Alive   20
4    Cersei Lannister  Lannister    No Allegiance  Deceased   42

In [32]:
# Example 20: Updating rows based on multiple conditions
print("\nExample 20: Updating rows based on multiple conditions (Updating Allegiance to 'No Allegiance' for deceased characters):")
got_df.loc[got_df['Status'] == 'Deceased', 'Allegiance'] = 'No Allegiance'
print(got_df)

Example 20: Updating rows based on multiple conditions (Updating Allegiance to 'No Allegiance' for deceased characters):
                 Name      House     Allegiance    Status  Age
0            Jon Snow      Stark  Night's Watch     Alive   30
1  Daenerys Targaryen  Targaryen  No Allegiance  Deceased   24
2    Tyrion Lannister  Lannister  No Allegiance  Deceased   38
3          Arya Stark      Stark    House Stark     Alive   20
4    Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [33]:
# Example 21: Updating rows using query method
print("\nExample 21: Updating rows using query method (Updating Status to 'Deceased' for characters older than 30):")
got_df.query('Age > 30', inplace=True)
got_df['Status'] = 'Deceased'
print(got_df)

Example 21: Updating rows using query method (Updating Status to 'Deceased' for characters older than 30):
               Name      House     Allegiance    Status  Age
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   38
4  Cersei Lannister  Lannister  No Allegiance  Deceased   42

In [34]:
# Example 22: Updating rows and selecting specific columns using query method
print("\nExample 22: Updating rows and selecting specific columns using query method (Updating Age to 40 for deceased characters):")
got_df.query('Status == "Deceased"', inplace=True)
got_df['Age'] = 40
print(got_df)

Example 22: Updating rows and selecting specific columns using query method (Updating Age to 40 for deceased characters):
               Name      House     Allegiance    Status  Age
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   40
4  Cersei Lannister  Lannister  No Allegiance  Deceased   40

In [35]:
# Example 23: Filtering rows and assigning a new column value
print("\nExample 23: Filtering rows and assigning a new column value (Characters from House Stark are in the North):")
got_df.loc[got_df['House'] == 'Stark', 'Location'] = 'The North'
print(got_df)

Example 23: Filtering rows and assigning a new column value (Characters from House Stark are in the North):
               Name      House     Allegiance    Status  Age Location
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   40      NaN
4  Cersei Lannister  Lannister  No Allegiance  Deceased   40      NaN

In [36]:
# Example 24: Using isin method with filtering
print("\nExample 24: Using isin method with filtering (Characters from House Stark or House Lannister):")
house_filter = got_df['House'].isin(['Stark', 'Lannister'])
print(got_df[house_filter])

Example 24: Using isin method with filtering (Characters from House Stark or House Lannister):
               Name      House     Allegiance    Status  Age Location
2  Tyrion Lannister  Lannister  No Allegiance  Deceased   40      NaN
4  Cersei Lannister  Lannister  No Allegiance  Deceased   40      NaN

In [37]:
# Example 25: Using str methods for string filtering
print("\nExample 25: Using str methods for string filtering (Characters with names containing 'Targaryen'):")
targaryen_name_filter = got_df['Name'].str.contains('Targaryen')
print(got_df[targaryen_name_filter])

Example 25: Using str methods for string filtering (Characters with names containing 'Targaryen'):
Empty DataFrame
Columns: [Name, House, Allegiance, Status, Age, Location]
Index: []