In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a DataFrame for Game of Thrones characters with missing data
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', np.nan, 'Stark', 'Lannister'],
    'Allegiance': ['Night\'s Watch', np.nan, 'House Lannister', 'House Stark', 'House Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', np.nan, 'Deceased'],
    'Age': [30, np.nan, 38, 20, 42]
}

In [3]:
got_df = pd.DataFrame(data)
print("Game of Thrones Characters DataFrame with Missing Data:")
print(got_df)

Game of Thrones Characters DataFrame with Missing Data:
                 Name      House       Allegiance    Status   Age
0            Jon Snow      Stark    Night's Watch     Alive  30.0
1  Daenerys Targaryen  Targaryen              NaN  Deceased   NaN
2    Tyrion Lannister        NaN  House Lannister     Alive  38.0
3          Arya Stark      Stark      House Stark       NaN  20.0
4    Cersei Lannister  Lannister  House Lannister  Deceased  42.0

In [4]:
# Example 1: Checking for missing values in the DataFrame
print("\nExample 1: Checking for missing values in the DataFrame:")
print(got_df.isnull())

Example 1: Checking for missing values in the DataFrame:
    Name  House  Allegiance  Status    Age
0  False  False       False   False  False
1  False  False        True   False   True
2  False   True       False   False  False
3  False  False       False    True  False
4  False  False       False   False  False

In [5]:
# Example 2: Counting the number of missing values in each column
print("\nExample 2: Counting the number of missing values in each column:")
print(got_df.isnull().sum())

Example 2: Counting the number of missing values in each column:
Name          0
House         1
Allegiance    1
Status        1
Age           1
dtype: int64

In [6]:
# Example 3: Counting the total number of missing values in the DataFrame
print("\nExample 3: Counting the total number of missing values in the DataFrame:")
print(got_df.isnull().sum().sum())

Example 3: Counting the total number of missing values in the DataFrame:
4

In [7]:
# Example 4: Dropping rows with any missing values
print("\nExample 4: Dropping rows with any missing values:")
got_df_dropped = got_df.dropna()
print(got_df_dropped)

Example 4: Dropping rows with any missing values:
               Name      House       Allegiance    Status   Age
0          Jon Snow      Stark    Night's Watch     Alive  30.0
4  Cersei Lannister  Lannister  House Lannister  Deceased  42.0

In [8]:
# Example 5: Dropping rows with all missing values
print("\nExample 5: Dropping rows with all missing values:")
got_df_dropped_all = got_df.dropna(how='all')
print(got_df_dropped_all)

Example 5: Dropping rows with all missing values:
                 Name      House       Allegiance    Status   Age
0            Jon Snow      Stark    Night's Watch     Alive  30.0
1  Daenerys Targaryen  Targaryen              NaN  Deceased   NaN
2    Tyrion Lannister        NaN  House Lannister     Alive  38.0
3          Arya Stark      Stark      House Stark       NaN  20.0
4    Cersei Lannister  Lannister  House Lannister  Deceased  42.0

In [9]:
# Example 6: Dropping columns with any missing values
print("\nExample 6: Dropping columns with any missing values:")
got_df_dropped_columns = got_df.dropna(axis=1)
print(got_df_dropped_columns)

Example 6: Dropping columns with any missing values:
                 Name
0            Jon Snow
1  Daenerys Targaryen
2    Tyrion Lannister
3          Arya Stark
4    Cersei Lannister

In [10]:
# Example 7: Dropping columns with all missing values
print("\nExample 7: Dropping columns with all missing values:")
got_df_dropped_columns_all = got_df.dropna(axis=1, how='all')
print(got_df_dropped_columns_all)

Example 7: Dropping columns with all missing values:
                 Name      House       Allegiance    Status   Age
0            Jon Snow      Stark    Night's Watch     Alive  30.0
1  Daenerys Targaryen  Targaryen              NaN  Deceased   NaN
2    Tyrion Lannister        NaN  House Lannister     Alive  38.0
3          Arya Stark      Stark      House Stark       NaN  20.0
4    Cersei Lannister  Lannister  House Lannister  Deceased  42.0

In [11]:
# Example 8: Filling missing values with a specific value
print("\nExample 8: Filling missing values with a specific value (House with 'Unknown'):")
got_df_filled = got_df.fillna(value='Unknown')
print(got_df_filled)

Example 8: Filling missing values with a specific value (House with 'Unknown'):
                 Name      House       Allegiance    Status      Age
0            Jon Snow      Stark    Night's Watch     Alive     30.0
1  Daenerys Targaryen  Targaryen          Unknown  Deceased  Unknown
2    Tyrion Lannister    Unknown  House Lannister     Alive     38.0
3          Arya Stark      Stark      House Stark   Unknown     20.0
4    Cersei Lannister  Lannister  House Lannister  Deceased     42.0

In [12]:
# Example 9: Filling missing values with the mean of the column
print("\nExample 9: Filling missing values with the mean of the column (Age with mean age):")
mean_age = got_df['Age'].mean()
got_df_filled_age = got_df.fillna(value={'Age': mean_age})
print(got_df_filled_age)

Example 9: Filling missing values with the mean of the column (Age with mean age):
                 Name      House       Allegiance    Status   Age
0            Jon Snow      Stark    Night's Watch     Alive  30.0
1  Daenerys Targaryen  Targaryen              NaN  Deceased  32.5
2    Tyrion Lannister        NaN  House Lannister     Alive  38.0
3          Arya Stark      Stark      House Stark       NaN  20.0
4    Cersei Lannister  Lannister  House Lannister  Deceased  42.0

In [13]:
# Example 10: Filling missing values with the forward fill method (ffill)
print("\nExample 10: Filling missing values with the forward fill method (ffill):")
got_df_ffill = got_df.fillna(method='ffill')
print(got_df_ffill)

Example 10: Filling missing values with the forward fill method (ffill):
                 Name      House       Allegiance    Status   Age
0            Jon Snow      Stark    Night's Watch     Alive  30.0
1  Daenerys Targaryen  Targaryen    Night's Watch  Deceased  30.0
2    Tyrion Lannister  Targaryen  House Lannister     Alive  38.0
3          Arya Stark      Stark      House Stark     Alive  20.0
4    Cersei Lannister  Lannister  House Lannister  Deceased  42.0