In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame for Game of Thrones characters
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Allegiance': ['Night\'s Watch', 'House Targaryen', 'House Lannister', 'House Stark', 'House Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Age': [30, 24, 38, 20, 42],
    'Seasons': [8, 8, 8, 8, 8],
    'Episodes': [73, 62, 67, 59, 62]
}

In [3]:
got_df = pd.DataFrame(data)
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House       Allegiance    Status  Age  Seasons  \
0            Jon Snow      Stark    Night's Watch     Alive   30        8
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24        8
2    Tyrion Lannister  Lannister  House Lannister     Alive   38        8
3          Arya Stark      Stark      House Stark     Alive   20        8
4    Cersei Lannister  Lannister  House Lannister  Deceased   42        8

   Episodes
0        73
1        62
2        67
3        59
4        62

In [4]:
# Example 1: Grouping data by House and counting characters in each House
print("\nExample 1: Grouping data by House and counting characters in each House:")
grouped_by_house = got_df.groupby('House').size()
print(grouped_by_house)

Example 1: Grouping data by House and counting characters in each House:
House
Lannister    2
Stark        2
Targaryen    1
dtype: int64

In [5]:
# Example 2: Grouping data by House and calculating the mean of Age and Seasons for each House
print("\nExample 2: Grouping data by House and calculating the mean of Age and Seasons for each House:")
mean_age_seasons_by_house = got_df.groupby('House')['Age', 'Seasons'].mean()
print(mean_age_seasons_by_house)

Example 2: Grouping data by House and calculating the mean of Age and Seasons for each House:
            Age  Seasons
House
Lannister  40.0      8.0
Stark      25.0      8.0
Targaryen  24.0      8.0

C:\Users\rvign\AppData\Local\Temp\ipykernel_17192\1523554725.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mean_age_seasons_by_house = got_df.groupby('House')['Age', 'Seasons'].mean()

In [6]:
# Example 3: Grouping data by House and calculating the sum of Episodes for each House
print("\nExample 3: Grouping data by House and calculating the sum of Episodes for each House:")
total_episodes_by_house = got_df.groupby('House')['Episodes'].sum()
print(total_episodes_by_house)

Example 3: Grouping data by House and calculating the sum of Episodes for each House:
House
Lannister    129
Stark        132
Targaryen     62
Name: Episodes, dtype: int64

In [7]:
# Example 4: Grouping data by House and finding the youngest character in each House
print("\nExample 4: Grouping data by House and finding the youngest character in each House:")
youngest_character_by_house = got_df.groupby('House')['Name', 'Age'].min()
print(youngest_character_by_house)

Example 4: Grouping data by House and finding the youngest character in each House:
                         Name  Age
House
Lannister    Cersei Lannister   38
Stark              Arya Stark   20
Targaryen  Daenerys Targaryen   24

C:\Users\rvign\AppData\Local\Temp\ipykernel_17192\3753678291.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  youngest_character_by_house = got_df.groupby('House')['Name', 'Age'].min()

In [8]:
# Example 5: Grouping data by House and finding the oldest character in each House
print("\nExample 5: Grouping data by House and finding the oldest character in each House:")
oldest_character_by_house = got_df.groupby('House')['Name', 'Age'].max()
print(oldest_character_by_house)

Example 5: Grouping data by House and finding the oldest character in each House:
                         Name  Age
House
Lannister    Tyrion Lannister   42
Stark                Jon Snow   30
Targaryen  Daenerys Targaryen   24

C:\Users\rvign\AppData\Local\Temp\ipykernel_17192\2187873167.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  oldest_character_by_house = got_df.groupby('House')['Name', 'Age'].max()

In [9]:
# Example 6: Grouping data by Status and calculating the average Age for each Status
print("\nExample 6: Grouping data by Status and calculating the average Age for each Status:")
average_age_by_status = got_df.groupby('Status')['Age'].mean()
print(average_age_by_status)

Example 6: Grouping data by Status and calculating the average Age for each Status:
Status
Alive       29.333333
Deceased    33.000000
Name: Age, dtype: float64

In [10]:
# Example 7: Grouping data by Status and calculating the total Episodes for each Status
print("\nExample 7: Grouping data by Status and calculating the total Episodes for each Status:")
total_episodes_by_status = got_df.groupby('Status')['Episodes'].sum()
print(total_episodes_by_status)

Example 7: Grouping data by Status and calculating the total Episodes for each Status:
Status
Alive       199
Deceased    124
Name: Episodes, dtype: int64

In [11]:
# Example 8: Grouping data by Status and finding the character with the highest Age in each Status
print("\nExample 8: Grouping data by Status and finding the character with the highest Age in each Status:")
character_with_max_age_by_status = got_df.groupby('Status').apply(lambda x: x.loc[x['Age'].idxmax()])
print(character_with_max_age_by_status)

Example 8: Grouping data by Status and finding the character with the highest Age in each Status:
                      Name      House       Allegiance    Status  Age  \
Status
Alive     Tyrion Lannister  Lannister  House Lannister     Alive   38
Deceased  Cersei Lannister  Lannister  House Lannister  Deceased   42

          Seasons  Episodes
Status
Alive           8        67
Deceased        8        62

In [12]:
# Example 9: Grouping data by multiple columns (House and Status) and calculating the mean Age for each group
print("\nExample 9: Grouping data by multiple columns (House and Status) and calculating the mean Age for each group:")
mean_age_by_house_status = got_df.groupby(['House', 'Status'])['Age'].mean()
print(mean_age_by_house_status)

Example 9: Grouping data by multiple columns (House and Status) and calculating the mean Age for each group:
House      Status
Lannister  Alive       38.0
           Deceased    42.0
Stark      Alive       25.0
Targaryen  Deceased    24.0
Name: Age, dtype: float64

In [13]:
# Example 10: Grouping data by multiple columns (House and Status) and finding the character with the highest Age in each group
print("\nExample 10: Grouping data by multiple columns (House and Status) and finding the character with the highest Age in each group:")
character_with_max_age_by_house_status = got_df.groupby(['House', 'Status']).apply(lambda x: x.loc[x['Age'].idxmax()])
print(character_with_max_age_by_house_status)

Example 10: Grouping data by multiple columns (House and Status) and finding the character with the highest Age in each group:
                                  Name      House       Allegiance    Status  \
House     Status
Lannister Alive       Tyrion Lannister  Lannister  House Lannister     Alive
          Deceased    Cersei Lannister  Lannister  House Lannister  Deceased
Stark     Alive               Jon Snow      Stark    Night's Watch     Alive
Targaryen Deceased  Daenerys Targaryen  Targaryen  House Targaryen  Deceased

                    Age  Seasons  Episodes
House     Status
Lannister Alive      38        8        67
          Deceased   42        8        62
Stark     Alive      30        8        73
Targaryen Deceased   24        8        62

In [14]:
# Example 11: Grouping data by House and applying multiple aggregate functions
print("\nExample 11: Grouping data by House and applying multiple aggregate functions:")
grouped_by_house_multiple_aggregates = got_df.groupby('House').agg({'Age': 'mean', 'Episodes': 'sum', 'Name': 'count'})
print(grouped_by_house_multiple_aggregates)

Example 11: Grouping data by House and applying multiple aggregate functions:
            Age  Episodes  Name
House
Lannister  40.0       129     2
Stark      25.0       132     2
Targaryen  24.0        62     1

In [15]:
# Example 12: Grouping data by House and Allegiance and calculating the mean Age and total Episodes for each group
print("\nExample 12: Grouping data by House and Allegiance and calculating the mean Age and total Episodes for each group:")
mean_age_episodes_by_house_allegiance = got_df.groupby(['House', 'Allegiance']).agg({'Age': 'mean', 'Episodes': 'sum'})
print(mean_age_episodes_by_house_allegiance)

Example 12: Grouping data by House and Allegiance and calculating the mean Age and total Episodes for each group:
                            Age  Episodes
House     Allegiance
Lannister House Lannister  40.0       129
Stark     House Stark      20.0        59
          Night's Watch    30.0        73
Targaryen House Targaryen  24.0        62

In [16]:
# Example 13: Grouping data by House and applying custom aggregate function
print("\nExample 13: Grouping data by House and applying custom aggregate function (count characters with Age greater than 30):")
def count_characters_above_30(series):
    return len(series[series > 30])

characters_above_30_by_house = got_df.groupby('House')['Age'].agg(count_characters_above_30)
print(characters_above_30_by_house)

Example 13: Grouping data by House and applying custom aggregate function (count characters with Age greater than 30):
House
Lannister    2
Stark        0
Targaryen    0
Name: Age, dtype: int64

In [17]:
# Example 14: Grouping data and transforming the values using custom function
print("\nExample 14: Grouping data and transforming the values using custom function (add 10 to each Age within the House group):")
def add_ten_to_age(series):
    return series + 10

got_df['Age_Plus_Ten'] = got_df.groupby('House')['Age'].transform(add_ten_to_age)
print(got_df)

Example 14: Grouping data and transforming the values using custom function (add 10 to each Age within the House group):
                 Name      House       Allegiance    Status  Age  Seasons  \
0            Jon Snow      Stark    Night's Watch     Alive   30        8
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24        8
2    Tyrion Lannister  Lannister  House Lannister     Alive   38        8
3          Arya Stark      Stark      House Stark     Alive   20        8
4    Cersei Lannister  Lannister  House Lannister  Deceased   42        8

   Episodes  Age_Plus_Ten
0        73            40
1        62            34
2        67            48
3        59            30
4        62            52

In [18]:
# Example 15: Grouping data by House and Allegiance and finding the character with the highest Age in each group
print("\nExample 15: Grouping data by House and Allegiance and finding the character with the highest Age in each group:")
character_with_max_age_by_house_allegiance = got_df.groupby(['House', 'Allegiance']).apply(lambda x: x.loc[x['Age'].idxmax()])
print(character_with_max_age_by_house_allegiance)

Example 15: Grouping data by House and Allegiance and finding the character with the highest Age in each group:
                                         Name      House       Allegiance  \
House     Allegiance
Lannister House Lannister    Cersei Lannister  Lannister  House Lannister
Stark     House Stark              Arya Stark      Stark      House Stark
          Night's Watch              Jon Snow      Stark    Night's Watch
Targaryen House Targaryen  Daenerys Targaryen  Targaryen  House Targaryen

                             Status  Age  Seasons  Episodes  Age_Plus_Ten
House     Allegiance
Lannister House Lannister  Deceased   42        8        62            52
Stark     House Stark         Alive   20        8        59            30
          Night's Watch       Alive   30        8        73            40
Targaryen House Targaryen  Deceased   24        8        62            34

In [19]:
# Example 16: Grouping data by House and calculating the median Age for each House
print("\nExample 16: Grouping data by House and calculating the median Age for each House:")
median_age_by_house = got_df.groupby('House')['Age'].median()
print(median_age_by_house)

Example 16: Grouping data by House and calculating the median Age for each House:
House
Lannister    40.0
Stark        25.0
Targaryen    24.0
Name: Age, dtype: float64

In [20]:
# Example 17: Grouping data by House and counting the number of unique Allegiances in each House
print("\nExample 17: Grouping data by House and counting the number of unique Allegiances in each House:")
unique_allegiances_by_house = got_df.groupby('House')['Allegiance'].nunique()
print(unique_allegiances_by_house)

Example 17: Grouping data by House and counting the number of unique Allegiances in each House:
House
Lannister    1
Stark        2
Targaryen    1
Name: Allegiance, dtype: int64

In [21]:
# Example 18: Grouping data by Status and calculating the minimum and maximum Age for each Status
print("\nExample 18: Grouping data by Status and calculating the minimum and maximum Age for each Status:")
min_max_age_by_status = got_df.groupby('Status')['Age'].agg(['min', 'max'])
print(min_max_age_by_status)

Example 18: Grouping data by Status and calculating the minimum and maximum Age for each Status:
          min  max
Status
Alive      20   38
Deceased   24   42

In [22]:
# Example 19: Grouping data by House and applying multiple aggregate functions with named columns
print("\nExample 19: Grouping data by House and applying multiple aggregate functions with named columns:")
grouped_by_house_named_aggregates = got_df.groupby('House').agg(Mean_Age=('Age', 'mean'), Total_Episodes=('Episodes', 'sum'), Num_Characters=('Name', 'count'))
print(grouped_by_house_named_aggregates)

Example 19: Grouping data by House and applying multiple aggregate functions with named columns:
           Mean_Age  Total_Episodes  Num_Characters
House
Lannister      40.0             129               2
Stark          25.0             132               2
Targaryen      24.0              62               1

In [23]:
# Example 20: Grouping data by House and Allegiance and applying multiple aggregate functions with named columns
print("\nExample 20: Grouping data by House and Allegiance and applying multiple aggregate functions with named columns:")
grouped_by_house_allegiance_named_aggregates = got_df.groupby(['House', 'Allegiance']).agg(Mean_Age=('Age', 'mean'), Total_Episodes=('Episodes', 'sum'))
print(grouped_by_house_allegiance_named_aggregates)

Example 20: Grouping data by House and Allegiance and applying multiple aggregate functions with named columns:
                           Mean_Age  Total_Episodes
House     Allegiance
Lannister House Lannister      40.0             129
Stark     House Stark          20.0              59
          Night's Watch        30.0              73
Targaryen House Targaryen      24.0              62

In [24]:
# Example 21: Grouping data by multiple columns (House and Status) and applying multiple aggregate functions with named columns
print("\nExample 21: Grouping data by multiple columns (House and Status) and applying multiple aggregate functions with named columns:")
grouped_by_house_status_named_aggregates = got_df.groupby(['House', 'Status']).agg(Mean_Age=('Age', 'mean'), Total_Episodes=('Episodes', 'sum'))
print(grouped_by_house_status_named_aggregates)

Example 21: Grouping data by multiple columns (House and Status) and applying multiple aggregate functions with named columns:
                    Mean_Age  Total_Episodes
House     Status
Lannister Alive         38.0              67
          Deceased      42.0              62
Stark     Alive         25.0             132
Targaryen Deceased      24.0              62

In [25]:
# Example 22: Grouping data by Status and applying custom aggregate functions with named columns
print("\nExample 22: Grouping data by Status and applying custom aggregate functions with named columns:")
status_aggregates = got_df.groupby('Status').agg(Mean_Age=('Age', 'mean'), Total_Episodes=('Episodes', 'sum'), Num_Characters=('Name', 'count'))
print(status_aggregates)

Example 22: Grouping data by Status and applying custom aggregate functions with named columns:
           Mean_Age  Total_Episodes  Num_Characters
Status
Alive     29.333333             199               3
Deceased  33.000000             124               2

In [26]:
# Example 23: Grouping data by House and calculating the total Seasons and Episodes for each House
print("\nExample 23: Grouping data by House and calculating the total Seasons and Episodes for each House:")
total_seasons_episodes_by_house = got_df.groupby('House').agg({'Seasons': 'sum', 'Episodes': 'sum'})
print(total_seasons_episodes_by_house)

Example 23: Grouping data by House and calculating the total Seasons and Episodes for each House:
           Seasons  Episodes
House
Lannister       16       129
Stark           16       132
Targaryen        8        62

In [27]:
# Example 24: Grouping data by House and calculating the Age range for each House
print("\nExample 24: Grouping data by House and calculating the Age range for each House:")
age_range_by_house = got_df.groupby('House')['Age'].agg(lambda x: x.max() - x.min())
print(age_range_by_house)

Example 24: Grouping data by House and calculating the Age range for each House:
House
Lannister     4
Stark        10
Targaryen     0
Name: Age, dtype: int64

In [28]:
# Example 25: Grouping data by Status and finding the character with the highest Age and the character with the lowest Age in each Status
print("\nExample 25: Grouping data by Status and finding the character with the highest Age and the character with the lowest Age in each Status:")
def max_min_age_characters(series):
    max_age_idx = series.idxmax()
    min_age_idx = series.idxmin()
    return pd.Series({'Max_Age_Character': got_df.loc[max_age_idx, 'Name'], 'Min_Age_Character': got_df.loc[min_age_idx, 'Name']})

characters_with_max_min_age_by_status = got_df.groupby('Status')['Age'].apply(max_min_age_characters)
print(characters_with_max_min_age_by_status)

Example 25: Grouping data by Status and finding the character with the highest Age and the character with the lowest Age in each Status:
Status
Alive     Max_Age_Character      Tyrion Lannister
          Min_Age_Character            Arya Stark
Deceased  Max_Age_Character      Cersei Lannister
          Min_Age_Character    Daenerys Targaryen
Name: Age, dtype: object