In [1]:
import pandas as pd

In [2]:
# Creating DataFrames for Game of Thrones characters
data1 = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Allegiance': ['Night\'s Watch', 'House Targaryen', 'House Lannister', 'House Stark', 'House Lannister']
}
got_df1 = pd.DataFrame(data1)

In [3]:
data2 = {
    'Name': ['Jon Snow', 'Arya Stark', 'Cersei Lannister', 'Jaime Lannister'],
    'Actor': ['Kit Harington', 'Maisie Williams', 'Lena Headey', 'Nikolaj Coster-Waldau'],
    'Age': [30, 20, 42, 45],
    'Seasons': [8, 8, 8, 8]
}
got_df2 = pd.DataFrame(data2)

In [4]:
data3 = {
    'Name': ['Jon Snow', 'Tyrion Lannister', 'Sansa Stark'],
    'Total_Kills': [7, 4, 2],
    'Allegiance': ['Night\'s Watch', 'House Lannister', 'House Stark']
}
got_df3 = pd.DataFrame(data3)

In [5]:
print("Game of Thrones Characters DataFrame 1:")
print(got_df1)

Game of Thrones Characters DataFrame 1:
                 Name      House    Status       Allegiance
0            Jon Snow      Stark     Alive    Night's Watch
1  Daenerys Targaryen  Targaryen  Deceased  House Targaryen
2    Tyrion Lannister  Lannister     Alive  House Lannister
3          Arya Stark      Stark     Alive      House Stark
4    Cersei Lannister  Lannister  Deceased  House Lannister

In [6]:
print("\nGame of Thrones Characters DataFrame 2:")
print(got_df2)

Game of Thrones Characters DataFrame 2:
               Name                  Actor  Age  Seasons
0          Jon Snow          Kit Harington   30        8
1        Arya Stark        Maisie Williams   20        8
2  Cersei Lannister            Lena Headey   42        8
3   Jaime Lannister  Nikolaj Coster-Waldau   45        8

In [7]:
print("\nGame of Thrones Characters DataFrame 3:")
print(got_df3)

Game of Thrones Characters DataFrame 3:
               Name  Total_Kills       Allegiance
0          Jon Snow            7    Night's Watch
1  Tyrion Lannister            4  House Lannister
2       Sansa Stark            2      House Stark

In [8]:
# Example 1: Merging two DataFrames based on a common column (Name)
print("\nExample 1: Merging two DataFrames based on a common column (Name):")
merged_df1 = pd.merge(got_df1, got_df2, on='Name')
print(merged_df1)

Example 1: Merging two DataFrames based on a common column (Name):
               Name      House    Status       Allegiance            Actor  \
0          Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1        Arya Stark      Stark     Alive      House Stark  Maisie Williams
2  Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

   Age  Seasons
0   30        8
1   20        8
2   42        8

In [9]:
# Example 2: Merging two DataFrames based on multiple common columns (Name and House)
print("\nExample 2: Merging two DataFrames based on multiple common columns (Name and House):")
merged_df2 = pd.merge(got_df1, got_df2, on=['Name', 'House'])
print(merged_df2)

Example 2: Merging two DataFrames based on multiple common columns (Name and House):

KeyError: 'House'

In [10]:
# Example 3: Merging two DataFrames based on common columns with different names (Name and Actor)
print("\nExample 3: Merging two DataFrames based on common columns with different names (Name and Actor):")
merged_df3 = pd.merge(got_df1, got_df2, left_on='Name', right_on='Actor')
print(merged_df3)

Example 3: Merging two DataFrames based on common columns with different names (Name and Actor):
Empty DataFrame
Columns: [Name_x, House, Status, Allegiance, Name_y, Actor, Age, Seasons]
Index: []

In [11]:
# Example 4: Merging two DataFrames with left join
print("\nExample 4: Merging two DataFrames with left join:")
merged_left = pd.merge(got_df1, got_df2, on='Name', how='left')
print(merged_left)

Example 4: Merging two DataFrames with left join:
                 Name      House    Status       Allegiance            Actor  \
0            Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1  Daenerys Targaryen  Targaryen  Deceased  House Targaryen              NaN
2    Tyrion Lannister  Lannister     Alive  House Lannister              NaN
3          Arya Stark      Stark     Alive      House Stark  Maisie Williams
4    Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

    Age  Seasons
0  30.0      8.0
1   NaN      NaN
2   NaN      NaN
3  20.0      8.0
4  42.0      8.0

In [12]:
# Example 5: Merging two DataFrames with right join
print("\nExample 5: Merging two DataFrames with right join:")
merged_right = pd.merge(got_df1, got_df2, on='Name', how='right')
print(merged_right)

Example 5: Merging two DataFrames with right join:
               Name      House    Status       Allegiance  \
0          Jon Snow      Stark     Alive    Night's Watch
1        Arya Stark      Stark     Alive      House Stark
2  Cersei Lannister  Lannister  Deceased  House Lannister
3   Jaime Lannister        NaN       NaN              NaN

                   Actor  Age  Seasons
0          Kit Harington   30        8
1        Maisie Williams   20        8
2            Lena Headey   42        8
3  Nikolaj Coster-Waldau   45        8

In [13]:
# Example 6: Merging two DataFrames with outer join
print("\nExample 6: Merging two DataFrames with outer join:")
merged_outer = pd.merge(got_df1, got_df2, on='Name', how='outer')
print(merged_outer)

Example 6: Merging two DataFrames with outer join:
                 Name      House    Status       Allegiance  \
0            Jon Snow      Stark     Alive    Night's Watch
1  Daenerys Targaryen  Targaryen  Deceased  House Targaryen
2    Tyrion Lannister  Lannister     Alive  House Lannister
3          Arya Stark      Stark     Alive      House Stark
4    Cersei Lannister  Lannister  Deceased  House Lannister
5     Jaime Lannister        NaN       NaN              NaN

                   Actor   Age  Seasons
0          Kit Harington  30.0      8.0
1                    NaN   NaN      NaN
2                    NaN   NaN      NaN
3        Maisie Williams  20.0      8.0
4            Lena Headey  42.0      8.0
5  Nikolaj Coster-Waldau  45.0      8.0

In [14]:
# Example 7: Merging two DataFrames with inner join
print("\nExample 7: Merging two DataFrames with inner join:")
merged_inner = pd.merge(got_df1, got_df2, on='Name', how='inner')
print(merged_inner)

Example 7: Merging two DataFrames with inner join:
               Name      House    Status       Allegiance            Actor  \
0          Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1        Arya Stark      Stark     Alive      House Stark  Maisie Williams
2  Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

   Age  Seasons
0   30        8
1   20        8
2   42        8

In [15]:
# Example 8: Merging two DataFrames with left and right suffixes
print("\nExample 8: Merging two DataFrames with left and right suffixes:")
merged_suffixes = pd.merge(got_df1, got_df2, on='Name', suffixes=('_1', '_2'))
print(merged_suffixes)

Example 8: Merging two DataFrames with left and right suffixes:
               Name      House    Status       Allegiance            Actor  \
0          Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1        Arya Stark      Stark     Alive      House Stark  Maisie Williams
2  Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

   Age  Seasons
0   30        8
1   20        8
2   42        8

In [16]:
# Example 9: Merging two DataFrames on index
print("\nExample 9: Merging two DataFrames on index:")
got_df1_indexed = got_df1.set_index('Name')
got_df2_indexed = got_df2.set_index('Name')
merged_on_index = pd.merge(got_df1_indexed, got_df2_indexed, left_index=True, right_index=True)
print(merged_on_index)

Example 9: Merging two DataFrames on index:
                      House    Status       Allegiance            Actor  Age  \
Name
Jon Snow              Stark     Alive    Night's Watch    Kit Harington   30
Arya Stark            Stark     Alive      House Stark  Maisie Williams   20
Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey   42

                  Seasons
Name
Jon Snow                8
Arya Stark              8
Cersei Lannister        8

In [17]:
# Example 10: Merging two DataFrames with different column names in the second DataFrame
print("\nExample 10: Merging two DataFrames with different column names in the second DataFrame:")
got_df2_diff_col_names = got_df2.rename(columns={'Name': 'Character'})
merged_diff_col_names = pd.merge(got_df1, got_df2_diff_col_names, left_on='Name', right_on='Character')
print(merged_diff_col_names)

Example 10: Merging two DataFrames with different column names in the second DataFrame:
               Name      House    Status       Allegiance         Character  \
0          Jon Snow      Stark     Alive    Night's Watch          Jon Snow
1        Arya Stark      Stark     Alive      House Stark        Arya Stark
2  Cersei Lannister  Lannister  Deceased  House Lannister  Cersei Lannister

             Actor  Age  Seasons
0    Kit Harington   30        8
1  Maisie Williams   20        8
2      Lena Headey   42        8

In [18]:
# Example 11: Merging two DataFrames with a common column as index in the second DataFrame
print("\nExample 11: Merging two DataFrames with a common column as index in the second DataFrame:")
got_df2_index_col = got_df2.set_index('Name')
merged_index_col = pd.merge(got_df1, got_df2_index_col, left_on='Name', right_index=True)
print(merged_index_col)

Example 11: Merging two DataFrames with a common column as index in the second DataFrame:
               Name      House    Status       Allegiance            Actor  \
0          Jon Snow      Stark     Alive    Night's Watch    Kit Harington
3        Arya Stark      Stark     Alive      House Stark  Maisie Williams
4  Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

   Age  Seasons
0   30        8
3   20        8
4   42        8

In [19]:
# Example 12: Merging two DataFrames and specifying suffixes for common columns
print("\nExample 12: Merging two DataFrames and specifying suffixes for common columns:")
merged_suffix_specified = pd.merge(got_df1, got_df2, on='Name', suffixes=('_character', '_actor'))
print(merged_suffix_specified)

Example 12: Merging two DataFrames and specifying suffixes for common columns:
               Name      House    Status       Allegiance            Actor  \
0          Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1        Arya Stark      Stark     Alive      House Stark  Maisie Williams
2  Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

   Age  Seasons
0   30        8
1   20        8
2   42        8

In [20]:
# Example 13: Merging two DataFrames with a common column as index in both DataFrames
print("\nExample 13: Merging two DataFrames with a common column as index in both DataFrames:")
got_df1_index_col = got_df1.set_index('Name')
got_df2_index_col = got_df2.set_index('Name')
merged_both_index_col = pd.merge(got_df1_index_col, got_df2_index_col, left_index=True, right_index=True)
print(merged_both_index_col)

Example 13: Merging two DataFrames with a common column as index in both DataFrames:
                      House    Status       Allegiance            Actor  Age  \
Name
Jon Snow              Stark     Alive    Night's Watch    Kit Harington   30
Arya Stark            Stark     Alive      House Stark  Maisie Williams   20
Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey   42

                  Seasons
Name
Jon Snow                8
Arya Stark              8
Cersei Lannister        8

In [21]:
# Example 14: Merging two DataFrames with a common column as index in the first DataFrame and a column in the second DataFrame
print("\nExample 14: Merging two DataFrames with a common column as index in the first DataFrame and a column in the second DataFrame:")
merged_index_col_mix = pd.merge(got_df1_index_col, got_df2, left_index=True, right_on='Name')
print(merged_index_col_mix)

Example 14: Merging two DataFrames with a common column as index in the first DataFrame and a column in the second DataFrame:
       House    Status       Allegiance              Name            Actor  \
0      Stark     Alive    Night's Watch          Jon Snow    Kit Harington
1      Stark     Alive      House Stark        Arya Stark  Maisie Williams
2  Lannister  Deceased  House Lannister  Cersei Lannister      Lena Headey

   Age  Seasons
0   30        8
1   20        8
2   42        8

In [22]:
# Example 15: Merging two DataFrames with different column names in both DataFrames
print("\nExample 15: Merging two DataFrames with different column names in both DataFrames:")
got_df1_diff_col_names = got_df1.rename(columns={'Name': 'Character', 'House': 'House_Name'})
got_df2_diff_col_names = got_df2.rename(columns={'Name': 'Character_Name'})
merged_diff_col_names_both = pd.merge(got_df1_diff_col_names, got_df2_diff_col_names, left_on='Character', right_on='Character_Name')
print(merged_diff_col_names_both)

Example 15: Merging two DataFrames with different column names in both DataFrames:
          Character House_Name    Status       Allegiance    Character_Name  \
0          Jon Snow      Stark     Alive    Night's Watch          Jon Snow
1        Arya Stark      Stark     Alive      House Stark        Arya Stark
2  Cersei Lannister  Lannister  Deceased  House Lannister  Cersei Lannister

             Actor  Age  Seasons
0    Kit Harington   30        8
1  Maisie Williams   20        8
2      Lena Headey   42        8

In [23]:
# Example 16: Merging two DataFrames with a common column as index in both DataFrames using outer join
print("\nExample 16: Merging two DataFrames with a common column as index in both DataFrames using outer join:")
merged_both_index_col_outer = pd.merge(got_df1_index_col, got_df2_index_col, left_index=True, right_index=True, how='outer')
print(merged_both_index_col_outer)

Example 16: Merging two DataFrames with a common column as index in both DataFrames using outer join:
                        House    Status       Allegiance  \
Name
Arya Stark              Stark     Alive      House Stark
Cersei Lannister    Lannister  Deceased  House Lannister
Daenerys Targaryen  Targaryen  Deceased  House Targaryen
Jaime Lannister           NaN       NaN              NaN
Jon Snow                Stark     Alive    Night's Watch
Tyrion Lannister    Lannister     Alive  House Lannister

                                    Actor   Age  Seasons
Name
Arya Stark                Maisie Williams  20.0      8.0
Cersei Lannister              Lena Headey  42.0      8.0
Daenerys Targaryen                    NaN   NaN      NaN
Jaime Lannister     Nikolaj Coster-Waldau  45.0      8.0
Jon Snow                    Kit Harington  30.0      8.0
Tyrion Lannister                      NaN   NaN      NaN

In [24]:
# Example 17: Merging two DataFrames and handling overlapping columns with suffixes
print("\nExample 17: Merging two DataFrames and handling overlapping columns with suffixes:")
data4 = {
    'Name': ['Jon Snow', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Alive', 'Deceased'],
    'Allegiance': ['Night\'s Watch', 'House Stark', 'House Lannister'],
    'Age': [30, 20, 42],
    'Episodes': [73, 59, 62]
}
got_df4 = pd.DataFrame(data4)
print("Game of Thrones Characters DataFrame 4:")
print(got_df4)

Example 17: Merging two DataFrames and handling overlapping columns with suffixes:
Game of Thrones Characters DataFrame 4:
               Name      House    Status       Allegiance  Age  Episodes
0          Jon Snow      Stark     Alive    Night's Watch   30        73
1        Arya Stark      Stark     Alive      House Stark   20        59
2  Cersei Lannister  Lannister  Deceased  House Lannister   42        62

In [25]:
merged_overlap_suffix = pd.merge(got_df1, got_df4, on='Name', suffixes=('_original', '_additional'))
print(merged_overlap_suffix)

               Name House_original Status_original Allegiance_original  \
0          Jon Snow          Stark           Alive       Night's Watch
1        Arya Stark          Stark           Alive         House Stark
2  Cersei Lannister      Lannister        Deceased     House Lannister

  House_additional Status_additional Allegiance_additional  Age  Episodes
0            Stark             Alive         Night's Watch   30        73
1            Stark             Alive           House Stark   20        59
2        Lannister          Deceased       House Lannister   42        62

In [26]:
# Example 18: Merging two DataFrames using the merge function with left join
print("\nExample 18: Merging two DataFrames using the merge function with left join:")
merged_left_func = pd.merge(got_df1, got_df2, on='Name', how='left')
print(merged_left_func)

Example 18: Merging two DataFrames using the merge function with left join:
                 Name      House    Status       Allegiance            Actor  \
0            Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1  Daenerys Targaryen  Targaryen  Deceased  House Targaryen              NaN
2    Tyrion Lannister  Lannister     Alive  House Lannister              NaN
3          Arya Stark      Stark     Alive      House Stark  Maisie Williams
4    Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

    Age  Seasons
0  30.0      8.0
1   NaN      NaN
2   NaN      NaN
3  20.0      8.0
4  42.0      8.0

In [27]:
# Example 19: Merging two DataFrames using the merge function with right join
print("\nExample 19: Merging two DataFrames using the merge function with right join:")
merged_right_func = pd.merge(got_df1, got_df2, on='Name', how='right')
print(merged_right_func)

Example 19: Merging two DataFrames using the merge function with right join:
               Name      House    Status       Allegiance  \
0          Jon Snow      Stark     Alive    Night's Watch
1        Arya Stark      Stark     Alive      House Stark
2  Cersei Lannister  Lannister  Deceased  House Lannister
3   Jaime Lannister        NaN       NaN              NaN

                   Actor  Age  Seasons
0          Kit Harington   30        8
1        Maisie Williams   20        8
2            Lena Headey   42        8
3  Nikolaj Coster-Waldau   45        8

In [28]:
# Example 20: Merging two DataFrames using the merge function with outer join
print("\nExample 20: Merging two DataFrames using the merge function with outer join:")
merged_outer_func = pd.merge(got_df1, got_df2, on='Name', how='outer')
print(merged_outer_func)

Example 20: Merging two DataFrames using the merge function with outer join:
                 Name      House    Status       Allegiance  \
0            Jon Snow      Stark     Alive    Night's Watch
1  Daenerys Targaryen  Targaryen  Deceased  House Targaryen
2    Tyrion Lannister  Lannister     Alive  House Lannister
3          Arya Stark      Stark     Alive      House Stark
4    Cersei Lannister  Lannister  Deceased  House Lannister
5     Jaime Lannister        NaN       NaN              NaN

                   Actor   Age  Seasons
0          Kit Harington  30.0      8.0
1                    NaN   NaN      NaN
2                    NaN   NaN      NaN
3        Maisie Williams  20.0      8.0
4            Lena Headey  42.0      8.0
5  Nikolaj Coster-Waldau  45.0      8.0

In [29]:
# Example 21: Merging two DataFrames using the merge function with inner join
print("\nExample 21: Merging two DataFrames using the merge function with inner join:")
merged_inner_func = pd.merge(got_df1, got_df2, on='Name', how='inner')
print(merged_inner_func)

Example 21: Merging two DataFrames using the merge function with inner join:
               Name      House    Status       Allegiance            Actor  \
0          Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1        Arya Stark      Stark     Alive      House Stark  Maisie Williams
2  Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

   Age  Seasons
0   30        8
1   20        8
2   42        8

In [30]:
# Example 22: Merging two DataFrames on multiple columns using the merge function
print("\nExample 22: Merging two DataFrames on multiple columns using the merge function:")
merged_multiple_cols_func = pd.merge(got_df1, got_df2, on=['Name', 'House'])
print(merged_multiple_cols_func)

Example 22: Merging two DataFrames on multiple columns using the merge function:

KeyError: 'House'

In [31]:
# Example 23: Merging two DataFrames using the merge function and handling suffixes
print("\nExample 23: Merging two DataFrames using the merge function and handling suffixes:")
merged_suffixes_func = pd.merge(got_df1, got_df2, on='Name', suffixes=('_1', '_2'))
print(merged_suffixes_func)

Example 23: Merging two DataFrames using the merge function and handling suffixes:
               Name      House    Status       Allegiance            Actor  \
0          Jon Snow      Stark     Alive    Night's Watch    Kit Harington
1        Arya Stark      Stark     Alive      House Stark  Maisie Williams
2  Cersei Lannister  Lannister  Deceased  House Lannister      Lena Headey

   Age  Seasons
0   30        8
1   20        8
2   42        8

In [32]:
# Example 24: Merging two DataFrames using the merge function and handling overlapping columns
print("\nExample 24: Merging two DataFrames using the merge function and handling overlapping columns:")
merged_overlap_func = pd.merge(got_df1, got_df4, on='Name', suffixes=('_original', '_additional'))
print(merged_overlap_func)

Example 24: Merging two DataFrames using the merge function and handling overlapping columns:
               Name House_original Status_original Allegiance_original  \
0          Jon Snow          Stark           Alive       Night's Watch
1        Arya Stark          Stark           Alive         House Stark
2  Cersei Lannister      Lannister        Deceased     House Lannister

  House_additional Status_additional Allegiance_additional  Age  Episodes
0            Stark             Alive         Night's Watch   30        73
1            Stark             Alive           House Stark   20        59
2        Lannister          Deceased       House Lannister   42        62

In [33]:
# Example 25: Merging two DataFrames on multiple columns and specifying the type of join using the merge function
print("\nExample 25: Merging two DataFrames on multiple columns and specifying the type of join using the merge function:")
merged_multi_join_func = pd.merge(got_df1, got_df2, on=['Name', 'House'], how='inner')
print(merged_multi_join_func)

Example 25: Merging two DataFrames on multiple columns and specifying the type of join using the merge function:

KeyError: 'House'