In [1]:
import pandas as pd

In [2]:
# Creating DataFrames for Game of Thrones characters
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Allegiance': ['Night\'s Watch', 'House Targaryen', 'House Lannister', 'House Stark', 'House Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Age': [30, 24, 38, 20, 42],
    'Seasons': [8, 8, 8, 8, 8],
    'Episodes': [73, 62, 67, 59, 62],
    'Total_Kills': [7, 10, 3, 5, 12]
}
got_df = pd.DataFrame(data)
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House       Allegiance    Status  Age  Seasons  \
0            Jon Snow      Stark    Night's Watch     Alive   30        8
1  Daenerys Targaryen  Targaryen  House Targaryen  Deceased   24        8
2    Tyrion Lannister  Lannister  House Lannister     Alive   38        8
3          Arya Stark      Stark      House Stark     Alive   20        8
4    Cersei Lannister  Lannister  House Lannister  Deceased   42        8

   Episodes  Total_Kills
0        73            7
1        62           10
2        67            3
3        59            5
4        62           12

In [3]:
# Example 1: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and 'House' as columns
print("\nExample 1: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and 'House' as columns:")
pivoted_df1 = got_df.pivot(index='Name', columns='House', values='Age')
print(pivoted_df1)

Example 1: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and 'House' as columns:
House               Lannister  Stark  Targaryen
Name
Arya Stark                NaN   20.0        NaN
Cersei Lannister         42.0    NaN        NaN
Daenerys Targaryen        NaN    NaN       24.0
Jon Snow                  NaN   30.0        NaN
Tyrion Lannister         38.0    NaN        NaN

In [4]:
# Example 2: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and 'Status' as columns
print("\nExample 2: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and 'Status' as columns:")
pivoted_df2 = got_df.pivot(index='Name', columns='Status', values='Seasons')
print(pivoted_df2)

Example 2: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and 'Status' as columns:
Status              Alive  Deceased
Name
Arya Stark            8.0       NaN
Cersei Lannister      NaN       8.0
Daenerys Targaryen    NaN       8.0
Jon Snow              8.0       NaN
Tyrion Lannister      8.0       NaN

In [5]:
# Example 3: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and multiple values for columns
print("\nExample 3: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and multiple values for columns:")
pivoted_df3 = got_df.pivot(index='Name', columns='House', values=['Age', 'Seasons'])
print(pivoted_df3)

Example 3: Pivoting the DataFrame to reshape it (long to wide format) based on 'Name' as index and multiple values for columns:
                         Age                   Seasons
House              Lannister Stark Targaryen Lannister Stark Targaryen
Name
Arya Stark               NaN  20.0       NaN       NaN   8.0       NaN
Cersei Lannister        42.0   NaN       NaN       8.0   NaN       NaN
Daenerys Targaryen       NaN   NaN      24.0       NaN   NaN       8.0
Jon Snow                 NaN  30.0       NaN       NaN   8.0       NaN
Tyrion Lannister        38.0   NaN       NaN       8.0   NaN       NaN

In [6]:
# Example 4: Pivoting the DataFrame and handling missing values using fill_value parameter
print("\nExample 4: Pivoting the DataFrame and handling missing values using fill_value parameter:")
pivoted_fill_value = got_df.pivot(index='Name', columns='House', values='Total_Kills').fillna(0)
print(pivoted_fill_value)

Example 4: Pivoting the DataFrame and handling missing values using fill_value parameter:
House               Lannister  Stark  Targaryen
Name
Arya Stark                0.0    5.0        0.0
Cersei Lannister         12.0    0.0        0.0
Daenerys Targaryen        0.0    0.0       10.0
Jon Snow                  0.0    7.0        0.0
Tyrion Lannister          3.0    0.0        0.0

In [7]:
# Example 5: Pivoting the DataFrame and handling duplicate values using aggfunc parameter (summing Total_Kills for duplicate Name-House pairs)
print("\nExample 5: Pivoting the DataFrame and handling duplicate values using aggfunc parameter:")
pivoted_aggfunc = got_df.pivot_table(index='Name', columns='House', values='Total_Kills', aggfunc='sum')
print(pivoted_aggfunc)

Example 5: Pivoting the DataFrame and handling duplicate values using aggfunc parameter:
House               Lannister  Stark  Targaryen
Name
Arya Stark                NaN    5.0        NaN
Cersei Lannister         12.0    NaN        NaN
Daenerys Targaryen        NaN    NaN       10.0
Jon Snow                  NaN    7.0        NaN
Tyrion Lannister          3.0    NaN        NaN

In [8]:
# Example 6: Melting the DataFrame to reshape it (wide to long format) by converting columns to rows
print("\nExample 6: Melting the DataFrame to reshape it (wide to long format) by converting columns to rows:")
melted_df = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'])
print(melted_df)

Example 6: Melting the DataFrame to reshape it (wide to long format) by converting columns to rows:
                  Name      House  variable  value
0             Jon Snow      Stark       Age     30
1   Daenerys Targaryen  Targaryen       Age     24
2     Tyrion Lannister  Lannister       Age     38
3           Arya Stark      Stark       Age     20
4     Cersei Lannister  Lannister       Age     42
5             Jon Snow      Stark   Seasons      8
6   Daenerys Targaryen  Targaryen   Seasons      8
7     Tyrion Lannister  Lannister   Seasons      8
8           Arya Stark      Stark   Seasons      8
9     Cersei Lannister  Lannister   Seasons      8
10            Jon Snow      Stark  Episodes     73
11  Daenerys Targaryen  Targaryen  Episodes     62
12    Tyrion Lannister  Lannister  Episodes     67
13          Arya Stark      Stark  Episodes     59
14    Cersei Lannister  Lannister  Episodes     62

In [9]:
# Example 7: Melting the DataFrame and setting custom column names for the variable and value columns
print("\nExample 7: Melting the DataFrame and setting custom column names for the variable and value columns:")
melted_custom_names = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'], var_name='Attributes', value_name='Values')
print(melted_custom_names)

Example 7: Melting the DataFrame and setting custom column names for the variable and value columns:
                  Name      House Attributes  Values
0             Jon Snow      Stark        Age      30
1   Daenerys Targaryen  Targaryen        Age      24
2     Tyrion Lannister  Lannister        Age      38
3           Arya Stark      Stark        Age      20
4     Cersei Lannister  Lannister        Age      42
5             Jon Snow      Stark    Seasons       8
6   Daenerys Targaryen  Targaryen    Seasons       8
7     Tyrion Lannister  Lannister    Seasons       8
8           Arya Stark      Stark    Seasons       8
9     Cersei Lannister  Lannister    Seasons       8
10            Jon Snow      Stark   Episodes      73
11  Daenerys Targaryen  Targaryen   Episodes      62
12    Tyrion Lannister  Lannister   Episodes      67
13          Arya Stark      Stark   Episodes      59
14    Cersei Lannister  Lannister   Episodes      62

In [10]:
# Example 8: Melting the DataFrame and specifying the value columns using value_name parameter
print("\nExample 8: Melting the DataFrame and specifying the value columns using value_name parameter:")
melted_value_cols = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'], value_name='Characteristic')
print(melted_value_cols)

Example 8: Melting the DataFrame and specifying the value columns using value_name parameter:
                  Name      House  variable  Characteristic
0             Jon Snow      Stark       Age              30
1   Daenerys Targaryen  Targaryen       Age              24
2     Tyrion Lannister  Lannister       Age              38
3           Arya Stark      Stark       Age              20
4     Cersei Lannister  Lannister       Age              42
5             Jon Snow      Stark   Seasons               8
6   Daenerys Targaryen  Targaryen   Seasons               8
7     Tyrion Lannister  Lannister   Seasons               8
8           Arya Stark      Stark   Seasons               8
9     Cersei Lannister  Lannister   Seasons               8
10            Jon Snow      Stark  Episodes              73
11  Daenerys Targaryen  Targaryen  Episodes              62
12    Tyrion Lannister  Lannister  Episodes              67
13          Arya Stark      Stark  Episodes              59
14    Cersei Lannister  Lannister  Episodes              62

In [11]:
# Example 9: Melting the DataFrame and using multiple columns as identifier variables
print("\nExample 9: Melting the DataFrame and using multiple columns as identifier variables:")
melted_multiple_id_vars = pd.melt(got_df, id_vars=['Name', 'House', 'Status'], value_vars=['Age', 'Seasons', 'Episodes'])
print(melted_multiple_id_vars)

Example 9: Melting the DataFrame and using multiple columns as identifier variables:
                  Name      House    Status  variable  value
0             Jon Snow      Stark     Alive       Age     30
1   Daenerys Targaryen  Targaryen  Deceased       Age     24
2     Tyrion Lannister  Lannister     Alive       Age     38
3           Arya Stark      Stark     Alive       Age     20
4     Cersei Lannister  Lannister  Deceased       Age     42
5             Jon Snow      Stark     Alive   Seasons      8
6   Daenerys Targaryen  Targaryen  Deceased   Seasons      8
7     Tyrion Lannister  Lannister     Alive   Seasons      8
8           Arya Stark      Stark     Alive   Seasons      8
9     Cersei Lannister  Lannister  Deceased   Seasons      8
10            Jon Snow      Stark     Alive  Episodes     73
11  Daenerys Targaryen  Targaryen  Deceased  Episodes     62
12    Tyrion Lannister  Lannister     Alive  Episodes     67
13          Arya Stark      Stark     Alive  Episodes     59
14    Cersei Lannister  Lannister  Deceased  Episodes     62

In [12]:
# Example 10: Melting the DataFrame and specifying which columns to keep as identifier variables using var_name parameter
print("\nExample 10: Melting the DataFrame and specifying which columns to keep as identifier variables using var_name parameter:")
melted_keep_id_vars = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'], var_name='Attribute')
print(melted_keep_id_vars)

Example 10: Melting the DataFrame and specifying which columns to keep as identifier variables using var_name parameter:
                  Name      House Attribute  value
0             Jon Snow      Stark       Age     30
1   Daenerys Targaryen  Targaryen       Age     24
2     Tyrion Lannister  Lannister       Age     38
3           Arya Stark      Stark       Age     20
4     Cersei Lannister  Lannister       Age     42
5             Jon Snow      Stark   Seasons      8
6   Daenerys Targaryen  Targaryen   Seasons      8
7     Tyrion Lannister  Lannister   Seasons      8
8           Arya Stark      Stark   Seasons      8
9     Cersei Lannister  Lannister   Seasons      8
10            Jon Snow      Stark  Episodes     73
11  Daenerys Targaryen  Targaryen  Episodes     62
12    Tyrion Lannister  Lannister  Episodes     67
13          Arya Stark      Stark  Episodes     59
14    Cersei Lannister  Lannister  Episodes     62

In [13]:
# Example 11: Melting the DataFrame and specifying which columns to keep as identifier variables using id_vars parameter
print("\nExample 11: Melting the DataFrame and specifying which columns to keep as identifier variables using id_vars parameter:")
melted_keep_id_vars_2 = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons'], var_name='Attributes')
print(melted_keep_id_vars_2)

Example 11: Melting the DataFrame and specifying which columns to keep as identifier variables using id_vars parameter:
                 Name      House Attributes  value
0            Jon Snow      Stark        Age     30
1  Daenerys Targaryen  Targaryen        Age     24
2    Tyrion Lannister  Lannister        Age     38
3          Arya Stark      Stark        Age     20
4    Cersei Lannister  Lannister        Age     42
5            Jon Snow      Stark    Seasons      8
6  Daenerys Targaryen  Targaryen    Seasons      8
7    Tyrion Lannister  Lannister    Seasons      8
8          Arya Stark      Stark    Seasons      8
9    Cersei Lannister  Lannister    Seasons      8

In [14]:
# Example 12: Melting the DataFrame and filtering rows based on a condition (keeping only Age and Seasons)
print("\nExample 12: Melting the DataFrame and filtering rows based on a condition (keeping only Age and Seasons):")
melted_filter_rows = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'])
melted_filter_rows = melted_filter_rows[melted_filter_rows['Attributes'].isin(['Age', 'Seasons'])]
print(melted_filter_rows)

Example 12: Melting the DataFrame and filtering rows based on a condition (keeping only Age and Seasons):

KeyError: 'Attributes'

In [15]:
# Example 13: Melting the DataFrame and renaming the column values in the variable column
print("\nExample 13: Melting the DataFrame and renaming the column values in the variable column:")
melted_rename_vars = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'])
melted_rename_vars['Attributes'] = melted_rename_vars['Attributes'].map({'Age': 'Character Age', 'Seasons': 'Total Seasons', 'Episodes': 'Total Episodes'})
print(melted_rename_vars)

Example 13: Melting the DataFrame and renaming the column values in the variable column:

KeyError: 'Attributes'

In [16]:
# Example 14: Melting the DataFrame and resetting the index
print("\nExample 14: Melting the DataFrame and resetting the index:")
melted_reset_index = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'])
melted_reset_index = melted_reset_index.reset_index(drop=True)
print(melted_reset_index)

Example 14: Melting the DataFrame and resetting the index:
                  Name      House  variable  value
0             Jon Snow      Stark       Age     30
1   Daenerys Targaryen  Targaryen       Age     24
2     Tyrion Lannister  Lannister       Age     38
3           Arya Stark      Stark       Age     20
4     Cersei Lannister  Lannister       Age     42
5             Jon Snow      Stark   Seasons      8
6   Daenerys Targaryen  Targaryen   Seasons      8
7     Tyrion Lannister  Lannister   Seasons      8
8           Arya Stark      Stark   Seasons      8
9     Cersei Lannister  Lannister   Seasons      8
10            Jon Snow      Stark  Episodes     73
11  Daenerys Targaryen  Targaryen  Episodes     62
12    Tyrion Lannister  Lannister  Episodes     67
13          Arya Stark      Stark  Episodes     59
14    Cersei Lannister  Lannister  Episodes     62

In [17]:
# Example 15: Melting the DataFrame and sorting the values by the variable and value columns
print("\nExample 15: Melting the DataFrame and sorting the values by the variable and value columns:")
melted_sort_values = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'])
melted_sort_values = melted_sort_values.sort_values(by=['Attributes', 'value'])
print(melted_sort_values)

Example 15: Melting the DataFrame and sorting the values by the variable and value columns:

KeyError: 'Attributes'

In [18]:
# Example 16: Melting the DataFrame and specifying the data type for the value column
print("\nExample 16: Melting the DataFrame and specifying the data type for the value column:")
melted_data_type = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'], value_name='Characteristics')
melted_data_type['Characteristics'] = melted_data_type['Characteristics'].astype(str)
print(melted_data_type)

Example 16: Melting the DataFrame and specifying the data type for the value column:
                  Name      House  variable Characteristics
0             Jon Snow      Stark       Age              30
1   Daenerys Targaryen  Targaryen       Age              24
2     Tyrion Lannister  Lannister       Age              38
3           Arya Stark      Stark       Age              20
4     Cersei Lannister  Lannister       Age              42
5             Jon Snow      Stark   Seasons               8
6   Daenerys Targaryen  Targaryen   Seasons               8
7     Tyrion Lannister  Lannister   Seasons               8
8           Arya Stark      Stark   Seasons               8
9     Cersei Lannister  Lannister   Seasons               8
10            Jon Snow      Stark  Episodes              73
11  Daenerys Targaryen  Targaryen  Episodes              62
12    Tyrion Lannister  Lannister  Episodes              67
13          Arya Stark      Stark  Episodes              59
14    Cersei Lannister  Lannister  Episodes              62

In [19]:
# Example 17: Melting the DataFrame and converting the long format to a Series using set_index
print("\nExample 17: Melting the DataFrame and converting the long format to a Series using set_index:")
melted_series = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'])
melted_series = melted_series.set_index(['Name', 'House', 'Attributes'])
print(melted_series)

Example 17: Melting the DataFrame and converting the long format to a Series using set_index:

KeyError: "None of ['Attributes'] are in the columns"

In [20]:
# Example 18: Melting the DataFrame and combining multiple identifier variables into a single column
print("\nExample 18: Melting the DataFrame and combining multiple identifier variables into a single column:")
melted_combine_id_vars = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'], var_name='Characteristics')
melted_combine_id_vars['Identifier'] = melted_combine_id_vars['Name'] + " - " + melted_combine_id_vars['House'] + " - " + melted_combine_id_vars['Characteristics']
melted_combine_id_vars.drop(columns=['Name', 'House', 'Characteristics'], inplace=True)
print(melted_combine_id_vars)

Example 18: Melting the DataFrame and combining multiple identifier variables into a single column:
    value                                 Identifier
0      30                     Jon Snow - Stark - Age
1      24       Daenerys Targaryen - Targaryen - Age
2      38         Tyrion Lannister - Lannister - Age
3      20                   Arya Stark - Stark - Age
4      42         Cersei Lannister - Lannister - Age
5       8                 Jon Snow - Stark - Seasons
6       8   Daenerys Targaryen - Targaryen - Seasons
7       8     Tyrion Lannister - Lannister - Seasons
8       8               Arya Stark - Stark - Seasons
9       8     Cersei Lannister - Lannister - Seasons
10     73                Jon Snow - Stark - Episodes
11     62  Daenerys Targaryen - Targaryen - Episodes
12     67    Tyrion Lannister - Lannister - Episodes
13     59              Arya Stark - Stark - Episodes
14     62    Cersei Lannister - Lannister - Episodes

In [21]:
# Example 19: Melting the DataFrame and filling missing values in the variable column
print("\nExample 19: Melting the DataFrame and filling missing values in the variable column:")
melted_fill_na = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'], var_name='Attribute')
melted_fill_na['Attribute'] = melted_fill_na['Attribute'].fillna('Unknown')
print(melted_fill_na)

Example 19: Melting the DataFrame and filling missing values in the variable column:
                  Name      House Attribute  value
0             Jon Snow      Stark       Age     30
1   Daenerys Targaryen  Targaryen       Age     24
2     Tyrion Lannister  Lannister       Age     38
3           Arya Stark      Stark       Age     20
4     Cersei Lannister  Lannister       Age     42
5             Jon Snow      Stark   Seasons      8
6   Daenerys Targaryen  Targaryen   Seasons      8
7     Tyrion Lannister  Lannister   Seasons      8
8           Arya Stark      Stark   Seasons      8
9     Cersei Lannister  Lannister   Seasons      8
10            Jon Snow      Stark  Episodes     73
11  Daenerys Targaryen  Targaryen  Episodes     62
12    Tyrion Lannister  Lannister  Episodes     67
13          Arya Stark      Stark  Episodes     59
14    Cersei Lannister  Lannister  Episodes     62

In [22]:
# Example 20: Melting the DataFrame and dropping duplicate rows
print("\nExample 20: Melting the DataFrame and dropping duplicate rows:")
melted_drop_duplicates = pd.melt(got_df, id_vars=['Name', 'House'], value_vars=['Age', 'Seasons', 'Episodes'], var_name='Attributes')
melted_drop_duplicates.drop_duplicates(inplace=True)
print(melted_drop_duplicates)

Example 20: Melting the DataFrame and dropping duplicate rows:
                  Name      House Attributes  value
0             Jon Snow      Stark        Age     30
1   Daenerys Targaryen  Targaryen        Age     24
2     Tyrion Lannister  Lannister        Age     38
3           Arya Stark      Stark        Age     20
4     Cersei Lannister  Lannister        Age     42
5             Jon Snow      Stark    Seasons      8
6   Daenerys Targaryen  Targaryen    Seasons      8
7     Tyrion Lannister  Lannister    Seasons      8
8           Arya Stark      Stark    Seasons      8
9     Cersei Lannister  Lannister    Seasons      8
10            Jon Snow      Stark   Episodes     73
11  Daenerys Targaryen  Targaryen   Episodes     62
12    Tyrion Lannister  Lannister   Episodes     67
13          Arya Stark      Stark   Episodes     59
14    Cersei Lannister  Lannister   Episodes     62