In [1]:
import pandas as pd

In [2]:
# Creating DataFrames for Game of Thrones characters
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Age': [30, 24, 38, 20, 42],
    'Seasons': [8, 8, 8, 8, 8],
    'Episodes': [73, 62, 67, 59, 62],
    'Total_Kills': [7, 10, 3, 5, 12]
}
got_df = pd.DataFrame(data)
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House    Status  Age  Seasons  Episodes  \
0            Jon Snow      Stark     Alive   30        8        73
1  Daenerys Targaryen  Targaryen  Deceased   24        8        62
2    Tyrion Lannister  Lannister     Alive   38        8        67
3          Arya Stark      Stark     Alive   20        8        59
4    Cersei Lannister  Lannister  Deceased   42        8        62

   Total_Kills
0            7
1           10
2            3
3            5
4           12

In [3]:
# Example 1: Creating a MultiIndex DataFrame with 'Name' and 'House' as levels
print("\nExample 1: Creating a MultiIndex DataFrame with 'Name' and 'House' as levels:")
multi_index_df1 = got_df.set_index(['Name', 'House'])
print(multi_index_df1)

Example 1: Creating a MultiIndex DataFrame with 'Name' and 'House' as levels:
                                Status  Age  Seasons  Episodes  Total_Kills
Name               House
Jon Snow           Stark         Alive   30        8        73            7
Daenerys Targaryen Targaryen  Deceased   24        8        62           10
Tyrion Lannister   Lannister     Alive   38        8        67            3
Arya Stark         Stark         Alive   20        8        59            5
Cersei Lannister   Lannister  Deceased   42        8        62           12

In [4]:
# Example 2: Accessing data from a MultiIndex DataFrame using loc
print("\nExample 2: Accessing data from a MultiIndex DataFrame using loc:")
print(multi_index_df1.loc['Jon Snow'])

Example 2: Accessing data from a MultiIndex DataFrame using loc:
      Status  Age  Seasons  Episodes  Total_Kills
House
Stark  Alive   30        8        73            7

In [5]:
# Example 3: Accessing data from a MultiIndex DataFrame using xs
print("\nExample 3: Accessing data from a MultiIndex DataFrame using xs:")
print(multi_index_df1.xs('Tyrion Lannister', level='Name'))

Example 3: Accessing data from a MultiIndex DataFrame using xs:
          Status  Age  Seasons  Episodes  Total_Kills
House
Lannister  Alive   38        8        67            3

In [6]:
# Example 4: Accessing data from a MultiIndex DataFrame using xs with multiple levels
print("\nExample 4: Accessing data from a MultiIndex DataFrame using xs with multiple levels:")
print(multi_index_df1.xs(('Arya Stark', 'Stark'), level=('Name', 'House')))

Example 4: Accessing data from a MultiIndex DataFrame using xs with multiple levels:
                 Status  Age  Seasons  Episodes  Total_Kills
Name       House
Arya Stark Stark  Alive   20        8        59            5

In [7]:
# Example 5: Accessing data from a MultiIndex DataFrame using slicers
print("\nExample 5: Accessing data from a MultiIndex DataFrame using slicers:")
idx = pd.IndexSlice
print(multi_index_df1.loc[idx[:, 'Lannister'], :])

Example 5: Accessing data from a MultiIndex DataFrame using slicers:
                              Status  Age  Seasons  Episodes  Total_Kills
Name             House
Tyrion Lannister Lannister     Alive   38        8        67            3
Cersei Lannister Lannister  Deceased   42        8        62           12

In [8]:
# Example 6: Resetting one level of the MultiIndex
print("\nExample 6: Resetting one level of the MultiIndex:")
reset_index_df1 = multi_index_df1.reset_index(level='House')
print(reset_index_df1)

Example 6: Resetting one level of the MultiIndex:
                        House    Status  Age  Seasons  Episodes  Total_Kills
Name
Jon Snow                Stark     Alive   30        8        73            7
Daenerys Targaryen  Targaryen  Deceased   24        8        62           10
Tyrion Lannister    Lannister     Alive   38        8        67            3
Arya Stark              Stark     Alive   20        8        59            5
Cersei Lannister    Lannister  Deceased   42        8        62           12

In [9]:
# Example 7: Resetting all levels of the MultiIndex
print("\nExample 7: Resetting all levels of the MultiIndex:")
reset_all_index_df1 = multi_index_df1.reset_index()
print(reset_all_index_df1)

Example 7: Resetting all levels of the MultiIndex:
                 Name      House    Status  Age  Seasons  Episodes  \
0            Jon Snow      Stark     Alive   30        8        73
1  Daenerys Targaryen  Targaryen  Deceased   24        8        62
2    Tyrion Lannister  Lannister     Alive   38        8        67
3          Arya Stark      Stark     Alive   20        8        59
4    Cersei Lannister  Lannister  Deceased   42        8        62

   Total_Kills
0            7
1           10
2            3
3            5
4           12

In [10]:
# Example 8: Setting a new level in the MultiIndex
print("\nExample 8: Setting a new level in the MultiIndex:")
got_df_copy = got_df.copy()
got_df_copy['Character Type'] = ['Main', 'Main', 'Supporting', 'Main', 'Supporting']
multi_index_df2 = got_df_copy.set_index(['Character Type', 'Name', 'House'])
print(multi_index_df2)

Example 8: Setting a new level in the MultiIndex:
                                               Status  Age  Seasons  Episodes  \
Character Type Name               House
Main           Jon Snow           Stark         Alive   30        8        73
               Daenerys Targaryen Targaryen  Deceased   24        8        62
Supporting     Tyrion Lannister   Lannister     Alive   38        8        67
Main           Arya Stark         Stark         Alive   20        8        59
Supporting     Cersei Lannister   Lannister  Deceased   42        8        62

                                             Total_Kills
Character Type Name               House
Main           Jon Snow           Stark                7
               Daenerys Targaryen Targaryen           10
Supporting     Tyrion Lannister   Lannister            3
Main           Arya Stark         Stark                5
Supporting     Cersei Lannister   Lannister           12

In [11]:
# Example 9: Sorting the MultiIndex DataFrame
print("\nExample 9: Sorting the MultiIndex DataFrame:")
sorted_index_df2 = multi_index_df2.sort_index()
print(sorted_index_df2)

Example 9: Sorting the MultiIndex DataFrame:
                                               Status  Age  Seasons  Episodes  \
Character Type Name               House
Main           Arya Stark         Stark         Alive   20        8        59
               Daenerys Targaryen Targaryen  Deceased   24        8        62
               Jon Snow           Stark         Alive   30        8        73
Supporting     Cersei Lannister   Lannister  Deceased   42        8        62
               Tyrion Lannister   Lannister     Alive   38        8        67

                                             Total_Kills
Character Type Name               House
Main           Arya Stark         Stark                5
               Daenerys Targaryen Targaryen           10
               Jon Snow           Stark                7
Supporting     Cersei Lannister   Lannister           12
               Tyrion Lannister   Lannister            3

In [12]:
# Example 10: Swapping levels in the MultiIndex DataFrame
print("\nExample 10: Swapping levels in the MultiIndex DataFrame:")
swapped_levels_df2 = sorted_index_df2.swaplevel('Name', 'House')
print(swapped_levels_df2)

Example 10: Swapping levels in the MultiIndex DataFrame:
                                               Status  Age  Seasons  Episodes  \
Character Type House     Name
Main           Stark     Arya Stark             Alive   20        8        59
               Targaryen Daenerys Targaryen  Deceased   24        8        62
               Stark     Jon Snow               Alive   30        8        73
Supporting     Lannister Cersei Lannister    Deceased   42        8        62
                         Tyrion Lannister       Alive   38        8        67

                                             Total_Kills
Character Type House     Name
Main           Stark     Arya Stark                    5
               Targaryen Daenerys Targaryen           10
               Stark     Jon Snow                      7
Supporting     Lannister Cersei Lannister             12
                         Tyrion Lannister              3

In [13]:
# Example 11: Grouping data in the MultiIndex DataFrame
print("\nExample 11: Grouping data in the MultiIndex DataFrame:")
grouped_df1 = got_df.groupby(['House', 'Status']).agg({'Age': 'mean', 'Seasons': 'sum', 'Episodes': 'sum'})
print(grouped_df1)

Example 11: Grouping data in the MultiIndex DataFrame:
                     Age  Seasons  Episodes
House     Status
Lannister Alive     38.0        8        67
          Deceased  42.0        8        62
Stark     Alive     25.0       16       132
Targaryen Deceased  24.0        8        62

In [14]:
# Example 12: Stacking the MultiIndex DataFrame
print("\nExample 12: Stacking the MultiIndex DataFrame:")
stacked_df1 = grouped_df1.stack()
print(stacked_df1)

Example 12: Stacking the MultiIndex DataFrame:
House      Status
Lannister  Alive     Age          38.0
                     Seasons       8.0
                     Episodes     67.0
           Deceased  Age          42.0
                     Seasons       8.0
                     Episodes     62.0
Stark      Alive     Age          25.0
                     Seasons      16.0
                     Episodes    132.0
Targaryen  Deceased  Age          24.0
                     Seasons       8.0
                     Episodes     62.0
dtype: float64

In [15]:
# Example 13: Unstacking the MultiIndex DataFrame
print("\nExample 13: Unstacking the MultiIndex DataFrame:")
unstacked_df1 = stacked_df1.unstack()
print(unstacked_df1)

Example 13: Unstacking the MultiIndex DataFrame:
                     Age  Seasons  Episodes
House     Status
Lannister Alive     38.0      8.0      67.0
          Deceased  42.0      8.0      62.0
Stark     Alive     25.0     16.0     132.0
Targaryen Deceased  24.0      8.0      62.0

In [16]:
# Example 14: Unstacking a specific level of the MultiIndex DataFrame
print("\nExample 14: Unstacking a specific level of the MultiIndex DataFrame:")
unstacked_level_df1 = stacked_df1.unstack(level='Status')
print(unstacked_level_df1)

Example 14: Unstacking a specific level of the MultiIndex DataFrame:
Status              Alive  Deceased
House
Lannister Age        38.0      42.0
          Seasons     8.0       8.0
          Episodes   67.0      62.0
Stark     Age        25.0       NaN
          Seasons    16.0       NaN
          Episodes  132.0       NaN
Targaryen Age         NaN      24.0
          Seasons     NaN       8.0
          Episodes    NaN      62.0

In [17]:
# Example 15: Filling missing values after unstacking the MultiIndex DataFrame
print("\nExample 15: Filling missing values after unstacking the MultiIndex DataFrame:")
filled_na_df1 = unstacked_level_df1.fillna(0)
print(filled_na_df1)

Example 15: Filling missing values after unstacking the MultiIndex DataFrame:
Status              Alive  Deceased
House
Lannister Age        38.0      42.0
          Seasons     8.0       8.0
          Episodes   67.0      62.0
Stark     Age        25.0       0.0
          Seasons    16.0       0.0
          Episodes  132.0       0.0
Targaryen Age         0.0      24.0
          Seasons     0.0       8.0
          Episodes    0.0      62.0

In [18]:
# Example 16: Creating a MultiIndex DataFrame using pivot_table
print("\nExample 16: Creating a MultiIndex DataFrame using pivot_table:")
pivot_table_df1 = pd.pivot_table(got_df, index=['House', 'Status'], values='Age', aggfunc='mean')
print(pivot_table_df1)

Example 16: Creating a MultiIndex DataFrame using pivot_table:
                    Age
House     Status
Lannister Alive      38
          Deceased   42
Stark     Alive      25
Targaryen Deceased   24

In [19]:
# Example 17: Creating a MultiIndex DataFrame using pivot_table with multiple values and aggregation functions
print("\nExample 17: Creating a MultiIndex DataFrame using pivot_table with multiple values and aggregation functions:")
pivot_table_df2 = pd.pivot_table(got_df, index=['House', 'Status'], values=['Age', 'Seasons'], aggfunc={'Age': 'mean', 'Seasons': 'sum'})
print(pivot_table_df2)

Example 17: Creating a MultiIndex DataFrame using pivot_table with multiple values and aggregation functions:
                    Age  Seasons
House     Status
Lannister Alive      38        8
          Deceased   42        8
Stark     Alive      25       16
Targaryen Deceased   24        8

In [20]:
# Example 18: Creating a MultiIndex DataFrame using crosstab
print("\nExample 18: Creating a MultiIndex DataFrame using crosstab:")
crosstab_df1 = pd.crosstab(got_df['House'], got_df['Status'])
print(crosstab_df1)

Example 18: Creating a MultiIndex DataFrame using crosstab:
Status     Alive  Deceased
House
Lannister      1         1
Stark          2         0
Targaryen      0         1

In [21]:
# Example 19: Creating a MultiIndex DataFrame using crosstab with row and column margins
print("\nExample 19: Creating a MultiIndex DataFrame using crosstab with row and column margins:")
crosstab_df2 = pd.crosstab(got_df['House'], got_df['Status'], margins=True, margins_name='Total')
print(crosstab_df2)

Example 19: Creating a MultiIndex DataFrame using crosstab with row and column margins:
Status     Alive  Deceased  Total
House
Lannister      1         1      2
Stark          2         0      2
Targaryen      0         1      1
Total          3         2      5

In [22]:
# Example 20: Creating a MultiIndex DataFrame using groupby and unstack
print("\nExample 20: Creating a MultiIndex DataFrame using groupby and unstack:")
grouped_df2 = got_df.groupby(['House', 'Status'])['Age'].mean().unstack()
print(grouped_df2)

Example 20: Creating a MultiIndex DataFrame using groupby and unstack:
Status     Alive  Deceased
House
Lannister   38.0      42.0
Stark       25.0       NaN
Targaryen    NaN      24.0

In [24]:
# Example 21: Creating a MultiIndex DataFrame using groupby and pivot
print("\nExample 21: Creating a MultiIndex DataFrame using groupby and pivot:")
grouped_df3 = got_df.groupby(['House', 'Status']).pivot(columns='Name', values='Episodes').fillna(0)
print(grouped_df3)

Example 21: Creating a MultiIndex DataFrame using groupby and pivot:

AttributeError: 'DataFrameGroupBy' object has no attribute 'pivot'

In [25]:
# Example 22: Creating a MultiIndex DataFrame using groupby and apply
print("\nExample 22: Creating a MultiIndex DataFrame using groupby and apply:")
def custom_function(series):
    return series.max() - series.min()

grouped_df4 = got_df.groupby(['House', 'Status'])['Age'].apply(custom_function).unstack()
print(grouped_df4)

Example 22: Creating a MultiIndex DataFrame using groupby and apply:
Status     Alive  Deceased
House
Lannister    0.0       0.0
Stark       10.0       NaN
Targaryen    NaN       0.0

In [26]:
# Example 23: Creating a MultiIndex DataFrame using melt
print("\nExample 23: Creating a MultiIndex DataFrame using melt:")
melted_df1 = pd.melt(got_df, id_vars=['House', 'Status'], value_vars=['Age', 'Seasons'], var_name='Attributes', value_name='Values')
melted_df1.set_index(['House', 'Status', 'Attributes'], inplace=True)
print(melted_df1)

Example 23: Creating a MultiIndex DataFrame using melt:
                               Values
House     Status   Attributes
Stark     Alive    Age             30
Targaryen Deceased Age             24
Lannister Alive    Age             38
Stark     Alive    Age             20
Lannister Deceased Age             42
Stark     Alive    Seasons          8
Targaryen Deceased Seasons          8
Lannister Alive    Seasons          8
Stark     Alive    Seasons          8
Lannister Deceased Seasons          8

In [27]:
# Example 24: Reshaping a MultiIndex DataFrame using melt and pivot
print("\nExample 24: Reshaping a MultiIndex DataFrame using melt and pivot:")
melted_df2 = pd.melt(got_df, id_vars=['House', 'Status'], value_vars=['Age', 'Seasons'], var_name='Attributes', value_name='Values')
pivot_df1 = melted_df2.pivot(index=['House', 'Status'], columns='Attributes', values='Values')
print(pivot_df1)

Example 24: Reshaping a MultiIndex DataFrame using melt and pivot:

ValueError: Index contains duplicate entries, cannot reshape

In [28]:
# Example 25: Creating a MultiIndex DataFrame using concat
print("\nExample 25: Creating a MultiIndex DataFrame using concat:")
got_df1 = got_df[got_df['House'] == 'Stark'].set_index('Name')
got_df2 = got_df[got_df['House'] == 'Lannister'].set_index('Name')
concat_df1 = pd.concat([got_df1, got_df2], keys=['Stark', 'Lannister'], names=['House'])
print(concat_df1)

Example 25: Creating a MultiIndex DataFrame using concat:
                                House    Status  Age  Seasons  Episodes  \
House     Name
Stark     Jon Snow              Stark     Alive   30        8        73
          Arya Stark            Stark     Alive   20        8        59
Lannister Tyrion Lannister  Lannister     Alive   38        8        67
          Cersei Lannister  Lannister  Deceased   42        8        62

                            Total_Kills
House     Name
Stark     Jon Snow                    7
          Arya Stark                  5
Lannister Tyrion Lannister            3
          Cersei Lannister           12