In [1]:
import pandas as pd

In [2]:
# Creating a time series DataFrame for Game of Thrones character appearances
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Appearance_Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'Total_Appearances': [10, 12, 15, 8, 6],
    'Battles_Fought': [3, 5, 2, 1, 4]
}
got_df = pd.DataFrame(data)
got_df['Appearance_Date'] = pd.to_datetime(got_df['Appearance_Date'])

In [3]:
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House    Status Appearance_Date  Total_Appearances  \
0            Jon Snow      Stark     Alive      2022-01-01                 10
1  Daenerys Targaryen  Targaryen  Deceased      2022-01-02                 12
2    Tyrion Lannister  Lannister     Alive      2022-01-03                 15
3          Arya Stark      Stark     Alive      2022-01-04                  8
4    Cersei Lannister  Lannister  Deceased      2022-01-05                  6

   Battles_Fought
0               3
1               5
2               2
3               1
4               4

In [4]:
# Example 1: Creating a time series DataFrame from a list of dates
print("\nExample 1: Creating a time series DataFrame from a list of dates:")
dates = pd.date_range(start='2022-01-01', periods=5, freq='D')
time_series_df1 = pd.DataFrame({'Date': dates, 'Total_Appearances': [10, 12, 15, 8, 6]})
time_series_df1.set_index('Date', inplace=True)
print(time_series_df1)

Example 1: Creating a time series DataFrame from a list of dates:
            Total_Appearances
Date
2022-01-01                 10
2022-01-02                 12
2022-01-03                 15
2022-01-04                  8
2022-01-05                  6

In [5]:
# Example 2: Creating a time series DataFrame using pd.Series
print("\nExample 2: Creating a time series DataFrame using pd.Series:")
dates = pd.date_range(start='2022-01-01', periods=5, freq='D')
total_appearances = pd.Series([10, 12, 15, 8, 6], index=dates)
time_series_df2 = pd.DataFrame({'Total_Appearances': total_appearances})
print(time_series_df2)

Example 2: Creating a time series DataFrame using pd.Series:
            Total_Appearances
2022-01-01                 10
2022-01-02                 12
2022-01-03                 15
2022-01-04                  8
2022-01-05                  6

In [6]:
# Example 3: Creating a time series DataFrame with datetime index and multiple columns
print("\nExample 3: Creating a time series DataFrame with datetime index and multiple columns:")
dates = pd.date_range(start='2022-01-01', periods=5, freq='D')
appearances = [10, 12, 15, 8, 6]
battles = [3, 5, 2, 1, 4]
time_series_df3 = pd.DataFrame({'Total_Appearances': appearances, 'Battles_Fought': battles}, index=dates)
print(time_series_df3)

Example 3: Creating a time series DataFrame with datetime index and multiple columns:
            Total_Appearances  Battles_Fought
2022-01-01                 10               3
2022-01-02                 12               5
2022-01-03                 15               2
2022-01-04                  8               1
2022-01-05                  6               4

In [7]:
# Example 4: Creating a time series DataFrame with daily frequency
print("\nExample 4: Creating a time series DataFrame with daily frequency:")
daily_df = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
print(daily_df)

Example 4: Creating a time series DataFrame with daily frequency:
DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# Example 5: Creating a time series DataFrame with monthly frequency
print("\nExample 5: Creating a time series DataFrame with monthly frequency:")
monthly_df = pd.date_range(start='2022-01-01', end='2022-12-01', freq='M')
print(monthly_df)

Example 5: Creating a time series DataFrame with monthly frequency:
DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30'],
              dtype='datetime64[ns]', freq='M')