In [1]:
import pandas as pd

In [2]:
# Creating a time series DataFrame for Game of Thrones character appearances
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Appearance_Date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'Total_Appearances': [10, 12, 15, 8, 6],
    'Battles_Fought': [3, 5, 2, 1, 4]
}
got_df = pd.DataFrame(data)
got_df['Appearance_Date'] = pd.to_datetime(got_df['Appearance_Date'])

In [3]:
print("Game of Thrones Characters DataFrame:")
print(got_df)

Game of Thrones Characters DataFrame:
                 Name      House    Status Appearance_Date  Total_Appearances  \
0            Jon Snow      Stark     Alive      2022-01-01                 10
1  Daenerys Targaryen  Targaryen  Deceased      2022-01-02                 12
2    Tyrion Lannister  Lannister     Alive      2022-01-03                 15
3          Arya Stark      Stark     Alive      2022-01-04                  8
4    Cersei Lannister  Lannister  Deceased      2022-01-05                  6

   Battles_Fought
0               3
1               5
2               2
3               1
4               4

In [4]:
# Example 1: Creating a time series DataFrame from a list of dates
print("\nExample 1: Creating a time series DataFrame from a list of dates:")
dates = pd.date_range(start='2022-01-01', periods=5, freq='D')
time_series_df1 = pd.DataFrame({'Date': dates, 'Total_Appearances': [10, 12, 15, 8, 6]})
time_series_df1.set_index('Date', inplace=True)
print(time_series_df1)

Example 1: Creating a time series DataFrame from a list of dates:
            Total_Appearances
Date
2022-01-01                 10
2022-01-02                 12
2022-01-03                 15
2022-01-04                  8
2022-01-05                  6

In [5]:
# Example 2: Creating a time series DataFrame using pd.Series
print("\nExample 2: Creating a time series DataFrame using pd.Series:")
dates = pd.date_range(start='2022-01-01', periods=5, freq='D')
total_appearances = pd.Series([10, 12, 15, 8, 6], index=dates)
time_series_df2 = pd.DataFrame({'Total_Appearances': total_appearances})
print(time_series_df2)

Example 2: Creating a time series DataFrame using pd.Series:
            Total_Appearances
2022-01-01                 10
2022-01-02                 12
2022-01-03                 15
2022-01-04                  8
2022-01-05                  6

In [6]:
# Example 3: Creating a time series DataFrame with datetime index and multiple columns
print("\nExample 3: Creating a time series DataFrame with datetime index and multiple columns:")
dates = pd.date_range(start='2022-01-01', periods=5, freq='D')
appearances = [10, 12, 15, 8, 6]
battles = [3, 5, 2, 1, 4]
time_series_df3 = pd.DataFrame({'Total_Appearances': appearances, 'Battles_Fought': battles}, index=dates)
print(time_series_df3)

Example 3: Creating a time series DataFrame with datetime index and multiple columns:
            Total_Appearances  Battles_Fought
2022-01-01                 10               3
2022-01-02                 12               5
2022-01-03                 15               2
2022-01-04                  8               1
2022-01-05                  6               4

In [7]:
# Example 4: Creating a time series DataFrame with daily frequency
print("\nExample 4: Creating a time series DataFrame with daily frequency:")
daily_df = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
print(daily_df)

Example 4: Creating a time series DataFrame with daily frequency:
DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# Example 5: Creating a time series DataFrame with monthly frequency
print("\nExample 5: Creating a time series DataFrame with monthly frequency:")
monthly_df = pd.date_range(start='2022-01-01', end='2022-12-01', freq='M')
print(monthly_df)

Example 5: Creating a time series DataFrame with monthly frequency:
DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30'],
              dtype='datetime64[ns]', freq='M')

In [9]:
# Example 6: Creating a time series DataFrame with annual frequency
print("\nExample 6: Creating a time series DataFrame with annual frequency:")
annual_df = pd.date_range(start='2022-01-01', end='2030-01-01', freq='Y')
print(annual_df)

Example 6: Creating a time series DataFrame with annual frequency:
DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [10]:
# Example 7: Extracting date components from the datetime index
print("\nExample 7: Extracting date components from the datetime index:")
time_series_df3['Year'] = time_series_df3.index.year
time_series_df3['Month'] = time_series_df3.index.month
time_series_df3['Day'] = time_series_df3.index.day
time_series_df3['Weekday'] = time_series_df3.index.weekday
print(time_series_df3)

Example 7: Extracting date components from the datetime index:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

In [11]:
# Example 8: Filtering data based on a specific date range
print("\nExample 8: Filtering data based on a specific date range:")
start_date = '2022-01-02'
end_date = '2022-01-04'
filtered_df = got_df[(got_df['Appearance_Date'] >= start_date) & (got_df['Appearance_Date'] <= end_date)]
print(filtered_df)

Example 8: Filtering data based on a specific date range:
                 Name      House    Status Appearance_Date  Total_Appearances  \
1  Daenerys Targaryen  Targaryen  Deceased      2022-01-02                 12
2    Tyrion Lannister  Lannister     Alive      2022-01-03                 15
3          Arya Stark      Stark     Alive      2022-01-04                  8

   Battles_Fought
1               5
2               2
3               1

In [12]:
# Example 9: Resampling the time series DataFrame to a different frequency (e.g., weekly)
print("\nExample 9: Resampling the time series DataFrame to a different frequency (e.g., weekly):")
weekly_df = time_series_df3.resample('W').sum()
print(weekly_df)

Example 9: Resampling the time series DataFrame to a different frequency (e.g., weekly):
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday
2022-01-02                 22               8  4044      2    3       11
2022-01-09                 29               7  6066      3   12        3

In [13]:
# Example 10: Resampling the time series DataFrame and using different aggregation functions
print("\nExample 10: Resampling the time series DataFrame and using different aggregation functions:")
resampled_df = time_series_df3.resample('M').agg({'Total_Appearances': 'sum', 'Battles_Fought': 'mean'})
print(resampled_df)

Example 10: Resampling the time series DataFrame and using different aggregation functions:
            Total_Appearances  Battles_Fought
2022-01-31                 51             3.0

In [14]:
# Example 11: Forward filling missing values in the time series DataFrame
print("\nExample 11: Forward filling missing values in the time series DataFrame:")
forward_filled_df = time_series_df3.resample('D').ffill()
print(forward_filled_df)

Example 11: Forward filling missing values in the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

In [15]:
# Example 12: Backward filling missing values in the time series DataFrame
print("\nExample 12: Backward filling missing values in the time series DataFrame:")
backward_filled_df = time_series_df3.resample('D').bfill()
print(backward_filled_df)

Example 12: Backward filling missing values in the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

In [16]:
# Example 13: Interpolating missing values in the time series DataFrame
print("\nExample 13: Interpolating missing values in the time series DataFrame:")
interpolated_df = time_series_df3.resample('D').interpolate()
print(interpolated_df)

Example 13: Interpolating missing values in the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

In [17]:
# Example 14: Shifting data in the time series DataFrame
print("\nExample 14: Shifting data in the time series DataFrame:")
time_series_df3['Total_Appearances_Shifted'] = time_series_df3['Total_Appearances'].shift(periods=1)
print(time_series_df3)

Example 14: Shifting data in the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday  \
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

            Total_Appearances_Shifted
2022-01-01                        NaN
2022-01-02                       10.0
2022-01-03                       12.0
2022-01-04                       15.0
2022-01-05                        8.0

In [18]:
# Example 15: Calculating the percentage change in values for a time series
print("\nExample 15: Calculating the percentage change in values for a time series:")
time_series_df3['Total_Appearances_Pct_Change'] = time_series_df3['Total_Appearances'].pct_change() * 100
print(time_series_df3)

Example 15: Calculating the percentage change in values for a time series:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday  \
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

            Total_Appearances_Shifted  Total_Appearances_Pct_Change
2022-01-01                        NaN                           NaN
2022-01-02                       10.0                     20.000000
2022-01-03                       12.0                     25.000000
2022-01-04                       15.0                    -46.666667
2022-01-05                        8.0                    -25.000000

In [19]:
# Example 16: Rolling window calculations for the time series DataFrame
print("\nExample 16: Rolling window calculations for the time series DataFrame:")
time_series_df3['Total_Appearances_Rolling_Sum'] = time_series_df3['Total_Appearances'].rolling(window=3).sum()
print(time_series_df3)

Example 16: Rolling window calculations for the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday  \
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

            Total_Appearances_Shifted  Total_Appearances_Pct_Change  \
2022-01-01                        NaN                           NaN
2022-01-02                       10.0                     20.000000
2022-01-03                       12.0                     25.000000
2022-01-04                       15.0                    -46.666667
2022-01-05                        8.0                    -25.000000

            Total_Appearances_Rolling_Sum
2022-01-01                            NaN
2022-01-02                            NaN
2022-01-03                           37.0
2022-01-04                           35.0
2022-01-05                           29.0

In [20]:
# Example 17: Expanding window calculations for the time series DataFrame
print("\nExample 17: Expanding window calculations for the time series DataFrame:")
time_series_df3['Total_Appearances_Expanding_Sum'] = time_series_df3['Total_Appearances'].expanding().sum()
print(time_series_df3)

Example 17: Expanding window calculations for the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday  \
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

            Total_Appearances_Shifted  Total_Appearances_Pct_Change  \
2022-01-01                        NaN                           NaN
2022-01-02                       10.0                     20.000000
2022-01-03                       12.0                     25.000000
2022-01-04                       15.0                    -46.666667
2022-01-05                        8.0                    -25.000000

            Total_Appearances_Rolling_Sum  Total_Appearances_Expanding_Sum
2022-01-01                            NaN                             10.0
2022-01-02                            NaN                             22.0
2022-01-03                           37.0                             37.0
2022-01-04                           35.0                             45.0
2022-01-05                           29.0                             51.0

In [21]:
# Example 18: Reindexing the time series DataFrame with a new date range
print("\nExample 18: Reindexing the time series DataFrame with a new date range:")
new_dates = pd.date_range(start='2022-01-01', periods=7, freq='D')
reindexed_df = time_series_df3.reindex(new_dates)
print(reindexed_df)

Example 18: Reindexing the time series DataFrame with a new date range:
            Total_Appearances  Battles_Fought    Year  Month  Day  Weekday  \
2022-01-01               10.0             3.0  2022.0    1.0  1.0      5.0
2022-01-02               12.0             5.0  2022.0    1.0  2.0      6.0
2022-01-03               15.0             2.0  2022.0    1.0  3.0      0.0
2022-01-04                8.0             1.0  2022.0    1.0  4.0      1.0
2022-01-05                6.0             4.0  2022.0    1.0  5.0      2.0
2022-01-06                NaN             NaN     NaN    NaN  NaN      NaN
2022-01-07                NaN             NaN     NaN    NaN  NaN      NaN

            Total_Appearances_Shifted  Total_Appearances_Pct_Change  \
2022-01-01                        NaN                           NaN
2022-01-02                       10.0                     20.000000
2022-01-03                       12.0                     25.000000
2022-01-04                       15.0                    -46.666667
2022-01-05                        8.0                    -25.000000
2022-01-06                        NaN                           NaN
2022-01-07                        NaN                           NaN

            Total_Appearances_Rolling_Sum  Total_Appearances_Expanding_Sum
2022-01-01                            NaN                             10.0
2022-01-02                            NaN                             22.0
2022-01-03                           37.0                             37.0
2022-01-04                           35.0                             45.0
2022-01-05                           29.0                             51.0
2022-01-06                            NaN                              NaN
2022-01-07                            NaN                              NaN

In [22]:
# Example 19: Filling missing values after reindexing the time series DataFrame
print("\nExample 19: Filling missing values after reindexing the time series DataFrame:")
reindexed_filled_df = time_series_df3.reindex(new_dates, method='ffill')
print(reindexed_filled_df)

Example 19: Filling missing values after reindexing the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday  \
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2
2022-01-06                  6               4  2022      1    5        2
2022-01-07                  6               4  2022      1    5        2

            Total_Appearances_Shifted  Total_Appearances_Pct_Change  \
2022-01-01                        NaN                           NaN
2022-01-02                       10.0                     20.000000
2022-01-03                       12.0                     25.000000
2022-01-04                       15.0                    -46.666667
2022-01-05                        8.0                    -25.000000
2022-01-06                        8.0                    -25.000000
2022-01-07                        8.0                    -25.000000

            Total_Appearances_Rolling_Sum  Total_Appearances_Expanding_Sum
2022-01-01                            NaN                             10.0
2022-01-02                            NaN                             22.0
2022-01-03                           37.0                             37.0
2022-01-04                           35.0                             45.0
2022-01-05                           29.0                             51.0
2022-01-06                           29.0                             51.0
2022-01-07                           29.0                             51.0

In [23]:
# Example 20: Creating a time series DataFrame with a time zone
print("\nExample 20: Creating a time series DataFrame with a time zone:")
dates = pd.date_range(start='2022-01-01', periods=5, freq='D', tz='Asia/Kolkata')
time_zone_df = pd.DataFrame({'Date': dates, 'Total_Appearances': [10, 12, 15, 8, 6]})
time_zone_df.set_index('Date', inplace=True)
print(time_zone_df)

Example 20: Creating a time series DataFrame with a time zone:
                           Total_Appearances
Date
2022-01-01 00:00:00+05:30                 10
2022-01-02 00:00:00+05:30                 12
2022-01-03 00:00:00+05:30                 15
2022-01-04 00:00:00+05:30                  8
2022-01-05 00:00:00+05:30                  6

In [24]:
# Example 21: Converting the time zone of the time series DataFrame
print("\nExample 21: Converting the time zone of the time series DataFrame:")
time_zone_df_utc = time_zone_df.tz_convert('UTC')
print(time_zone_df_utc)

Example 21: Converting the time zone of the time series DataFrame:
                           Total_Appearances
Date
2021-12-31 18:30:00+00:00                 10
2022-01-01 18:30:00+00:00                 12
2022-01-02 18:30:00+00:00                 15
2022-01-03 18:30:00+00:00                  8
2022-01-04 18:30:00+00:00                  6

In [25]:
# Example 22: Creating a date range with a time zone
print("\nExample 22: Creating a date range with a time zone:")
date_range_tz = pd.date_range(start='2022-01-01', periods=5, freq='D', tz='Asia/Kolkata')
print(date_range_tz)

Example 22: Creating a date range with a time zone:
DatetimeIndex(['2022-01-01 00:00:00+05:30', '2022-01-02 00:00:00+05:30',
               '2022-01-03 00:00:00+05:30', '2022-01-04 00:00:00+05:30',
               '2022-01-05 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='D')

In [26]:
# Example 23: Calculating time differences in the time series DataFrame
print("\nExample 23: Calculating time differences in the time series DataFrame:")
time_series_df3['Time_Difference'] = time_series_df3.index.to_series().diff()
print(time_series_df3)

Example 23: Calculating time differences in the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday  \
2022-01-01                 10               3  2022      1    1        5
2022-01-02                 12               5  2022      1    2        6
2022-01-03                 15               2  2022      1    3        0
2022-01-04                  8               1  2022      1    4        1
2022-01-05                  6               4  2022      1    5        2

            Total_Appearances_Shifted  Total_Appearances_Pct_Change  \
2022-01-01                        NaN                           NaN
2022-01-02                       10.0                     20.000000
2022-01-03                       12.0                     25.000000
2022-01-04                       15.0                    -46.666667
2022-01-05                        8.0                    -25.000000

            Total_Appearances_Rolling_Sum  Total_Appearances_Expanding_Sum  \
2022-01-01                            NaN                             10.0
2022-01-02                            NaN                             22.0
2022-01-03                           37.0                             37.0
2022-01-04                           35.0                             45.0
2022-01-05                           29.0                             51.0

           Time_Difference
2022-01-01             NaT
2022-01-02          1 days
2022-01-03          1 days
2022-01-04          1 days
2022-01-05          1 days

In [27]:
# Example 24: Selecting data for a specific time of day in the time series DataFrame
print("\nExample 24: Selecting data for a specific time of day in the time series DataFrame:")
time_series_df3['Time'] = time_series_df3.index.time
time_series_df3_at_noon = time_series_df3[time_series_df3['Time'] == pd.to_datetime('12:00:00').time()]
print(time_series_df3_at_noon)

Example 24: Selecting data for a specific time of day in the time series DataFrame:
Empty DataFrame
Columns: [Total_Appearances, Battles_Fought, Year, Month, Day, Weekday, Total_Appearances_Shifted, Total_Appearances_Pct_Change, Total_Appearances_Rolling_Sum, Total_Appearances_Expanding_Sum, Time_Difference, Time]
Index: []

In [28]:
# Example 25: Selecting data for a specific day of the week in the time series DataFrame
print("\nExample 25: Selecting data for a specific day of the week in the time series DataFrame:")
time_series_df3['Day_of_Week'] = time_series_df3.index.dayofweek
time_series_df3_monday = time_series_df3[time_series_df3['Day_of_Week'] == 0]
print(time_series_df3_monday)

Example 25: Selecting data for a specific day of the week in the time series DataFrame:
            Total_Appearances  Battles_Fought  Year  Month  Day  Weekday  \
2022-01-03                 15               2  2022      1    3        0

            Total_Appearances_Shifted  Total_Appearances_Pct_Change  \
2022-01-03                       12.0                          25.0

            Total_Appearances_Rolling_Sum  Total_Appearances_Expanding_Sum  \
2022-01-03                           37.0                             37.0

           Time_Difference      Time  Day_of_Week
2022-01-03          1 days  00:00:00            0