In [1]:
import pandas as pd

In [2]:
# Create a sample DataFrame
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Age': [35, 30, 40, 18, 45],
    'Total_Appearances': [10, 12, 15, 8, 6],
    'Battles_Fought': [3, 5, 2, 1, 4]
}
df = pd.DataFrame(data)

In [3]:
# Example 1: Applying a function to a DataFrame column
def add_5_years(age):
    return age + 5

df['Age_5_Years_Later'] = df['Age'].apply(add_5_years)
print("Example 1:")
print(df)

Example 1:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark     Alive   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister     Alive   40                 15
3          Arya Stark      Stark     Alive   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later
0               3                 40
1               5                 35
2               2                 45
3               1                 23
4               4                 50

In [4]:
# Example 2: Applying a lambda function to a DataFrame column
df['Age_10_Years_Later'] = df['Age'].apply(lambda age: age + 10)
print("\nExample 2:")
print(df)

Example 2:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark     Alive   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister     Alive   40                 15
3          Arya Stark      Stark     Alive   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later
0               3                 40                  45
1               5                 35                  40
2               2                 45                  50
3               1                 23                  28
4               4                 50                  55

In [5]:
# Example 3: Applying a function element-wise to a DataFrame using applymap()
def format_name(name):
    return name.upper()

df['Formatted_Name'] = df['Name'].applymap(format_name)
print("\nExample 3:")
print(df)

AttributeError: 'Series' object has no attribute 'applymap'

In [6]:
# Example 4: Applying a function row-wise to a DataFrame using apply()
def get_status_summary(row):
    return 'Alive' if row['Status'] == 'Alive' else 'Deceased'

df['Status_Summary'] = df.apply(get_status_summary, axis=1)
print("\nExample 4:")
print(df)

Example 4:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark     Alive   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister     Alive   40                 15
3          Arya Stark      Stark     Alive   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

In [7]:
# Example 5: Applying a function element-wise to a Series using map()
houses = {'Stark': 'Winterfell', 'Targaryen': 'Dragonstone', 'Lannister': 'Casterly Rock'}
df['House_Location'] = df['House'].map(houses)
print("\nExample 5:")
print(df)

Example 5:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark     Alive   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister     Alive   40                 15
3          Arya Stark      Stark     Alive   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location
0     Winterfell
1    Dragonstone
2  Casterly Rock
3     Winterfell
4  Casterly Rock

In [8]:
# Example 6: Applying a function to multiple DataFrame columns
def total_characters(row):
    return row['Total_Appearances'] + row['Battles_Fought']

df['Total_Characters'] = df.apply(total_characters, axis=1)
print("\nExample 6:")
print(df)

Example 6:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark     Alive   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister     Alive   40                 15
3          Arya Stark      Stark     Alive   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters
0     Winterfell                13
1    Dragonstone                17
2  Casterly Rock                17
3     Winterfell                 9
4  Casterly Rock                10

In [9]:
# Example 7: Applying a function element-wise to a Series with conditional logic
def age_category(age):
    if age < 25:
        return 'Young'
    elif age >= 25 and age < 40:
        return 'Adult'
    else:
        return 'Senior'

df['Age_Category'] = df['Age'].apply(age_category)
print("\nExample 7:")
print(df)

Example 7:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark     Alive   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister     Alive   40                 15
3          Arya Stark      Stark     Alive   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters Age_Category
0     Winterfell                13        Adult
1    Dragonstone                17        Adult
2  Casterly Rock                17       Senior
3     Winterfell                 9        Young
4  Casterly Rock                10       Senior

In [10]:
# Example 8: Using the map() function with a dictionary for data replacement
status_mapping = {'Alive': 1, 'Deceased': 0}
df['Status_Code'] = df['Status'].map(status_mapping)
print("\nExample 8:")
print(df)

Example 8:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark     Alive   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister     Alive   40                 15
3          Arya Stark      Stark     Alive   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters Age_Category  Status_Code
0     Winterfell                13        Adult            1
1    Dragonstone                17        Adult            0
2  Casterly Rock                17       Senior            1
3     Winterfell                 9        Young            1
4  Casterly Rock                10       Senior            0

In [11]:
# Example 9: Using the replace() function to replace values in a DataFrame
df.replace({'Alive': 'Living', 'Deceased': 'Dead'}, inplace=True)
print("\nExample 9:")
print(df)

Example 9:
                 Name      House  Status  Age  Total_Appearances  \
0            Jon Snow      Stark  Living   35                 10
1  Daenerys Targaryen  Targaryen    Dead   30                 12
2    Tyrion Lannister  Lannister  Living   40                 15
3          Arya Stark      Stark  Living   18                  8
4    Cersei Lannister  Lannister    Dead   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45         Living
1               5                 35                  40           Dead
2               2                 45                  50         Living
3               1                 23                  28         Living
4               4                 50                  55           Dead

  House_Location  Total_Characters Age_Category  Status_Code
0     Winterfell                13        Adult            1
1    Dragonstone                17        Adult            0
2  Casterly Rock                17       Senior            1
3     Winterfell                 9        Young            1
4  Casterly Rock                10       Senior            0

In [12]:
# Example 10: Applying a function element-wise to a Series and creating a new DataFrame
df['Name_Length'] = df['Name'].apply(len)
name_lengths_df = df[['Name', 'Name_Length']]
print("\nExample 10:")
print(name_lengths_df)

Example 10:
                 Name  Name_Length
0            Jon Snow            8
1  Daenerys Targaryen           18
2    Tyrion Lannister           16
3          Arya Stark           10
4    Cersei Lannister           16

In [13]:
# Example 11: Applying multiple functions to a DataFrame using applymap()
def format_name_upper(name):
    return name.upper()

def format_name_lower(name):
    return name.lower()

df['Formatted_Name_Upper'] = df['Name'].applymap(format_name_upper)
df['Formatted_Name_Lower'] = df['Name'].applymap(format_name_lower)
print("\nExample 11:")
print(df)

AttributeError: 'Series' object has no attribute 'applymap'

In [14]:
# Example 12: Applying a function to a DataFrame column and creating a new DataFrame
def age_in_months(age):
    return age * 12

age_in_months_df = pd.DataFrame(df['Age'].apply(age_in_months), columns=['Age_in_Months'])
print("\nExample 12:")
print(age_in_months_df)

Example 12:
Empty DataFrame
Columns: [Age_in_Months]
Index: []

In [15]:
# Example 13: Applying a function to a DataFrame group using groupby and transform()
average_appearances = df.groupby('House')['Total_Appearances'].transform('mean')
df['Average_Appearances'] = average_appearances
print("\nExample 13:")
print(df)

Example 13:
                 Name      House  Status  Age  Total_Appearances  \
0            Jon Snow      Stark  Living   35                 10
1  Daenerys Targaryen  Targaryen    Dead   30                 12
2    Tyrion Lannister  Lannister  Living   40                 15
3          Arya Stark      Stark  Living   18                  8
4    Cersei Lannister  Lannister    Dead   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45         Living
1               5                 35                  40           Dead
2               2                 45                  50         Living
3               1                 23                  28         Living
4               4                 50                  55           Dead

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [16]:
# Example 14: Applying a function to a DataFrame group using groupby and apply()
def count_alive_characters(group):
    return group[group['Status'] == 'Alive'].shape[0]

alive_characters_count = df.groupby('House').apply(count_alive_characters)
print("\nExample 14:")
print(alive_characters_count)

# Example 15: Applying a function to a DataFrame group using groupby and agg()
def aggregate_data(group):
    return {
        'Total_Appearances': group['Total_Appearances'].sum(),
        'Battles_Fought': group['Battles_Fought'].sum()
    }

grouped_data = df.groupby('House').agg(aggregate_data)
print("\nExample 15:")
print(grouped_data)

Example 14:
House
Lannister    0
Stark        0
Targaryen    0
dtype: int64

KeyError: 'Total_Appearances'

In [17]:
# Example 16: Applying a function to a DataFrame group and combining the result with transform()
def count_alive_characters(group):
    return group[group['Status'] == 'Alive'].shape[0]

alive_characters_count = df.groupby('House')['Status'].transform(count_alive_characters)
df['Alive_Characters_Count'] = alive_characters_count
print("\nExample 16:")
print(df)

KeyError: 'Status'

In [18]:
# Example 17: Applying a function to a DataFrame column using the map() method
status_mapping = {'Alive': 'Living', 'Deceased': 'Dead'}
df['Status'] = df['Status'].map(status_mapping)
print("\nExample 17:")
print(df)

Example 17:
                 Name      House Status  Age  Total_Appearances  \
0            Jon Snow      Stark    NaN   35                 10
1  Daenerys Targaryen  Targaryen    NaN   30                 12
2    Tyrion Lannister  Lannister    NaN   40                 15
3          Arya Stark      Stark    NaN   18                  8
4    Cersei Lannister  Lannister    NaN   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45         Living
1               5                 35                  40           Dead
2               2                 45                  50         Living
3               1                 23                  28         Living
4               4                 50                  55           Dead

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [19]:
# Example 18: Applying a function element-wise to a DataFrame using the apply() method
def get_status_summary(row):
    return 'Alive' if row['Status'] == 'Living' else 'Deceased'

df['Status'] = df.apply(get_status_summary, axis=1)
print("\nExample 18:")
print(df)

# Example 19: Using the applymap() method to apply a function element-wise to a DataFrame
df['Name'] = df['Name'].applymap(str.upper)
print("\nExample 19:")
print(df)

Example 18:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark  Deceased   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister  Deceased   40                 15
3          Arya Stark      Stark  Deceased   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45         Living
1               5                 35                  40           Dead
2               2                 45                  50         Living
3               1                 23                  28         Living
4               4                 50                  55           Dead

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

AttributeError: 'Series' object has no attribute 'applymap'

In [20]:
# Example 20: Applying a function element-wise to a Series and creating a new DataFrame
df['Name_Length'] = df['Name'].apply(len)
name_lengths_df = df[['Name', 'Name_Length']]
print("\nExample 20:")
print(name_lengths_df)

# Example 21: Applying a function element-wise to a Series with conditional logic
def age_category(age):
    if age < 25:
        return 'Young'
    elif age >= 25 and age < 40:
        return 'Adult'
    else:
        return 'Senior'

df['Age_Category'] = df['Age'].apply(age_category)
print("\nExample 21:")
print(df)

Example 20:
                 Name  Name_Length
0            Jon Snow            8
1  Daenerys Targaryen           18
2    Tyrion Lannister           16
3          Arya Stark           10
4    Cersei Lannister           16

Example 21:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark  Deceased   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister  Deceased   40                 15
3          Arya Stark      Stark  Deceased   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45         Living
1               5                 35                  40           Dead
2               2                 45                  50         Living
3               1                 23                  28         Living
4               4                 50                  55           Dead

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [21]:
# Example 22: Using the map() function with a dictionary for data replacement
status_mapping = {'Living': 'Alive', 'Dead': 'Deceased'}
df['Status'] = df['Status'].map(status_mapping)
print("\nExample 22:")
print(df)

Example 22:
                 Name      House Status  Age  Total_Appearances  \
0            Jon Snow      Stark    NaN   35                 10
1  Daenerys Targaryen  Targaryen    NaN   30                 12
2    Tyrion Lannister  Lannister    NaN   40                 15
3          Arya Stark      Stark    NaN   18                  8
4    Cersei Lannister  Lannister    NaN   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45         Living
1               5                 35                  40           Dead
2               2                 45                  50         Living
3               1                 23                  28         Living
4               4                 50                  55           Dead

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [22]:
# Example 23: Using the replace() function to replace values in a DataFrame
df.replace({'Living': 'Alive', 'Dead': 'Deceased'}, inplace=True)
print("\nExample 23:")
print(df)

Example 23:
                 Name      House  Status  Age  Total_Appearances  \
0            Jon Snow      Stark     NaN   35                 10
1  Daenerys Targaryen  Targaryen     NaN   30                 12
2    Tyrion Lannister  Lannister     NaN   40                 15
3          Arya Stark      Stark     NaN   18                  8
4    Cersei Lannister  Lannister     NaN   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [23]:
# Example 24: Applying a function element-wise to a Series and creating a new DataFrame
df['Name_Length'] = df['Name'].apply(len)
name_lengths_df = df[['Name', 'Name_Length']]
print("\nExample 24:")
print(name_lengths_df)

Example 24:
                 Name  Name_Length
0            Jon Snow            8
1  Daenerys Targaryen           18
2    Tyrion Lannister           16
3          Arya Stark           10
4    Cersei Lannister           16

In [24]:
# Example 25: Applying multiple functions to a DataFrame using applymap()
def format_name_upper(name):
    return name.upper()

def format_name_lower(name):
    return name.lower()

df['Formatted_Name_Upper'] = df['Name'].applymap(format_name_upper)
df['Formatted_Name_Lower'] = df['Name'].applymap(format_name_lower)
print("\nExample 25:")
print(df)

AttributeError: 'Series' object has no attribute 'applymap'

In [26]:
# Example 26: Applying a function to a DataFrame column and creating a new DataFrame
def age_in_months(age):
    return age * 12

age_in_months_df = pd.DataFrame(df['Age'].apply(age_in_months), columns=['Age_in_Months'])
print("\nExample 26:")
print(age_in_months_df)

# Example 27: Applying a function to a DataFrame group using groupby and transform()
average_appearances = df.groupby('House')['Total_Appearances'].transform('mean')
df['Average_Appearances'] = average_appearances
print("\nExample 27:")
print(df)

Example 26:
Empty DataFrame
Columns: [Age_in_Months]
Index: []

Example 27:
                 Name      House  Status  Age  Total_Appearances  \
0            Jon Snow      Stark     NaN   35                 10
1  Daenerys Targaryen  Targaryen     NaN   30                 12
2    Tyrion Lannister  Lannister     NaN   40                 15
3          Arya Stark      Stark     NaN   18                  8
4    Cersei Lannister  Lannister     NaN   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [27]:
# Example 28: Applying a function to a DataFrame group using groupby and apply()
def count_alive_characters(group):
    return group[group['Status'] == 'Alive'].shape[0]

alive_characters_count = df.groupby('House').apply(count_alive_characters)
print("\nExample 28:")
print(alive_characters_count)

# Example 29: Applying a function to a DataFrame group using groupby and agg()
def aggregate_data(group):
    return {
        'Total_Appearances': group['Total_Appearances'].sum(),
        'Battles_Fought': group['Battles_Fought'].sum()
    }

grouped_data = df.groupby('House').agg(aggregate_data)
print("\nExample 29:")
print(grouped_data)

Example 28:
House
Lannister    0
Stark        0
Targaryen    0
dtype: int64

KeyError: 'Total_Appearances'

In [28]:
# Example 30: Applying a function to a DataFrame group and combining the result with transform()
def count_alive_characters(group):
    return group[group['Status'] == 'Alive'].shape[0]

alive_characters_count = df.groupby('House')['Status'].transform(count_alive_characters)
df['Alive_Characters_Count'] = alive_characters_count
print("\nExample 30:")
print(df)

KeyError: 'Status'

In [29]:
# Example 31: Applying a function to a DataFrame column using the map() method
status_mapping = {'Alive': 'Living', 'Deceased': 'Dead'}
df['Status'] = df['Status'].map(status_mapping)
print("\nExample 31:")
print(df)

Example 31:
                 Name      House Status  Age  Total_Appearances  \
0            Jon Snow      Stark    NaN   35                 10
1  Daenerys Targaryen  Targaryen    NaN   30                 12
2    Tyrion Lannister  Lannister    NaN   40                 15
3          Arya Stark      Stark    NaN   18                  8
4    Cersei Lannister  Lannister    NaN   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [30]:
# Example 32: Applying a function element-wise to a DataFrame using the apply() method
def get_status_summary(row):
    return 'Alive' if row['Status'] == 'Living' else 'Deceased'

df['Status'] = df.apply(get_status_summary, axis=1)
print("\nExample 32:")
print(df)

Example 32:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark  Deceased   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister  Deceased   40                 15
3          Arya Stark      Stark  Deceased   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5

In [31]:
# Example 33: Using the applymap() method to apply a function element-wise to a DataFrame
df['Name'] = df['Name'].applymap(str.upper)
print("\nExample 33:")
print(df)

AttributeError: 'Series' object has no attribute 'applymap'

In [32]:
# Example 34: Applying a function element-wise to a Series and creating a new DataFrame
df['Name_Length'] = df['Name'].apply(len)
name_lengths_df = df[['Name', 'Name_Length']]
print("\nExample 34:")
print(name_lengths_df)

Example 34:
                 Name  Name_Length
0            Jon Snow            8
1  Daenerys Targaryen           18
2    Tyrion Lannister           16
3          Arya Stark           10
4    Cersei Lannister           16

In [33]:
# Example 35: Applying a function element-wise to a Series with conditional logic
def age_category(age):
    if age < 25:
        return 'Young'
    elif age >= 25 and age < 40:
        return 'Adult'
    else:
        return 'Senior'

df['Age_Category'] = df['Age'].apply(age_category)
print("\nExample 35:")
print(df)

Example 35:
                 Name      House    Status  Age  Total_Appearances  \
0            Jon Snow      Stark  Deceased   35                 10
1  Daenerys Targaryen  Targaryen  Deceased   30                 12
2    Tyrion Lannister  Lannister  Deceased   40                 15
3          Arya Stark      Stark  Deceased   18                  8
4    Cersei Lannister  Lannister  Deceased   45                  6

   Battles_Fought  Age_5_Years_Later  Age_10_Years_Later Status_Summary  \
0               3                 40                  45          Alive
1               5                 35                  40       Deceased
2               2                 45                  50          Alive
3               1                 23                  28          Alive
4               4                 50                  55       Deceased

  House_Location  Total_Characters Age_Category  Status_Code  Name_Length  \
0     Winterfell                13        Adult            1            8
1    Dragonstone                17        Adult            0           18
2  Casterly Rock                17       Senior            1           16
3     Winterfell                 9        Young            1           10
4  Casterly Rock                10       Senior            0           16

   Average_Appearances
0                  9.0
1                 12.0
2                 10.5
3                  9.0
4                 10.5