In [1]:
import pandas as pd

In [2]:
# Create a sample DataFrame
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female'],
    'Age': [35, 30, 40, 18, 45],
    'Total_Appearances': [10, 12, 15, 8, 6],
    'Battles_Fought': [3, 5, 2, 1, 4]
}
df = pd.DataFrame(data)

In [3]:
# Convert 'House' column to a Categorical variable
df['House'] = pd.Categorical(df['House'])

In [4]:
# Example 1: Displaying the categories in a Categorical variable
print("Example 1:")
print(df['House'].cat.categories)

Example 1:
Index(['Lannister', 'Stark', 'Targaryen'], dtype='object')

In [5]:
# Example 2: Displaying the codes for each category in a Categorical variable
print("\nExample 2:")
print(df['House'].cat.codes)

Example 2:
0    1
1    2
2    0
3    1
4    0
dtype: int8

In [6]:
# Example 3: Renaming categories in a Categorical variable
df['House'].cat.categories = ['The Starks', 'The Targaryens', 'The Lannisters']
print("\nExample 3:")
print(df)

Example 3:
                 Name           House    Status  Gender  Age  \
0            Jon Snow  The Targaryens     Alive    Male   35
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30
2    Tyrion Lannister      The Starks     Alive    Male   40
3          Arya Stark  The Targaryens     Alive  Female   18
4    Cersei Lannister      The Starks  Deceased  Female   45

   Total_Appearances  Battles_Fought
0                 10               3
1                 12               5
2                 15               2
3                  8               1
4                  6               4

C:\Users\rvign\AppData\Local\Temp\ipykernel_34540\3512311247.py:2: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df['House'].cat.categories = ['The Starks', 'The Targaryens', 'The Lannisters']

In [7]:
# Example 4: Sorting a DataFrame based on a Categorical variable
df.sort_values(by='House', inplace=True)
print("\nExample 4:")
print(df)

Example 4:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought
2                 15               2
4                  6               4
0                 10               3
3                  8               1
1                 12               5

In [8]:
# Example 5: Creating a new Categorical variable based on numeric bins
df['Age_Category'] = pd.cut(df['Age'], bins=[0, 20, 30, 40, 50], labels=['Child', 'Young Adult', 'Adult', 'Senior'])
print("\nExample 5:")
print(df)

Example 5:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category
2                 15               2        Adult
4                  6               4       Senior
0                 10               3        Adult
3                  8               1        Child
1                 12               5  Young Adult