In [1]:
import pandas as pd

In [2]:
# Create a sample DataFrame
data = {
    'Name': ['Jon Snow', 'Daenerys Targaryen', 'Tyrion Lannister', 'Arya Stark', 'Cersei Lannister'],
    'House': ['Stark', 'Targaryen', 'Lannister', 'Stark', 'Lannister'],
    'Status': ['Alive', 'Deceased', 'Alive', 'Alive', 'Deceased'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female'],
    'Age': [35, 30, 40, 18, 45],
    'Total_Appearances': [10, 12, 15, 8, 6],
    'Battles_Fought': [3, 5, 2, 1, 4]
}
df = pd.DataFrame(data)

In [3]:
# Convert 'House' column to a Categorical variable
df['House'] = pd.Categorical(df['House'])

In [4]:
# Example 1: Displaying the categories in a Categorical variable
print("Example 1:")
print(df['House'].cat.categories)

Example 1:
Index(['Lannister', 'Stark', 'Targaryen'], dtype='object')

In [5]:
# Example 2: Displaying the codes for each category in a Categorical variable
print("\nExample 2:")
print(df['House'].cat.codes)

Example 2:
0    1
1    2
2    0
3    1
4    0
dtype: int8

In [6]:
# Example 3: Renaming categories in a Categorical variable
df['House'].cat.categories = ['The Starks', 'The Targaryens', 'The Lannisters']
print("\nExample 3:")
print(df)

Example 3:
                 Name           House    Status  Gender  Age  \
0            Jon Snow  The Targaryens     Alive    Male   35
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30
2    Tyrion Lannister      The Starks     Alive    Male   40
3          Arya Stark  The Targaryens     Alive  Female   18
4    Cersei Lannister      The Starks  Deceased  Female   45

   Total_Appearances  Battles_Fought
0                 10               3
1                 12               5
2                 15               2
3                  8               1
4                  6               4

C:\Users\rvign\AppData\Local\Temp\ipykernel_34540\3512311247.py:2: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df['House'].cat.categories = ['The Starks', 'The Targaryens', 'The Lannisters']

In [7]:
# Example 4: Sorting a DataFrame based on a Categorical variable
df.sort_values(by='House', inplace=True)
print("\nExample 4:")
print(df)

Example 4:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought
2                 15               2
4                  6               4
0                 10               3
3                  8               1
1                 12               5

In [8]:
# Example 5: Creating a new Categorical variable based on numeric bins
df['Age_Category'] = pd.cut(df['Age'], bins=[0, 20, 30, 40, 50], labels=['Child', 'Young Adult', 'Adult', 'Senior'])
print("\nExample 5:")
print(df)

Example 5:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category
2                 15               2        Adult
4                  6               4       Senior
0                 10               3        Adult
3                  8               1        Child
1                 12               5  Young Adult

In [9]:
# Example 6: Using the Categorical variable in groupby and aggregation
house_group = df.groupby('House')
house_stats = house_group['Age'].agg(['mean', 'min', 'max'])
print("\nExample 6:")
print(house_stats)

Example 6:
                mean  min  max
House
The Starks      42.5   40   45
The Targaryens  26.5   18   35
The Lannisters  30.0   30   30

In [10]:
# Example 7: Creating dummy variables from a Categorical variable
dummies = pd.get_dummies(df['House'], prefix='House', drop_first=True)
df = pd.concat([df, dummies], axis=1)
print("\nExample 7:")
print(df)

Example 7:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category  House_The Targaryens  \
2                 15               2        Adult                     0
4                  6               4       Senior                     0
0                 10               3        Adult                     1
3                  8               1        Child                     1
1                 12               5  Young Adult                     0

   House_The Lannisters
2                     0
4                     0
0                     0
3                     0
1                     1

In [11]:
# Example 8: Converting a column to a Categorical variable with specified categories
gender_categories = ['Male', 'Female', 'Other']
df['Gender'] = pd.Categorical(df['Gender'], categories=gender_categories, ordered=False)
print("\nExample 8:")
print(df)

Example 8:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category  House_The Targaryens  \
2                 15               2        Adult                     0
4                  6               4       Senior                     0
0                 10               3        Adult                     1
3                  8               1        Child                     1
1                 12               5  Young Adult                     0

   House_The Lannisters
2                     0
4                     0
0                     0
3                     0
1                     1

In [12]:
# Example 9: Comparing Categorical variables for equality
df['Gender_Equal_To_Male'] = df['Gender'] == 'Male'
print("\nExample 9:")
print(df)

Example 9:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category  House_The Targaryens  \
2                 15               2        Adult                     0
4                  6               4       Senior                     0
0                 10               3        Adult                     1
3                  8               1        Child                     1
1                 12               5  Young Adult                     0

   House_The Lannisters  Gender_Equal_To_Male
2                     0                  True
4                     0                 False
0                     0                  True
3                     0                 False
1                     1                 False

In [13]:
# Example 10: Counting occurrences of each category in a Categorical variable
house_counts = df['House'].value_counts()
print("\nExample 10:")
print(house_counts)

Example 10:
The Starks        2
The Targaryens    2
The Lannisters    1
Name: House, dtype: int64

In [14]:
# Example 11: Displaying descriptive statistics for a Categorical variable
house_description = df['House'].describe()
print("\nExample 11:")
print(house_description)

Example 11:
count              5
unique             3
top       The Starks
freq               2
Name: House, dtype: object

In [15]:
# Example 12: Changing the order of categories in a Categorical variable
df['House'] = df['House'].cat.reorder_categories(['The Lannisters', 'The Starks', 'The Targaryens'])
print("\nExample 12:")
print(df)

Example 12:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category  House_The Targaryens  \
2                 15               2        Adult                     0
4                  6               4       Senior                     0
0                 10               3        Adult                     1
3                  8               1        Child                     1
1                 12               5  Young Adult                     0

   House_The Lannisters  Gender_Equal_To_Male
2                     0                  True
4                     0                 False
0                     0                  True
3                     0                 False
1                     1                 False

In [16]:
# Example 13: Replacing values in a Categorical variable
df['Gender'] = df['Gender'].replace({'Other': 'Unknown'})
print("\nExample 13:")
print(df)

Example 13:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category  House_The Targaryens  \
2                 15               2        Adult                     0
4                  6               4       Senior                     0
0                 10               3        Adult                     1
3                  8               1        Child                     1
1                 12               5  Young Adult                     0

   House_The Lannisters  Gender_Equal_To_Male
2                     0                  True
4                     0                 False
0                     0                  True
3                     0                 False
1                     1                 False

In [17]:
# Example 14: Removing unused categories from a Categorical variable
df['Gender'].cat.remove_unused_categories(inplace=True)
print("\nExample 14:")
print(df)

Example 14:
                 Name           House    Status  Gender  Age  \
2    Tyrion Lannister      The Starks     Alive    Male   40
4    Cersei Lannister      The Starks  Deceased  Female   45
0            Jon Snow  The Targaryens     Alive    Male   35
3          Arya Stark  The Targaryens     Alive  Female   18
1  Daenerys Targaryen  The Lannisters  Deceased  Female   30

   Total_Appearances  Battles_Fought Age_Category  House_The Targaryens  \
2                 15               2        Adult                     0
4                  6               4       Senior                     0
0                 10               3        Adult                     1
3                  8               1        Child                     1
1                 12               5  Young Adult                     0

   House_The Lannisters  Gender_Equal_To_Male
2                     0                  True
4                     0                 False
0                     0                  True
3                     0                 False
1                     1                 False

C:\Users\rvign\AppData\Local\Temp\ipykernel_34540\482225380.py:2: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_unused_categories is deprecated and will be removed in a future version.
  df['Gender'].cat.remove_unused_categories(inplace=True)

In [18]:
# Example 15: Changing the data type of a column to Categorical
df['Total_Appearances'] = df['Total_Appearances'].astype('category')
print("\nExample 15:")
print(df.dtypes)

Example 15:
Name                      object
House                   category
Status                    object
Gender                  category
Age                        int64
Total_Appearances       category
Battles_Fought             int64
Age_Category            category
House_The Targaryens       uint8
House_The Lannisters       uint8
Gender_Equal_To_Male        bool
dtype: object