In [1]:
import pandas as pd

In [2]:
# Example 1: Creating a DataFrame with hierarchical index
data = {
    'Age': [25, 30, 28, 35, 22],
    'Income': [50000, 60000, 55000, 75000, 40000]
}
index = pd.MultiIndex.from_tuples([('Male', 'John'), ('Male', 'David'), ('Female', 'Mary'), ('Male', 'Michael'), ('Female', 'Emily')],
                                  names=['Gender', 'Name'])
df = pd.DataFrame(data, index=index)
print("Example 1:")
print(df)

Example 1:
                Age  Income
Gender Name
Male   John      25   50000
       David     30   60000
Female Mary      28   55000
Male   Michael   35   75000
Female Emily     22   40000

In [3]:
# Example 2: Accessing data from a DataFrame with hierarchical index
print("\nExample 2:")
print(df.loc[('Male', 'John'), 'Age'])

Example 2:
25

In [4]:
# Example 3: Slicing data from a DataFrame with hierarchical index
print("\nExample 3:")
print(df.loc['Male'])

Example 3:
         Age  Income
Name
John      25   50000
David     30   60000
Michael   35   75000

In [5]:
# Example 4: Swapping levels of a hierarchical index
df_swapped = df.swaplevel()
print("\nExample 4:")
print(df_swapped)

Example 4:
                Age  Income
Name    Gender
John    Male     25   50000
David   Male     30   60000
Mary    Female   28   55000
Michael Male     35   75000
Emily   Female   22   40000

In [6]:
# Example 5: Sorting data based on hierarchical index
df_sorted = df.sort_index()
print("\nExample 5:")
print(df_sorted)

Example 5:
                Age  Income
Gender Name
Female Emily     22   40000
       Mary      28   55000
Male   David     30   60000
       John      25   50000
       Michael   35   75000

In [7]:
# Example 6: Creating a DataFrame with multiple columns using hierarchical index
data_multi = {
    'Age': [25, 30, 28, 35, 22],
    'Income': [50000, 60000, 55000, 75000, 40000],
    'Education': ['Bachelor', 'Master', 'Bachelor', 'PhD', 'High School']
}
df_multi = pd.DataFrame(data_multi, index=index)
print("\nExample 6:")
print(df_multi)

Example 6:
                Age  Income    Education
Gender Name
Male   John      25   50000     Bachelor
       David     30   60000       Master
Female Mary      28   55000     Bachelor
Male   Michael   35   75000          PhD
Female Emily     22   40000  High School

In [8]:
# Example 7: Accessing data from a DataFrame with multiple columns using hierarchical index
print("\nExample 7:")
print(df_multi.loc[('Male', 'David'), 'Education'])

Example 7:
Master

In [9]:
# Example 8: Slicing data from a DataFrame with multiple columns using hierarchical index
print("\nExample 8:")
print(df_multi.loc['Female'])

Example 8:
       Age  Income    Education
Name
Mary    28   55000     Bachelor
Emily   22   40000  High School

In [10]:
# Example 9: Swapping levels of a hierarchical index in a DataFrame with multiple columns
df_multi_swapped = df_multi.swaplevel()
print("\nExample 9:")
print(df_multi_swapped)

Example 9:
                Age  Income    Education
Name    Gender
John    Male     25   50000     Bachelor
David   Male     30   60000       Master
Mary    Female   28   55000     Bachelor
Michael Male     35   75000          PhD
Emily   Female   22   40000  High School

In [11]:
# Example 10: Sorting data based on hierarchical index in a DataFrame with multiple columns
df_multi_sorted = df_multi.sort_index()
print("\nExample 10:")
print(df_multi_sorted)

Example 10:
                Age  Income    Education
Gender Name
Female Emily     22   40000  High School
       Mary      28   55000     Bachelor
Male   David     30   60000       Master
       John      25   50000     Bachelor
       Michael   35   75000          PhD