In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 20, 15, 25, 30, 5]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
  Category  Value
0        A     10
1        A     20
2        B     15
3        B     25
4        A     30
5        B      5

In [3]:
# Example 1: Computing the sum of a column
sum_value = df['Value'].sum()
print("\nExample 1:")
print("Sum of 'Value' column:", sum_value)

Example 1:
Sum of 'Value' column: 105

In [4]:
# Example 2: Computing the mean of a column
mean_value = df['Value'].mean()
print("\nExample 2:")
print("Mean of 'Value' column:", mean_value)

Example 2:
Mean of 'Value' column: 17.5

In [5]:

# Example 3: Computing the median of a column
median_value = df['Value'].median()
print("\nExample 3:")
print("Median of 'Value' column:", median_value)

Example 3:
Median of 'Value' column: 17.5

In [6]:
# Example 4: Computing the maximum value of a column
max_value = df['Value'].max()
print("\nExample 4:")
print("Maximum value in 'Value' column:", max_value)

Example 4:
Maximum value in 'Value' column: 30

In [7]:
# Example 5: Computing the minimum value of a column
min_value = df['Value'].min()
print("\nExample 5:")
print("Minimum value in 'Value' column:", min_value)

Example 5:
Minimum value in 'Value' column: 5

In [8]:
# Example 6: Computing the count of non-null values in a column
count_value = df['Value'].count()
print("\nExample 6:")
print("Number of non-null values in 'Value' column:", count_value)

Example 6:
Number of non-null values in 'Value' column: 6

In [9]:
# Example 7: Computing the variance of a column
var_value = df['Value'].var()
print("\nExample 7:")
print("Variance of 'Value' column:", var_value)

Example 7:
Variance of 'Value' column: 87.5

In [10]:
# Example 8: Computing the standard deviation of a column
std_value = df['Value'].std()
print("\nExample 8:")
print("Standard deviation of 'Value' column:", std_value)

Example 8:
Standard deviation of 'Value' column: 9.354143466934854

In [11]:
# Example 9: Computing the sum of all columns
sum_all_columns = df.sum()
print("\nExample 9:")
print("Sum of all columns:")
print(sum_all_columns)

Example 9:
Sum of all columns:
Category    AABBAB
Value          105
dtype: object

In [12]:
# Example 10: Computing the mean of all columns
mean_all_columns = df.mean()
print("\nExample 10:")
print("Mean of all columns:")
print(mean_all_columns)

Example 10:
Mean of all columns:
Value    17.5
dtype: float64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\4198020184.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_all_columns = df.mean()

In [13]:
                        # Example 11: Computing the median of all columns
median_all_columns = df.median()
print("\nExample 11:")
print("Median of all columns:")
print(median_all_columns)

Example 11:
Median of all columns:
Value    17.5
dtype: float64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\662981602.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median_all_columns = df.median()

In [14]:
# Example 12: Computing the maximum value in each row
max_row = df.max(axis=1)
print("\nExample 12:")
print("Maximum value in each row:")
print(max_row)

Example 12:
Maximum value in each row:
0    10
1    20
2    15
3    25
4    30
5     5
dtype: int64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\1139268580.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  max_row = df.max(axis=1)

In [15]:
# Example 13: Computing the minimum value in each row
min_row = df.min(axis=1)
print("\nExample 13:")
print("Minimum value in each row:")
print(min_row)

Example 13:
Minimum value in each row:
0    10
1    20
2    15
3    25
4    30
5     5
dtype: int64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\952719309.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  min_row = df.min(axis=1)

In [16]:
# Example 14: Computing the sum of 'Value' column for each category
sum_by_category = df.groupby('Category')['Value'].sum()
print("\nExample 14:")
print("Sum of 'Value' column for each category:")
print(sum_by_category)

Example 14:
Sum of 'Value' column for each category:
Category
A    60
B    45
Name: Value, dtype: int64

In [17]:
# Example 15: Computing the mean of 'Value' column for each category
mean_by_category = df.groupby('Category')['Value'].mean()
print("\nExample 15:")
print("Mean of 'Value' column for each category:")
print(mean_by_category)

Example 15:
Mean of 'Value' column for each category:
Category
A    20.0
B    15.0
Name: Value, dtype: float64

In [18]:
# Example 16: Computing the median of 'Value' column for each category
median_by_category = df.groupby('Category')['Value'].median()
print("\nExample 16:")
print("Median of 'Value' column for each category:")
print(median_by_category)

Example 16:
Median of 'Value' column for each category:
Category
A    20.0
B    15.0
Name: Value, dtype: float64

In [19]:
# Example 17: Computing multiple aggregate functions for each category
agg_by_category = df.groupby('Category')['Value'].agg(['sum', 'mean', 'median'])
print("\nExample 17:")
print("Multiple aggregate functions for each category:")
print(agg_by_category)

Example 17:
Multiple aggregate functions for each category:
          sum  mean  median
Category
A          60  20.0    20.0
B          45  15.0    15.0

In [20]:
# Example 18: Computing the number of occurrences of each category
count_by_category = df['Category'].value_counts()
print("\nExample 18:")
print("Number of occurrences of each category:")
print(count_by_category)

Example 18:
Number of occurrences of each category:
A    3
B    3
Name: Category, dtype: int64

In [21]:
# Example 19: Computing the number of unique categories
nunique_categories = df['Category'].nunique()
print("\nExample 19:")
print("Number of unique categories:", nunique_categories)

Example 19:
Number of unique categories: 2

In [22]:
# Example 20: Computing the first occurrence of each category
first_occurrence = df.groupby('Category').first()
print("\nExample 20:")
print("First occurrence of each category:")
print(first_occurrence)

Example 20:
First occurrence of each category:
          Value
Category
A            10
B            15

In [23]:
# Example 21: Computing the last occurrence of each category
last_occurrence = df.groupby('Category').last()
print("\nExample 21:")
print("Last occurrence of each category:")
print(last_occurrence)

Example 21:
Last occurrence of each category:
          Value
Category
A            30
B             5

In [24]:
# Example 22: Computing the maximum value in 'Value' column for each category
max_by_category = df.groupby('Category')['Value'].max()
print("\nExample 22:")
print("Maximum value in 'Value' column for each category:")
print(max_by_category)

Example 22:
Maximum value in 'Value' column for each category:
Category
A    30
B    25
Name: Value, dtype: int64

In [25]:
# Example 23: Computing the minimum value in 'Value' column for each category
min_by_category = df.groupby('Category')['Value'].min()
print("\nExample 23:")
print("Minimum value in 'Value' column for each category:")
print(min_by_category)

Example 23:
Minimum value in 'Value' column for each category:
Category
A    10
B     5
Name: Value, dtype: int64

In [26]:
# Example 24: Computing the variance of 'Value' column for each category
var_by_category = df.groupby('Category')['Value'].var()
print("\nExample 24:")
print("Variance of 'Value' column for each category:")
print(var_by_category)

Example 24:
Variance of 'Value' column for each category:
Category
A    100.0
B    100.0
Name: Value, dtype: float64

In [27]:
# Example 25: Computing the standard deviation of 'Value' column for each category
std_by_category = df.groupby('Category')['Value'].std()
print("\nExample 25:")
print("Standard deviation of 'Value' column for each category:")
print(std_by_category)

Example 25:
Standard deviation of 'Value' column for each category:
Category
A    10.0
B    10.0
Name: Value, dtype: float64

In [28]:
# Example 26: Computing the 75th percentile of 'Value' column
percentile_75 = df['Value'].quantile(0.75)
print("\nExample 26:")
print("75th percentile of 'Value' column:", percentile_75)

Example 26:
75th percentile of 'Value' column: 23.75

In [29]:
# Example 27: Computing the 90th percentile of 'Value' column
percentile_90 = df['Value'].quantile(0.9)
print("\nExample 27:")
print("90th percentile of 'Value' column:", percentile_90)

Example 27:
90th percentile of 'Value' column: 27.5

In [30]:
# Example 28: Computing the skewness of 'Value' column
skew_value = df['Value'].skew()
print("\nExample 28:")
print("Skewness of 'Value' column:", skew_value)

Example 28:
Skewness of 'Value' column: 0.0

In [31]:
# Example 29: Computing the kurtosis of 'Value' column
kurtosis_value = df['Value'].kurtosis()
print("\nExample 29:")
print("Kurtosis of 'Value' column:", kurtosis_value)

Example 29:
Kurtosis of 'Value' column: -1.2000000000000002

In [32]:
# Example 30: Computing the covariance between 'Value' and 'Value' columns (should be the variance of 'Value' column)
cov_value = df['Value'].cov(df['Value'])
print("\nExample 30:")
print("Covariance between 'Value' and 'Value' columns:", cov_value)

Example 30:
Covariance between 'Value' and 'Value' columns: 87.5

In [33]:
# Example 31: Computing the correlation between 'Value' and 'Value' columns (should be 1)
corr_value = df['Value'].corr(df['Value'])
print("\nExample 31:")
print("Correlation between 'Value' and 'Value' columns:", corr_value)

Example 31:
Correlation between 'Value' and 'Value' columns: 0.9999999999999998

In [34]:
# Example 32: Computing the cumulative sum of 'Value' column
cumulative_sum = df['Value'].cumsum()
print("\nExample 32:")
print("Cumulative sum of 'Value' column:")
print(cumulative_sum)

Example 32:
Cumulative sum of 'Value' column:
0     10
1     30
2     45
3     70
4    100
5    105
Name: Value, dtype: int64

In [35]:
# Example 33: Computing the cumulative product of 'Value' column
cumulative_product = df['Value'].cumprod()
print("\nExample 33:")
print("Cumulative product of 'Value' column:")
print(cumulative_product)

Example 33:
Cumulative product of 'Value' column:
0          10
1         200
2        3000
3       75000
4     2250000
5    11250000
Name: Value, dtype: int64

In [36]:
# Example 34: Computing the rolling sum of 'Value' column with a window of size 2
rolling_sum = df['Value'].rolling(window=2).sum()
print("\nExample 34:")
print("Rolling sum of 'Value' column with a window of size 2:")
print(rolling_sum)

Example 34:
Rolling sum of 'Value' column with a window of size 2:
0     NaN
1    30.0
2    35.0
3    40.0
4    55.0
5    35.0
Name: Value, dtype: float64

In [37]:
# Example 35: Computing the rolling mean of 'Value' column with a window of size 2
rolling_mean = df['Value'].rolling(window=2).mean()
print("\nExample 35:")
print("Rolling mean of 'Value' column with a window of size 2:")
print(rolling_mean)

Example 35:
Rolling mean of 'Value' column with a window of size 2:
0     NaN
1    15.0
2    17.5
3    20.0
4    27.5
5    17.5
Name: Value, dtype: float64

In [38]:
# Example 36: Computing the expanding sum of 'Value' column
expanding_sum = df['Value'].expanding().sum()
print("\nExample 36:")
print("Expanding sum of 'Value' column:")
print(expanding_sum)

Example 36:
Expanding sum of 'Value' column:
0     10.0
1     30.0
2     45.0
3     70.0
4    100.0
5    105.0
Name: Value, dtype: float64

In [39]:
# Example 37: Computing the expanding mean of 'Value' column
expanding_mean = df['Value'].expanding().mean()
print("\nExample 37:")
print("Expanding mean of 'Value' column:")
print(expanding_mean)

Example 37:
Expanding mean of 'Value' column:
0    10.0
1    15.0
2    15.0
3    17.5
4    20.0
5    17.5
Name: Value, dtype: float64

In [41]:
# Example 38: Applying a custom aggregation function
def custom_agg(x):
    return x.max() - x.min()

custom_aggregation = df.groupby('Category')['Value'].agg(custom_agg)
print("\nExample 38:")
print("Custom aggregation function (max - min) for each category:")
print(custom_aggregation)

Example 38:
Custom aggregation function (max - min) for each category:
Category
A    20
B    20
Name: Value, dtype: int64

In [42]:
# Example 39: Applying multiple custom aggregation functions
custom_aggregations = df.groupby('Category')['Value'].agg([('Sum', 'sum'), ('Mean', 'mean'), ('Custom', custom_agg)])
print("\nExample 39:")
print("Multiple custom aggregation functions for each category:")
print(custom_aggregations)

Example 39:
Multiple custom aggregation functions for each category:
          Sum  Mean  Custom
Category
A          60  20.0      20
B          45  15.0      20

In [43]:
# Example 40: Applying different aggregation functions to different columns
agg_by_columns = df.agg({'Category': 'count', 'Value': ['sum', 'mean', 'median']})
print("\nExample 40:")
print("Different aggregation functions for different columns:")
print(agg_by_columns)

Example 40:
Different aggregation functions for different columns:
        Category  Value
count        6.0    NaN
sum          NaN  105.0
mean         NaN   17.5
median       NaN   17.5

In [44]:
# Example 41: Computing the nth percentile of 'Value' column
percentile_n = df['Value'].quantile(0.25)
print("\nExample 41:")
print("25th percentile of 'Value' column:", percentile_n)

Example 41:
25th percentile of 'Value' column: 11.25

In [45]:
# Example 42: Computing the nth percentile of 'Value' column
percentile_n = df['Value'].quantile(0.60)
print("\nExample 42:")
print("60th percentile of 'Value' column:", percentile_n)

Example 42:
60th percentile of 'Value' column: 20.0

In [46]:
# Example 43: Computing the nth percentile of 'Value' column
percentile_n = df['Value'].quantile(0.95)
print("\nExample 43:")
print("95th percentile of 'Value' column:", percentile_n)

Example 43:
95th percentile of 'Value' column: 28.75

In [47]:
# Example 44: Computing the kurtosis of 'Value' column
kurtosis_value = df['Value'].kurtosis()
print("\nExample 44:")
print("Kurtosis of 'Value' column:", kurtosis_value)

Example 44:
Kurtosis of 'Value' column: -1.2000000000000002

In [48]:
# Example 45: Computing the covariance between 'Value' and 'Value' columns (should be the variance of 'Value' column)
cov_value = df['Value'].cov(df['Value'])
print("\nExample 45:")
print("Covariance between 'Value' and 'Value' columns:", cov_value)

Example 45:
Covariance between 'Value' and 'Value' columns: 87.5

In [49]:
# Example 46: Computing the correlation between 'Value' and 'Value' columns (should be 1)
corr_value = df['Value'].corr(df['Value'])
print("\nExample 46:")
print("Correlation between 'Value' and 'Value' columns:", corr_value)

Example 46:
Correlation between 'Value' and 'Value' columns: 0.9999999999999998

In [50]:
# Example 47: Computing the rolling sum of 'Value' column with a window of size 3
rolling_sum_3 = df['Value'].rolling(window=3).sum()
print("\nExample 47:")
print("Rolling sum of 'Value' column with a window of size 3:")
print(rolling_sum_3)

Example 47:
Rolling sum of 'Value' column with a window of size 3:
0     NaN
1     NaN
2    45.0
3    60.0
4    70.0
5    60.0
Name: Value, dtype: float64

In [51]:
# Example 48: Computing the rolling mean of 'Value' column with a window of size 3
rolling_mean_3 = df['Value'].rolling(window=3).mean()
print("\nExample 48:")
print("Rolling mean of 'Value' column with a window of size 3:")
print(rolling_mean_3)

Example 48:
Rolling mean of 'Value' column with a window of size 3:
0          NaN
1          NaN
2    15.000000
3    20.000000
4    23.333333
5    20.000000
Name: Value, dtype: float64

In [52]:
# Example 49: Applying a custom aggregation function
def custom_agg(x):
    return x.max() - x.min()

custom_aggregation = df.groupby('Category')['Value'].agg(custom_agg)
print("\nExample 49:")
print("Custom aggregation function (max - min) for each category:")
print(custom_aggregation)

Example 49:
Custom aggregation function (max - min) for each category:
Category
A    20
B    20
Name: Value, dtype: int64

In [53]:
# Example 50: Applying multiple custom aggregation functions
custom_aggregations = df.groupby('Category')['Value'].agg([('Sum', 'sum'), ('Mean', 'mean'), ('Custom', custom_agg)])
print("\nExample 50:")
print("Multiple custom aggregation functions for each category:")
print(custom_aggregations)

Example 50:
Multiple custom aggregation functions for each category:
          Sum  Mean  Custom
Category
A          60  20.0      20
B          45  15.0      20