In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 20, 15, 25, 30, 5]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
  Category  Value
0        A     10
1        A     20
2        B     15
3        B     25
4        A     30
5        B      5

In [3]:
# Example 1: Computing the sum of a column
sum_value = df['Value'].sum()
print("\nExample 1:")
print("Sum of 'Value' column:", sum_value)

Example 1:
Sum of 'Value' column: 105

In [4]:
# Example 2: Computing the mean of a column
mean_value = df['Value'].mean()
print("\nExample 2:")
print("Mean of 'Value' column:", mean_value)

Example 2:
Mean of 'Value' column: 17.5

In [5]:

# Example 3: Computing the median of a column
median_value = df['Value'].median()
print("\nExample 3:")
print("Median of 'Value' column:", median_value)

Example 3:
Median of 'Value' column: 17.5

In [6]:
# Example 4: Computing the maximum value of a column
max_value = df['Value'].max()
print("\nExample 4:")
print("Maximum value in 'Value' column:", max_value)

Example 4:
Maximum value in 'Value' column: 30

In [7]:
# Example 5: Computing the minimum value of a column
min_value = df['Value'].min()
print("\nExample 5:")
print("Minimum value in 'Value' column:", min_value)

Example 5:
Minimum value in 'Value' column: 5

In [8]:
# Example 6: Computing the count of non-null values in a column
count_value = df['Value'].count()
print("\nExample 6:")
print("Number of non-null values in 'Value' column:", count_value)

Example 6:
Number of non-null values in 'Value' column: 6

In [9]:
# Example 7: Computing the variance of a column
var_value = df['Value'].var()
print("\nExample 7:")
print("Variance of 'Value' column:", var_value)

Example 7:
Variance of 'Value' column: 87.5

In [10]:
# Example 8: Computing the standard deviation of a column
std_value = df['Value'].std()
print("\nExample 8:")
print("Standard deviation of 'Value' column:", std_value)

Example 8:
Standard deviation of 'Value' column: 9.354143466934854

In [11]:
# Example 9: Computing the sum of all columns
sum_all_columns = df.sum()
print("\nExample 9:")
print("Sum of all columns:")
print(sum_all_columns)

Example 9:
Sum of all columns:
Category    AABBAB
Value          105
dtype: object

In [12]:
# Example 10: Computing the mean of all columns
mean_all_columns = df.mean()
print("\nExample 10:")
print("Mean of all columns:")
print(mean_all_columns)

Example 10:
Mean of all columns:
Value    17.5
dtype: float64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\4198020184.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_all_columns = df.mean()

In [13]:
                        # Example 11: Computing the median of all columns
median_all_columns = df.median()
print("\nExample 11:")
print("Median of all columns:")
print(median_all_columns)

Example 11:
Median of all columns:
Value    17.5
dtype: float64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\662981602.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median_all_columns = df.median()

In [14]:
# Example 12: Computing the maximum value in each row
max_row = df.max(axis=1)
print("\nExample 12:")
print("Maximum value in each row:")
print(max_row)

Example 12:
Maximum value in each row:
0    10
1    20
2    15
3    25
4    30
5     5
dtype: int64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\1139268580.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  max_row = df.max(axis=1)

In [15]:
# Example 13: Computing the minimum value in each row
min_row = df.min(axis=1)
print("\nExample 13:")
print("Minimum value in each row:")
print(min_row)

Example 13:
Minimum value in each row:
0    10
1    20
2    15
3    25
4    30
5     5
dtype: int64

C:\Users\rvign\AppData\Local\Temp\ipykernel_10100\952719309.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  min_row = df.min(axis=1)

In [16]:
# Example 14: Computing the sum of 'Value' column for each category
sum_by_category = df.groupby('Category')['Value'].sum()
print("\nExample 14:")
print("Sum of 'Value' column for each category:")
print(sum_by_category)

Example 14:
Sum of 'Value' column for each category:
Category
A    60
B    45
Name: Value, dtype: int64

In [17]:
# Example 15: Computing the mean of 'Value' column for each category
mean_by_category = df.groupby('Category')['Value'].mean()
print("\nExample 15:")
print("Mean of 'Value' column for each category:")
print(mean_by_category)

Example 15:
Mean of 'Value' column for each category:
Category
A    20.0
B    15.0
Name: Value, dtype: float64

In [18]:
# Example 16: Computing the median of 'Value' column for each category
median_by_category = df.groupby('Category')['Value'].median()
print("\nExample 16:")
print("Median of 'Value' column for each category:")
print(median_by_category)

Example 16:
Median of 'Value' column for each category:
Category
A    20.0
B    15.0
Name: Value, dtype: float64

In [19]:
# Example 17: Computing multiple aggregate functions for each category
agg_by_category = df.groupby('Category')['Value'].agg(['sum', 'mean', 'median'])
print("\nExample 17:")
print("Multiple aggregate functions for each category:")
print(agg_by_category)

Example 17:
Multiple aggregate functions for each category:
          sum  mean  median
Category
A          60  20.0    20.0
B          45  15.0    15.0

In [20]:
# Example 18: Computing the number of occurrences of each category
count_by_category = df['Category'].value_counts()
print("\nExample 18:")
print("Number of occurrences of each category:")
print(count_by_category)

Example 18:
Number of occurrences of each category:
A    3
B    3
Name: Category, dtype: int64

In [21]:
# Example 19: Computing the number of unique categories
nunique_categories = df['Category'].nunique()
print("\nExample 19:")
print("Number of unique categories:", nunique_categories)

Example 19:
Number of unique categories: 2

In [22]:
# Example 20: Computing the first occurrence of each category
first_occurrence = df.groupby('Category').first()
print("\nExample 20:")
print("First occurrence of each category:")
print(first_occurrence)

Example 20:
First occurrence of each category:
          Value
Category
A            10
B            15