In [1]:
import pandas as pd

In [3]:
# Creating DataFrames for demonstration
data1 = {'Name': ['John', 'Alice', 'Michael'],
         'Age': [25, 30, 22],
         'City': ['New York', 'Los Angeles', 'Chicago']}
data2 = {'Name': ['Emily', 'James', 'Sophia'],
         'Age': [27, 24, 28],
         'City': ['San Francisco', 'Seattle', 'Boston']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print("DataFrame 1:")
print(df1)

print("\nDataFrame 2:")
print(df2)

DataFrame 1:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago

DataFrame 2:
     Name  Age           City
0   Emily   27  San Francisco
1   James   24        Seattle
2  Sophia   28         Boston

In [4]:
# Example 1: Concatenating DataFrames vertically using concat()
df_concat_vertical = pd.concat([df1, df2])
print("\nExample 1:")
print("DataFrame after concatenating vertically:")
print(df_concat_vertical)

Example 1:
DataFrame after concatenating vertically:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
0    Emily   27  San Francisco
1    James   24        Seattle
2   Sophia   28         Boston

In [5]:
# Example 2: Resetting index after concatenating vertically
df_concat_vertical_reset_index = pd.concat([df1, df2], ignore_index=True)
print("\nExample 2:")
print("DataFrame after concatenating vertically and resetting index:")
print(df_concat_vertical_reset_index)

Example 2:
DataFrame after concatenating vertically and resetting index:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
3    Emily   27  San Francisco
4    James   24        Seattle
5   Sophia   28         Boston

In [6]:
# Example 3: Concatenating DataFrames horizontally using concat()
df_concat_horizontal = pd.concat([df1, df2], axis=1)
print("\nExample 3:")
print("DataFrame after concatenating horizontally:")
print(df_concat_horizontal)

Example 3:
DataFrame after concatenating horizontally:
      Name  Age         City    Name  Age           City
0     John   25     New York   Emily   27  San Francisco
1    Alice   30  Los Angeles   James   24        Seattle
2  Michael   22      Chicago  Sophia   28         Boston

In [7]:
# Example 4: Appending one DataFrame to another using append()
df_append = df1.append(df2)
print("\nExample 4:")
print("DataFrame after appending df2 to df1:")
print(df_append)

Example 4:
DataFrame after appending df2 to df1:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
0    Emily   27  San Francisco
1    James   24        Seattle
2   Sophia   28         Boston

C:\Users\rvign\AppData\Local\Temp\ipykernel_17756\2336885926.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df1.append(df2)

In [8]:
# Example 5: Resetting index after appending DataFrames
df_append_reset_index = df1.append(df2, ignore_index=True)
print("\nExample 5:")
print("DataFrame after appending df2 to df1 and resetting index:")
print(df_append_reset_index)

Example 5:
DataFrame after appending df2 to df1 and resetting index:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
3    Emily   27  San Francisco
4    James   24        Seattle
5   Sophia   28         Boston

C:\Users\rvign\AppData\Local\Temp\ipykernel_17756\3437855869.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_reset_index = df1.append(df2, ignore_index=True)

In [9]:
# Example 6: Concatenating DataFrames with different columns
df3 = pd.DataFrame({'Salary': [50000, 60000, 45000]})
df_concat_diff_cols = pd.concat([df1, df3], axis=1)
print("\nExample 6:")
print("DataFrame after concatenating df1 and df3 with different columns:")
print(df_concat_diff_cols)

Example 6:
DataFrame after concatenating df1 and df3 with different columns:
      Name  Age         City  Salary
0     John   25     New York   50000
1    Alice   30  Los Angeles   60000
2  Michael   22      Chicago   45000

In [10]:
# Example 7: Concatenating DataFrames with different columns and filling missing values
df_concat_diff_cols_fill = pd.concat([df1, df3], axis=1, fill_value=0)
print("\nExample 7:")
print("DataFrame after concatenating df1 and df3 with different columns and filling missing values with 0:")
print(df_concat_diff_cols_fill)

TypeError: concat() got an unexpected keyword argument 'fill_value'

In [11]:
# Example 8: Concatenating DataFrames with a MultiIndex
df_concat_multiindex = pd.concat([df1, df2], keys=['df1', 'df2'])
print("\nExample 8:")
print("DataFrame after concatenating df1 and df2 with MultiIndex:")
print(df_concat_multiindex)

Example 8:
DataFrame after concatenating df1 and df2 with MultiIndex:
          Name  Age           City
df1 0     John   25       New York
    1    Alice   30    Los Angeles
    2  Michael   22        Chicago
df2 0    Emily   27  San Francisco
    1    James   24        Seattle
    2   Sophia   28         Boston

In [12]:
# Example 9: Concatenating DataFrames with a MultiIndex and resetting index
df_concat_multiindex_reset_index = pd.concat([df1, df2], keys=['df1', 'df2'], ignore_index=True)
print("\nExample 9:")
print("DataFrame after concatenating df1 and df2 with MultiIndex and resetting index:")
print(df_concat_multiindex_reset_index)

Example 9:
DataFrame after concatenating df1 and df2 with MultiIndex and resetting index:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
3    Emily   27  San Francisco
4    James   24        Seattle
5   Sophia   28         Boston

In [13]:
# Example 10: Appending DataFrame to another with different columns
df_append_diff_cols = df1.append(df3, sort=False)
print("\nExample 10:")
print("DataFrame after appending df3 to df1 with different columns:")
print(df_append_diff_cols)

Example 10:
DataFrame after appending df3 to df1 with different columns:
      Name   Age         City   Salary
0     John  25.0     New York      NaN
1    Alice  30.0  Los Angeles      NaN
2  Michael  22.0      Chicago      NaN
0      NaN   NaN          NaN  50000.0
1      NaN   NaN          NaN  60000.0
2      NaN   NaN          NaN  45000.0

C:\Users\rvign\AppData\Local\Temp\ipykernel_17756\144843194.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_diff_cols = df1.append(df3, sort=False)

In [14]:
# Example 11: Appending DataFrame to another and filling missing values
df_append_diff_cols_fill = df1.append(df3, sort=False, fill_value=0)
print("\nExample 11:")
print("DataFrame after appending df3 to df1 with different columns and filling missing values with 0:")
print(df_append_diff_cols_fill)

TypeError: DataFrame.append() got an unexpected keyword argument 'fill_value'

In [15]:
# Example 12: Concatenating DataFrames with duplicate columns
df4 = pd.DataFrame({'Name': ['Ella', 'Oliver', 'Daniel'],
                    'Age': [29, 26, 24]})
df_concat_duplicate_cols = pd.concat([df1, df4], sort=False)
print("\nExample 12:")
print("DataFrame after concatenating df1 and df4 with duplicate columns:")
print(df_concat_duplicate_cols)

Example 12:
DataFrame after concatenating df1 and df4 with duplicate columns:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
0     Ella   29          NaN
1   Oliver   26          NaN
2   Daniel   24          NaN

In [16]:
# Example 13: Concatenating DataFrames with duplicate columns and resetting index
df_concat_duplicate_cols_reset_index = pd.concat([df1, df4], ignore_index=True, sort=False)
print("\nExample 13:")
print("DataFrame after concatenating df1 and df4 with duplicate columns and resetting index:")
print(df_concat_duplicate_cols_reset_index)

Example 13:
DataFrame after concatenating df1 and df4 with duplicate columns and resetting index:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
3     Ella   29          NaN
4   Oliver   26          NaN
5   Daniel   24          NaN

In [17]:
# Example 14: Concatenating DataFrames with duplicate columns and keys
df_concat_duplicate_cols_keys = pd.concat([df1, df4], keys=['df1', 'df4'], sort=False)
print("\nExample 14:")
print("DataFrame after concatenating df1 and df4 with duplicate columns and keys:")
print(df_concat_duplicate_cols_keys)

Example 14:
DataFrame after concatenating df1 and df4 with duplicate columns and keys:
          Name  Age         City
df1 0     John   25     New York
    1    Alice   30  Los Angeles
    2  Michael   22      Chicago
df4 0     Ella   29          NaN
    1   Oliver   26          NaN
    2   Daniel   24          NaN

In [18]:
# Example 15: Concatenating DataFrames and specifying join type
df5 = pd.DataFrame({'City': ['San Francisco', 'Seattle', 'Boston', 'Denver']})
df_concat_join = pd.concat([df1, df5], join='inner', axis=1)
print("\nExample 15:")
print("DataFrame after concatenating df1 and df5 with join='inner':")
print(df_concat_join)

Example 15:
DataFrame after concatenating df1 and df5 with join='inner':
      Name  Age         City           City
0     John   25     New York  San Francisco
1    Alice   30  Los Angeles        Seattle
2  Michael   22      Chicago         Boston

In [19]:
# Example 16: Concatenating DataFrames with different indices
df6 = pd.DataFrame(data1, index=[3, 4, 5])
df_concat_diff_indices = pd.concat([df1, df6])
print("\nExample 16:")
print("DataFrame after concatenating df1 and df6 with different indices:")
print(df_concat_diff_indices)

Example 16:
DataFrame after concatenating df1 and df6 with different indices:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
3     John   25     New York
4    Alice   30  Los Angeles
5  Michael   22      Chicago

In [20]:
# Example 17: Concatenating DataFrames with different indices and filling missing values
df_concat_diff_indices_fill = pd.concat([df1, df6], fill_value=0)
print("\nExample 17:")
print("DataFrame after concatenating df1 and df6 with different indices and filling missing values with 0:")
print(df_concat_diff_indices_fill)

TypeError: concat() got an unexpected keyword argument 'fill_value'

In [21]:
# Example 18: Concatenating DataFrames with different indices and keys
df_concat_diff_indices_keys = pd.concat([df1, df6], keys=['df1', 'df6'])
print("\nExample 18:")
print("DataFrame after concatenating df1 and df6 with different indices and keys:")
print(df_concat_diff_indices_keys)

Example 18:
DataFrame after concatenating df1 and df6 with different indices and keys:
          Name  Age         City
df1 0     John   25     New York
    1    Alice   30  Los Angeles
    2  Michael   22      Chicago
df6 3     John   25     New York
    4    Alice   30  Los Angeles
    5  Michael   22      Chicago

In [22]:
# Example 19: Concatenating DataFrames and preserving original indices
df_concat_preserve_indices = pd.concat([df1, df6], ignore_index=False)
print("\nExample 19:")
print("DataFrame after concatenating df1 and df6 and preserving original indices:")
print(df_concat_preserve_indices)

Example 19:
DataFrame after concatenating df1 and df6 and preserving original indices:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
3     John   25     New York
4    Alice   30  Los Angeles
5  Michael   22      Chicago

In [23]:
# Example 20: Concatenating DataFrames and resetting index with ignore_index=False
df_concat_reset_index = pd.concat([df1, df6], ignore_index=False, sort=False)
print("\nExample 20:")
print("DataFrame after concatenating df1 and df6 and resetting index with ignore_index=False:")
print(df_concat_reset_index)

Example 20:
DataFrame after concatenating df1 and df6 and resetting index with ignore_index=False:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
3     John   25     New York
4    Alice   30  Los Angeles
5  Michael   22      Chicago

In [24]:
# Example 21: Concatenating DataFrames and sorting by columns
df_concat_sort_by_columns = pd.concat([df1, df6], sort=True)
print("\nExample 21:")
print("DataFrame after concatenating df1 and df6 and sorting by columns:")
print(df_concat_sort_by_columns)

Example 21:
DataFrame after concatenating df1 and df6 and sorting by columns:
   Age         City     Name
0   25     New York     John
1   30  Los Angeles    Alice
2   22      Chicago  Michael
3   25     New York     John
4   30  Los Angeles    Alice
5   22      Chicago  Michael

In [25]:
# Example 22: Concatenating DataFrames and sorting by index
df_concat_sort_by_index = pd.concat([df1, df6], axis=1).sort_index(axis=1)
print("\nExample 22:")
print("DataFrame after concatenating df1 and df6 and sorting by index:")
print(df_concat_sort_by_index)

Example 22:
DataFrame after concatenating df1 and df6 and sorting by index:
    Age   Age         City         City     Name     Name
0  25.0   NaN     New York          NaN     John      NaN
1  30.0   NaN  Los Angeles          NaN    Alice      NaN
2  22.0   NaN      Chicago          NaN  Michael      NaN
3   NaN  25.0          NaN     New York      NaN     John
4   NaN  30.0          NaN  Los Angeles      NaN    Alice
5   NaN  22.0          NaN      Chicago      NaN  Michael

In [27]:
# Example 23: Concatenating DataFrames with a different number of columns
df7 = pd.DataFrame({'Gender': ['M', 'F', 'M']})
df_concat_diff_cols_num = pd.concat([df1, df7], sort=False)
print("\nExample 23:")
print("DataFrame after concatenating df1 and df7 with a different number of columns:")
print(df_concat_diff_cols_num)

Example 23:
DataFrame after concatenating df1 and df7 with a different number of columns:
      Name   Age         City Gender
0     John  25.0     New York    NaN
1    Alice  30.0  Los Angeles    NaN
2  Michael  22.0      Chicago    NaN
0      NaN   NaN          NaN      M
1      NaN   NaN          NaN      F
2      NaN   NaN          NaN      M

In [28]:
# Example 24: Concatenating DataFrames with a different number of columns and filling missing values
df_concat_diff_cols_num_fill = pd.concat([df1, df7], sort=False, fill_value=0)
print("\nExample 24:")
print("DataFrame after concatenating df1 and df7 with a different number of columns and filling missing values with 0:")
print(df_concat_diff_cols_num_fill)

TypeError: concat() got an unexpected keyword argument 'fill_value'

In [29]:
# Example 25: Concatenating DataFrames with a different number of columns and keys
df_concat_diff_cols_num_keys = pd.concat([df1, df7], keys=['df1', 'df7'], sort=False)
print("\nExample 25:")
print("DataFrame after concatenating df1 and df7 with a different number of columns and keys:")
print(df_concat_diff_cols_num_keys)

Example 25:
DataFrame after concatenating df1 and df7 with a different number of columns and keys:
          Name   Age         City Gender
df1 0     John  25.0     New York    NaN
    1    Alice  30.0  Los Angeles    NaN
    2  Michael  22.0      Chicago    NaN
df7 0      NaN   NaN          NaN      M
    1      NaN   NaN          NaN      F
    2      NaN   NaN          NaN      M

In [30]:
# Example 26: Appending DataFrame with a different number of columns
df_append_diff_cols_num = df1.append(df7, sort=False)
print("\nExample 26:")
print("DataFrame after appending df7 to df1 with a different number of columns:")
print(df_append_diff_cols_num)

Example 26:
DataFrame after appending df7 to df1 with a different number of columns:
      Name   Age         City Gender
0     John  25.0     New York    NaN
1    Alice  30.0  Los Angeles    NaN
2  Michael  22.0      Chicago    NaN
0      NaN   NaN          NaN      M
1      NaN   NaN          NaN      F
2      NaN   NaN          NaN      M

C:\Users\rvign\AppData\Local\Temp\ipykernel_17756\3735521828.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_diff_cols_num = df1.append(df7, sort=False)

In [31]:
# Example 27: Appending DataFrame with a different number of columns and filling missing values
df_append_diff_cols_num_fill = df1.append(df7, sort=False, fill_value=0)
print("\nExample 27:")
print("DataFrame after appending df7 to df1 with a different number of columns and filling missing values with 0:")
print(df_append_diff_cols_num_fill)

TypeError: DataFrame.append() got an unexpected keyword argument 'fill_value'

In [32]:
# Example 28: Concatenating DataFrames with different datatypes
df8 = pd.DataFrame({'Experience': [5, 3, 2]})
df_concat_diff_datatypes = pd.concat([df1, df8], sort=False)
print("\nExample 28:")
print("DataFrame after concatenating df1 and df8 with different datatypes:")
print(df_concat_diff_datatypes)

Example 28:
DataFrame after concatenating df1 and df8 with different datatypes:
      Name   Age         City  Experience
0     John  25.0     New York         NaN
1    Alice  30.0  Los Angeles         NaN
2  Michael  22.0      Chicago         NaN
0      NaN   NaN          NaN         5.0
1      NaN   NaN          NaN         3.0
2      NaN   NaN          NaN         2.0

In [33]:
# Example 29: Concatenating DataFrames with different datatypes and filling missing values
df_concat_diff_datatypes_fill = pd.concat([df1, df8], sort=False, fill_value=0)
print("\nExample 29:")
print("DataFrame after concatenating df1 and df8 with different datatypes and filling missing values with 0:")
print(df_concat_diff_datatypes_fill)

TypeError: concat() got an unexpected keyword argument 'fill_value'

In [34]:
# Example 30: Concatenating DataFrames with different datatypes and keys
df_concat_diff_datatypes_keys = pd.concat([df1, df8], keys=['df1', 'df8'], sort=False)
print("\nExample 30:")
print("DataFrame after concatenating df1 and df8 with different datatypes and keys:")
print(df_concat_diff_datatypes_keys)

Example 30:
DataFrame after concatenating df1 and df8 with different datatypes and keys:
          Name   Age         City  Experience
df1 0     John  25.0     New York         NaN
    1    Alice  30.0  Los Angeles         NaN
    2  Michael  22.0      Chicago         NaN
df8 0      NaN   NaN          NaN         5.0
    1      NaN   NaN          NaN         3.0
    2      NaN   NaN          NaN         2.0

In [35]:
# Example 31: Concatenating DataFrames with a different number of rows
df9 = pd.DataFrame({'Name': ['Liam'], 'Age': [35], 'City': ['Houston']})
df_concat_diff_rows = pd.concat([df1, df9], sort=False)
print("\nExample 31:")
print("DataFrame after concatenating df1 and df9 with a different number of rows:")
print(df_concat_diff_rows)

Example 31:
DataFrame after concatenating df1 and df9 with a different number of rows:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
0     Liam   35      Houston

In [36]:
# Example 32: Concatenating DataFrames with a different number of rows and filling missing values
df_concat_diff_rows_fill = pd.concat([df1, df9], sort=False, fill_value=0)
print("\nExample 32:")
print("DataFrame after concatenating df1 and df9 with a different number of rows and filling missing values with 0:")
print(df_concat_diff_rows_fill)

TypeError: concat() got an unexpected keyword argument 'fill_value'

In [37]:
# Example 33: Concatenating DataFrames with a different number of rows and keys
df_concat_diff_rows_keys = pd.concat([df1, df9], keys=['df1', 'df9'], sort=False)
print("\nExample 33:")
print("DataFrame after concatenating df1 and df9 with a different number of rows and keys:")
print(df_concat_diff_rows_keys)

Example 33:
DataFrame after concatenating df1 and df9 with a different number of rows and keys:
          Name  Age         City
df1 0     John   25     New York
    1    Alice   30  Los Angeles
    2  Michael   22      Chicago
df9 0     Liam   35      Houston

In [38]:
# Example 34: Appending DataFrame with a different number of rows
df_append_diff_rows = df1.append(df9, sort=False)
print("\nExample 34:")
print("DataFrame after appending df9 to df1 with a different number of rows:")
print(df_append_diff_rows)

Example 34:
DataFrame after appending df9 to df1 with a different number of rows:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
0     Liam   35      Houston

C:\Users\rvign\AppData\Local\Temp\ipykernel_17756\3245684845.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_diff_rows = df1.append(df9, sort=False)

In [39]:
# Example 35: Appending DataFrame with a different number of rows and filling missing values
df_append_diff_rows_fill = df1.append(df9, sort=False, fill_value=0)
print("\nExample 35:")
print("DataFrame after appending df9 to df1 with a different number of rows and filling missing values with 0:")
print(df_append_diff_rows_fill)

TypeError: DataFrame.append() got an unexpected keyword argument 'fill_value'

In [40]:
# Example 36: Concatenating DataFrames with duplicate indices
df10 = pd.DataFrame({'Name': ['Ella', 'Oliver', 'Daniel'],
                     'Age': [29, 26, 24]},
                    index=[0, 1, 2])
df_concat_duplicate_indices = pd.concat([df1, df10], sort=False)
print("\nExample 36:")
print("DataFrame after concatenating df1 and df10 with duplicate indices:")
print(df_concat_duplicate_indices)

Example 36:
DataFrame after concatenating df1 and df10 with duplicate indices:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
0     Ella   29          NaN
1   Oliver   26          NaN
2   Daniel   24          NaN

In [41]:
# Example 37: Concatenating DataFrames with duplicate indices and resetting index
df_concat_duplicate_indices_reset_index = pd.concat([df1, df10], ignore_index=True, sort=False)
print("\nExample 37:")
print("DataFrame after concatenating df1 and df10 with duplicate indices and resetting index:")
print(df_concat_duplicate_indices_reset_index)

Example 37:
DataFrame after concatenating df1 and df10 with duplicate indices and resetting index:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago
3     Ella   29          NaN
4   Oliver   26          NaN
5   Daniel   24          NaN

In [42]:
# Example 38: Concatenating DataFrames with duplicate indices and keys
df_concat_duplicate_indices_keys = pd.concat([df1, df10], keys=['df1', 'df10'], sort=False)
print("\nExample 38:")
print("DataFrame after concatenating df1 and df10 with duplicate indices and keys:")
print(df_concat_duplicate_indices_keys)

Example 38:
DataFrame after concatenating df1 and df10 with duplicate indices and keys:
           Name  Age         City
df1  0     John   25     New York
     1    Alice   30  Los Angeles
     2  Michael   22      Chicago
df10 0     Ella   29          NaN
     1   Oliver   26          NaN
     2   Daniel   24          NaN

In [43]:
# Example 39: Concatenating DataFrames with duplicate columns and indices
df_concat_duplicate_cols_indices = pd.concat([df1, df4], axis=1)
print("\nExample 39:")
print("DataFrame after concatenating df1 and df4 with duplicate columns and indices:")
print(df_concat_duplicate_cols_indices)

Example 39:
DataFrame after concatenating df1 and df4 with duplicate columns and indices:
      Name  Age         City    Name  Age
0     John   25     New York    Ella   29
1    Alice   30  Los Angeles  Oliver   26
2  Michael   22      Chicago  Daniel   24

In [44]:
# Example 40: Concatenating DataFrames with duplicate columns and indices, and specifying join type
df_concat_duplicate_cols_indices_join = pd.concat([df1, df4], axis=1, join='inner')
print("\nExample 40:")
print("DataFrame after concatenating df1 and df4 with duplicate columns and indices and join='inner':")
print(df_concat_duplicate_cols_indices_join)

Example 40:
DataFrame after concatenating df1 and df4 with duplicate columns and indices and join='inner':
      Name  Age         City    Name  Age
0     John   25     New York    Ella   29
1    Alice   30  Los Angeles  Oliver   26
2  Michael   22      Chicago  Daniel   24

In [45]:
# Example 41: Concatenating DataFrames with duplicate columns and indices, and specifying join type and fill values
df_concat_duplicate_cols_indices_fill = pd.concat([df1, df4], axis=1, join='inner', fill_value=0)
print("\nExample 41:")
print("DataFrame after concatenating df1 and df4 with duplicate columns and indices, join='inner', and fill value 0:")
print(df_concat_duplicate_cols_indices_fill)

TypeError: concat() got an unexpected keyword argument 'fill_value'

In [46]:
# Example 42: Concatenating DataFrames and performing outer join
df_concat_outer_join = pd.concat([df1, df4], axis=1, join='outer')
print("\nExample 42:")
print("DataFrame after concatenating df1 and df4 with outer join:")
print(df_concat_outer_join)

Example 42:
DataFrame after concatenating df1 and df4 with outer join:
      Name  Age         City    Name  Age
0     John   25     New York    Ella   29
1    Alice   30  Los Angeles  Oliver   26
2  Michael   22      Chicago  Daniel   24

In [47]:
# Example 43: Concatenating DataFrames and performing outer join with NaN values
df_concat_outer_join_nan = pd.concat([df1, df6], axis=1, join='outer')
print("\nExample 43:")
print("DataFrame after concatenating df1 and df6 with outer join and NaN values:")
print(df_concat_outer_join_nan)

Example 43:
DataFrame after concatenating df1 and df6 with outer join and NaN values:
      Name   Age         City     Name   Age         City
0     John  25.0     New York      NaN   NaN          NaN
1    Alice  30.0  Los Angeles      NaN   NaN          NaN
2  Michael  22.0      Chicago      NaN   NaN          NaN
3      NaN   NaN          NaN     John  25.0     New York
4      NaN   NaN          NaN    Alice  30.0  Los Angeles
5      NaN   NaN          NaN  Michael  22.0      Chicago

In [48]:
# Example 44: Concatenating DataFrames and performing inner join
df_concat_inner_join = pd.concat([df1, df4], axis=1, join='inner')
print("\nExample 44:")
print("DataFrame after concatenating df1 and df4 with inner join:")
print(df_concat_inner_join)

Example 44:
DataFrame after concatenating df1 and df4 with inner join:
      Name  Age         City    Name  Age
0     John   25     New York    Ella   29
1    Alice   30  Los Angeles  Oliver   26
2  Michael   22      Chicago  Daniel   24

In [49]:
# Example 45: Concatenating DataFrames and performing inner join with NaN values
df_concat_inner_join_nan = pd.concat([df1, df6], axis=1, join='inner')
print("\nExample 45:")
print("DataFrame after concatenating df1 and df6 with inner join and NaN values:")
print(df_concat_inner_join_nan)

Example 45:
DataFrame after concatenating df1 and df6 with inner join and NaN values:
Empty DataFrame
Columns: [Name, Age, City, Name, Age, City]
Index: []

In [50]:
# Example 46: Concatenating DataFrames and performing right join
df_concat_right_join = pd.concat([df1, df4], axis=1, join_axes=[df4.index])
print("\nExample 46:")
print("DataFrame after concatenating df1 and df4 with right join:")
print(df_concat_right_join)

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [51]:
# Example 47: Concatenating DataFrames and performing left join
df_concat_left_join = pd.concat([df1, df4], axis=1, join_axes=[df1.index])
print("\nExample 47:")
print("DataFrame after concatenating df1 and df4 with left join:")
print(df_concat_left_join)

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [52]:
# Example 48: Concatenating DataFrames and performing left join with NaN values
df_concat_left_join_nan = pd.concat([df1, df6], axis=1, join_axes=[df1.index])
print("\nExample 48:")
print("DataFrame after concatenating df1 and df6 with left join and NaN values:")
print(df_concat_left_join_nan)

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [53]:
# Example 49: Concatenating DataFrames and performing outer join with different column order
df11 = pd.DataFrame({'Age': [22, 30, 25],
                     'City': ['Chicago', 'Los Angeles', 'New York']})
df_concat_diff_col_order = pd.concat([df1, df11], axis=1, join='outer')
print("\nExample 49:")
print("DataFrame after concatenating df1 and df11 with outer join and different column order:")
print(df_concat_diff_col_order)

Example 49:
DataFrame after concatenating df1 and df11 with outer join and different column order:
      Name  Age         City  Age         City
0     John   25     New York   22      Chicago
1    Alice   30  Los Angeles   30  Los Angeles
2  Michael   22      Chicago   25     New York

In [54]:
# Example 50: Concatenating DataFrames and performing outer join with different index order
df12 = pd.DataFrame({'Name': ['Sophia', 'John', 'Alice'],
                     'Age': [28, 25, 30],
                     'City': ['Boston', 'New York', 'Los Angeles']},
                    index=[2, 0, 1])
df_concat_diff_index_order = pd.concat([df1, df12], axis=1, join='outer')
print("\nExample 50:")
print("DataFrame after concatenating df1 and df12 with outer join and different index order:")
print(df_concat_diff_index_order)

Example 50:
DataFrame after concatenating df1 and df12 with outer join and different index order:
      Name  Age         City    Name  Age         City
0     John   25     New York    John   25     New York
1    Alice   30  Los Angeles   Alice   30  Los Angeles
2  Michael   22      Chicago  Sophia   28       Boston