In [1]:
import pandas as pd

In [3]:
# Creating DataFrames for demonstration
data1 = {'Name': ['John', 'Alice', 'Michael'],
         'Age': [25, 30, 22],
         'City': ['New York', 'Los Angeles', 'Chicago']}
data2 = {'Name': ['Emily', 'James', 'Sophia'],
         'Age': [27, 24, 28],
         'City': ['San Francisco', 'Seattle', 'Boston']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print("DataFrame 1:")
print(df1)

print("\nDataFrame 2:")
print(df2)

DataFrame 1:
      Name  Age         City
0     John   25     New York
1    Alice   30  Los Angeles
2  Michael   22      Chicago

DataFrame 2:
     Name  Age           City
0   Emily   27  San Francisco
1   James   24        Seattle
2  Sophia   28         Boston

In [4]:
# Example 1: Concatenating DataFrames vertically using concat()
df_concat_vertical = pd.concat([df1, df2])
print("\nExample 1:")
print("DataFrame after concatenating vertically:")
print(df_concat_vertical)

Example 1:
DataFrame after concatenating vertically:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
0    Emily   27  San Francisco
1    James   24        Seattle
2   Sophia   28         Boston

In [5]:
# Example 2: Resetting index after concatenating vertically
df_concat_vertical_reset_index = pd.concat([df1, df2], ignore_index=True)
print("\nExample 2:")
print("DataFrame after concatenating vertically and resetting index:")
print(df_concat_vertical_reset_index)

Example 2:
DataFrame after concatenating vertically and resetting index:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
3    Emily   27  San Francisco
4    James   24        Seattle
5   Sophia   28         Boston

In [6]:
# Example 3: Concatenating DataFrames horizontally using concat()
df_concat_horizontal = pd.concat([df1, df2], axis=1)
print("\nExample 3:")
print("DataFrame after concatenating horizontally:")
print(df_concat_horizontal)

Example 3:
DataFrame after concatenating horizontally:
      Name  Age         City    Name  Age           City
0     John   25     New York   Emily   27  San Francisco
1    Alice   30  Los Angeles   James   24        Seattle
2  Michael   22      Chicago  Sophia   28         Boston

In [7]:
# Example 4: Appending one DataFrame to another using append()
df_append = df1.append(df2)
print("\nExample 4:")
print("DataFrame after appending df2 to df1:")
print(df_append)

Example 4:
DataFrame after appending df2 to df1:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
0    Emily   27  San Francisco
1    James   24        Seattle
2   Sophia   28         Boston

C:\Users\rvign\AppData\Local\Temp\ipykernel_17756\2336885926.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df1.append(df2)

In [8]:
# Example 5: Resetting index after appending DataFrames
df_append_reset_index = df1.append(df2, ignore_index=True)
print("\nExample 5:")
print("DataFrame after appending df2 to df1 and resetting index:")
print(df_append_reset_index)

Example 5:
DataFrame after appending df2 to df1 and resetting index:
      Name  Age           City
0     John   25       New York
1    Alice   30    Los Angeles
2  Michael   22        Chicago
3    Emily   27  San Francisco
4    James   24        Seattle
5   Sophia   28         Boston

C:\Users\rvign\AppData\Local\Temp\ipykernel_17756\3437855869.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_reset_index = df1.append(df2, ignore_index=True)