In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Ella', 'Michael', 'Sophia'],
        'Age': [25, 30, 22, 27, 28],
        'City': ['New York', 'Chicago', 'Los Angeles', 'Boston', 'Houston']}
df = pd.DataFrame(data)

In [3]:
# Example 1: Looping through rows using iterrows()
print("Example 1:")
for index, row in df.iterrows():
    print(index, row['Name'], row['Age'], row['City'])

Example 1:
0 John 25 New York
1 Alice 30 Chicago
2 Ella 22 Los Angeles
3 Michael 27 Boston
4 Sophia 28 Houston

In [4]:
# Example 2: Looping through columns using iteritems()
print("\nExample 2:")
for column, series in df.iteritems():
    print(column)
    print(series)

Example 2:
Name
0       John
1      Alice
2       Ella
3    Michael
4     Sophia
Name: Name, dtype: object
Age
0    25
1    30
2    22
3    27
4    28
Name: Age, dtype: int64
City
0       New York
1        Chicago
2    Los Angeles
3         Boston
4        Houston
Name: City, dtype: object

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\738547729.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [5]:
# Example 3: Looping through rows using itertuples()
print("\nExample 3:")
for row in df.itertuples():
    print(row.Index, row.Name, row.Age, row.City)

Example 3:
0 John 25 New York
1 Alice 30 Chicago
2 Ella 22 Los Angeles
3 Michael 27 Boston
4 Sophia 28 Houston

In [6]:
# Example 4: Looping through rows and updating values
print("\nExample 4:")
for index, row in df.iterrows():
    df.at[index, 'Age'] = row['Age'] + 1
print(df)

Example 4:
      Name  Age         City
0     John   26     New York
1    Alice   31      Chicago
2     Ella   23  Los Angeles
3  Michael   28       Boston
4   Sophia   29      Houston

In [7]:
# Example 5: Looping through rows and filtering based on condition
print("\nExample 5:")
for index, row in df.iterrows():
    if row['Age'] > 25:
        print(row['Name'])

Example 5:
John
Alice
Michael
Sophia

In [8]:
# Example 6: Looping through columns and filtering based on condition
print("\nExample 6:")
for column, series in df.iteritems():
    if column != 'City':
        print(column)
        print(series)

Example 6:
Name
0       John
1      Alice
2       Ella
3    Michael
4     Sophia
Name: Name, dtype: object
Age
0    26
1    31
2    23
3    28
4    29
Name: Age, dtype: int64

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\2482223717.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [9]:
# Example 7: Looping through rows and performing complex operations
print("\nExample 7:")
for index, row in df.iterrows():
    full_name = row['Name'] + ' Smith'
    print(f"{full_name} is {row['Age']} years old and lives in {row['City']}")

Example 7:
John Smith is 26 years old and lives in New York
Alice Smith is 31 years old and lives in Chicago
Ella Smith is 23 years old and lives in Los Angeles
Michael Smith is 28 years old and lives in Boston
Sophia Smith is 29 years old and lives in Houston

In [10]:
# Example 8: Looping through rows and calculating a new column
print("\nExample 8:")
for index, row in df.iterrows():
    df.at[index, 'Full Name'] = row['Name'] + ' Smith'
print(df)

Example 8:
      Name  Age         City      Full Name
0     John   26     New York     John Smith
1    Alice   31      Chicago    Alice Smith
2     Ella   23  Los Angeles     Ella Smith
3  Michael   28       Boston  Michael Smith
4   Sophia   29      Houston   Sophia Smith

In [11]:
# Example 9: Looping through rows and finding the maximum age
print("\nExample 9:")
max_age = 0
for index, row in df.iterrows():
    if row['Age'] > max_age:
        max_age = row['Age']
print("Maximum Age:", max_age)

Example 9:
Maximum Age: 31

In [12]:
# Example 10: Looping through columns and finding the minimum value
print("\nExample 10:")
for column, series in df.iteritems():
    if series.dtype == 'int64':
        print("Minimum value in column", column, ":", series.min())

Example 10:
Minimum value in column Age : 23

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\1526193286.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [13]:
# Example 11: Looping through rows and dropping rows based on condition
print("\nExample 11:")
for index, row in df.iterrows():
    if row['Age'] < 25:
        df.drop(index, inplace=True)
print(df)

Example 11:
      Name  Age      City      Full Name
0     John   26  New York     John Smith
1    Alice   31   Chicago    Alice Smith
3  Michael   28    Boston  Michael Smith
4   Sophia   29   Houston   Sophia Smith

In [14]:
# Example 12: Looping through rows and adding a new row
print("\nExample 12:")
new_row = pd.Series({'Name': 'Oliver', 'Age': 26, 'City': 'San Francisco'})
df = df.append(new_row, ignore_index=True)
print(df)

Example 12:
      Name  Age           City      Full Name
0     John   26       New York     John Smith
1    Alice   31        Chicago    Alice Smith
2  Michael   28         Boston  Michael Smith
3   Sophia   29        Houston   Sophia Smith
4   Oliver   26  San Francisco            NaN

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\1997128763.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [15]:
# Example 13: Looping through rows and modifying multiple columns
print("\nExample 13:")
for index, row in df.iterrows():
    df.at[index, 'Name'] = row['Name'] + ' Johnson'
    df.at[index, 'City'] = 'New ' + row['City']
print(df)

Example 13:
              Name  Age               City      Full Name
0     John Johnson   26       New New York     John Smith
1    Alice Johnson   31        New Chicago    Alice Smith
2  Michael Johnson   28         New Boston  Michael Smith
3   Sophia Johnson   29        New Houston   Sophia Smith
4   Oliver Johnson   26  New San Francisco            NaN

In [16]:
# Example 14: Looping through rows and setting a new index
print("\nExample 14:")
for index, row in df.iterrows():
    df.at[index, 'ID'] = 'ID' + str(index + 1)
df.set_index('ID', inplace=True)
print(df)

Example 14:
                Name  Age               City      Full Name
ID
ID1     John Johnson   26       New New York     John Smith
ID2    Alice Johnson   31        New Chicago    Alice Smith
ID3  Michael Johnson   28         New Boston  Michael Smith
ID4   Sophia Johnson   29        New Houston   Sophia Smith
ID5   Oliver Johnson   26  New San Francisco            NaN

In [17]:
# Example 15: Looping through rows and aggregating data
print("\nExample 15:")
total_age = 0
for index, row in df.iterrows():
    total_age += row['Age']
average_age = total_age / len(df)
print("Average Age:", average_age)

Example 15:
Average Age: 28.0

```python
# Example 16: Looping through rows and dropping specific columns
print("\nExample 16:")
for index, row in df.iterrows():
    df.drop(columns=['City'], inplace=True)
print(df)
```

In [20]:
# Example 17: Looping through rows and applying a function
print("\nExample 17:")
def add_surname(name):
    return name + ' Smith'

df['Name'] = df['Name'].apply(add_surname)
print(df)

Example 17:
                      Name  Age      Full Name
ID
ID1     John Johnson Smith   26     John Smith
ID2    Alice Johnson Smith   31    Alice Smith
ID3  Michael Johnson Smith   28  Michael Smith
ID4   Sophia Johnson Smith   29   Sophia Smith
ID5   Oliver Johnson Smith   26            NaN

In [21]:
# Example 18: Looping through rows and updating a column using numpy
print("\nExample 18:")
import numpy as np

for index, row in df.iterrows():
    df.at[index, 'Age'] = np.random.randint(30, 40)
print(df)

Example 18:
                      Name  Age      Full Name
ID
ID1     John Johnson Smith   33     John Smith
ID2    Alice Johnson Smith   37    Alice Smith
ID3  Michael Johnson Smith   38  Michael Smith
ID4   Sophia Johnson Smith   32   Sophia Smith
ID5   Oliver Johnson Smith   31            NaN

In [22]:
# Example 19: Looping through rows and filtering using query
print("\nExample 19:")
for index, row in df.iterrows():
    if row['Age'] > 30:
        print(row)

Example 19:
Name         John Johnson Smith
Age                          33
Full Name            John Smith
Name: ID1, dtype: object
Name         Alice Johnson Smith
Age                           37
Full Name            Alice Smith
Name: ID2, dtype: object
Name         Michael Johnson Smith
Age                             38
Full Name            Michael Smith
Name: ID3, dtype: object
Name         Sophia Johnson Smith
Age                            32
Full Name            Sophia Smith
Name: ID4, dtype: object
Name         Oliver Johnson Smith
Age                            31
Full Name                     NaN
Name: ID5, dtype: object

In [23]:
# Example 20: Looping through columns and finding the mean value
print("\nExample 20:")
for column, series in df.iteritems():
    if series.dtype == 'int64':
        print("Mean value in column", column, ":", series.mean())

Example 20:
Mean value in column Age : 34.2

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\1789215049.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():