In [25]:
import pandas as pd

In [26]:
# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Ella', 'Michael', 'Sophia'],
        'Age': [25, 30, 22, 27, 28],
        'City': ['New York', 'Chicago', 'Los Angeles', 'Boston', 'Houston']}
df = pd.DataFrame(data)

In [27]:
# Example 1: Looping through rows using iterrows()
print("Example 1:")
for index, row in df.iterrows():
    print(index, row['Name'], row['Age'], row['City'])

Example 1:
0 John 25 New York
1 Alice 30 Chicago
2 Ella 22 Los Angeles
3 Michael 27 Boston
4 Sophia 28 Houston

In [28]:
# Example 2: Looping through columns using iteritems()
print("\nExample 2:")
for column, series in df.iteritems():
    print(column)
    print(series)

Example 2:
Name
0       John
1      Alice
2       Ella
3    Michael
4     Sophia
Name: Name, dtype: object
Age
0    25
1    30
2    22
3    27
4    28
Name: Age, dtype: int64
City
0       New York
1        Chicago
2    Los Angeles
3         Boston
4        Houston
Name: City, dtype: object

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\738547729.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [29]:
# Example 3: Looping through rows using itertuples()
print("\nExample 3:")
for row in df.itertuples():
    print(row.Index, row.Name, row.Age, row.City)

Example 3:
0 John 25 New York
1 Alice 30 Chicago
2 Ella 22 Los Angeles
3 Michael 27 Boston
4 Sophia 28 Houston

In [30]:
# Example 4: Looping through rows and updating values
print("\nExample 4:")
for index, row in df.iterrows():
    df.at[index, 'Age'] = row['Age'] + 1
print(df)

Example 4:
      Name  Age         City
0     John   26     New York
1    Alice   31      Chicago
2     Ella   23  Los Angeles
3  Michael   28       Boston
4   Sophia   29      Houston

In [31]:
# Example 5: Looping through rows and filtering based on condition
print("\nExample 5:")
for index, row in df.iterrows():
    if row['Age'] > 25:
        print(row['Name'])

Example 5:
John
Alice
Michael
Sophia

In [32]:
# Example 6: Looping through columns and filtering based on condition
print("\nExample 6:")
for column, series in df.iteritems():
    if column != 'City':
        print(column)
        print(series)

Example 6:
Name
0       John
1      Alice
2       Ella
3    Michael
4     Sophia
Name: Name, dtype: object
Age
0    26
1    31
2    23
3    28
4    29
Name: Age, dtype: int64

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\2482223717.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [33]:
# Example 7: Looping through rows and performing complex operations
print("\nExample 7:")
for index, row in df.iterrows():
    full_name = row['Name'] + ' Smith'
    print(f"{full_name} is {row['Age']} years old and lives in {row['City']}")

Example 7:
John Smith is 26 years old and lives in New York
Alice Smith is 31 years old and lives in Chicago
Ella Smith is 23 years old and lives in Los Angeles
Michael Smith is 28 years old and lives in Boston
Sophia Smith is 29 years old and lives in Houston

In [34]:
# Example 8: Looping through rows and calculating a new column
print("\nExample 8:")
for index, row in df.iterrows():
    df.at[index, 'Full Name'] = row['Name'] + ' Smith'
print(df)

Example 8:
      Name  Age         City      Full Name
0     John   26     New York     John Smith
1    Alice   31      Chicago    Alice Smith
2     Ella   23  Los Angeles     Ella Smith
3  Michael   28       Boston  Michael Smith
4   Sophia   29      Houston   Sophia Smith

In [35]:
# Example 9: Looping through rows and finding the maximum age
print("\nExample 9:")
max_age = 0
for index, row in df.iterrows():
    if row['Age'] > max_age:
        max_age = row['Age']
print("Maximum Age:", max_age)

Example 9:
Maximum Age: 31

In [36]:
# Example 10: Looping through columns and finding the minimum value
print("\nExample 10:")
for column, series in df.iteritems():
    if series.dtype == 'int64':
        print("Minimum value in column", column, ":", series.min())

Example 10:
Minimum value in column Age : 23

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\1526193286.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [37]:
# Example 11: Looping through rows and dropping rows based on condition
print("\nExample 11:")
for index, row in df.iterrows():
    if row['Age'] < 25:
        df.drop(index, inplace=True)
print(df)

Example 11:
      Name  Age      City      Full Name
0     John   26  New York     John Smith
1    Alice   31   Chicago    Alice Smith
3  Michael   28    Boston  Michael Smith
4   Sophia   29   Houston   Sophia Smith

In [38]:
# Example 12: Looping through rows and adding a new row
print("\nExample 12:")
new_row = pd.Series({'Name': 'Oliver', 'Age': 26, 'City': 'San Francisco'})
df = df.append(new_row, ignore_index=True)
print(df)

Example 12:
      Name  Age           City      Full Name
0     John   26       New York     John Smith
1    Alice   31        Chicago    Alice Smith
2  Michael   28         Boston  Michael Smith
3   Sophia   29        Houston   Sophia Smith
4   Oliver   26  San Francisco            NaN

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\1997128763.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [39]:
# Example 13: Looping through rows and modifying multiple columns
print("\nExample 13:")
for index, row in df.iterrows():
    df.at[index, 'Name'] = row['Name'] + ' Johnson'
    df.at[index, 'City'] = 'New ' + row['City']
print(df)

Example 13:
              Name  Age               City      Full Name
0     John Johnson   26       New New York     John Smith
1    Alice Johnson   31        New Chicago    Alice Smith
2  Michael Johnson   28         New Boston  Michael Smith
3   Sophia Johnson   29        New Houston   Sophia Smith
4   Oliver Johnson   26  New San Francisco            NaN

In [40]:
# Example 14: Looping through rows and setting a new index
print("\nExample 14:")
for index, row in df.iterrows():
    df.at[index, 'ID'] = 'ID' + str(index + 1)
df.set_index('ID', inplace=True)
print(df)

Example 14:
                Name  Age               City      Full Name
ID
ID1     John Johnson   26       New New York     John Smith
ID2    Alice Johnson   31        New Chicago    Alice Smith
ID3  Michael Johnson   28         New Boston  Michael Smith
ID4   Sophia Johnson   29        New Houston   Sophia Smith
ID5   Oliver Johnson   26  New San Francisco            NaN

In [41]:
# Example 15: Looping through rows and aggregating data
print("\nExample 15:")
total_age = 0
for index, row in df.iterrows():
    total_age += row['Age']
average_age = total_age / len(df)
print("Average Age:", average_age)

Example 15:
Average Age: 28.0

```python
# Example 16: Looping through rows and dropping specific columns
print("\nExample 16:")
for index, row in df.iterrows():
    df.drop(columns=['City'], inplace=True)
print(df)
```

In [42]:
# Example 17: Looping through rows and applying a function
print("\nExample 17:")
def add_surname(name):
    return name + ' Smith'

df['Name'] = df['Name'].apply(add_surname)
print(df)

Example 17:
                      Name  Age               City      Full Name
ID
ID1     John Johnson Smith   26       New New York     John Smith
ID2    Alice Johnson Smith   31        New Chicago    Alice Smith
ID3  Michael Johnson Smith   28         New Boston  Michael Smith
ID4   Sophia Johnson Smith   29        New Houston   Sophia Smith
ID5   Oliver Johnson Smith   26  New San Francisco            NaN

In [43]:
# Example 18: Looping through rows and updating a column using numpy
print("\nExample 18:")
import numpy as np

for index, row in df.iterrows():
    df.at[index, 'Age'] = np.random.randint(30, 40)
print(df)

Example 18:
                      Name  Age               City      Full Name
ID
ID1     John Johnson Smith   33       New New York     John Smith
ID2    Alice Johnson Smith   33        New Chicago    Alice Smith
ID3  Michael Johnson Smith   32         New Boston  Michael Smith
ID4   Sophia Johnson Smith   32        New Houston   Sophia Smith
ID5   Oliver Johnson Smith   33  New San Francisco            NaN

In [44]:
# Example 19: Looping through rows and filtering using query
print("\nExample 19:")
for index, row in df.iterrows():
    if row['Age'] > 30:
        print(row)

Example 19:
Name         John Johnson Smith
Age                          33
City               New New York
Full Name            John Smith
Name: ID1, dtype: object
Name         Alice Johnson Smith
Age                           33
City                 New Chicago
Full Name            Alice Smith
Name: ID2, dtype: object
Name         Michael Johnson Smith
Age                             32
City                    New Boston
Full Name            Michael Smith
Name: ID3, dtype: object
Name         Sophia Johnson Smith
Age                            32
City                  New Houston
Full Name            Sophia Smith
Name: ID4, dtype: object
Name         Oliver Johnson Smith
Age                            33
City            New San Francisco
Full Name                     NaN
Name: ID5, dtype: object

In [45]:
# Example 20: Looping through columns and finding the mean value
print("\nExample 20:")
for column, series in df.iteritems():
    if series.dtype == 'int64':
        print("Mean value in column", column, ":", series.mean())

Example 20:
Mean value in column Age : 32.6

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\1789215049.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [46]:
# Example 21: Looping through rows and finding unique values in a column
print("\nExample 21:")
unique_cities = set()
for index, row in df.iterrows():
    unique_cities.add(row['City'])
print("Unique Cities:", unique_cities)

Example 21:
Unique Cities: {'New Chicago', 'New Houston', 'New Boston', 'New New York', 'New San Francisco'}

In [47]:
# Example 22: Looping through rows and filtering using a lambda function
print("\nExample 22:")
filtered_rows = df.apply(lambda row: row['Age'] > 30, axis=1)
print(df[filtered_rows])

Example 22:
                      Name  Age               City      Full Name
ID
ID1     John Johnson Smith   33       New New York     John Smith
ID2    Alice Johnson Smith   33        New Chicago    Alice Smith
ID3  Michael Johnson Smith   32         New Boston  Michael Smith
ID4   Sophia Johnson Smith   32        New Houston   Sophia Smith
ID5   Oliver Johnson Smith   33  New San Francisco            NaN

In [48]:
# Example 23: Looping through rows and sorting based on a column
print("\nExample 23:")
df.sort_values(by='Age', ascending=False, inplace=True)
print(df)

Example 23:
                      Name  Age               City      Full Name
ID
ID1     John Johnson Smith   33       New New York     John Smith
ID2    Alice Johnson Smith   33        New Chicago    Alice Smith
ID5   Oliver Johnson Smith   33  New San Francisco            NaN
ID3  Michael Johnson Smith   32         New Boston  Michael Smith
ID4   Sophia Johnson Smith   32        New Houston   Sophia Smith

In [49]:
# Example 24: Looping through rows and finding the number of occurrences of each age
print("\nExample 24:")
age_counts = {}
for index, row in df.iterrows():
    if row['Age'] in age_counts:
        age_counts[row['Age']] += 1
    else:
        age_counts[row['Age']] = 1
print("Age Counts:", age_counts)

Example 24:
Age Counts: {33: 3, 32: 2}

In [50]:
# Example 25: Looping through rows and finding the maximum age
print("\nExample 25:")
max_age = df['Age'].max()
print("Maximum Age:", max_age)

Example 25:
Maximum Age: 33

In [51]:
# Example 26: Looping through rows and finding the sum of ages
print("\nExample 26:")
sum_age = df['Age'].sum()
print("Sum of Ages:", sum_age)

Example 26:
Sum of Ages: 163

In [52]:
# Example 27: Looping through columns and finding the number of occurrences of each value
print("\nExample 27:")
for column, series in df.iteritems():
    value_counts = series.value_counts()
    print("Value Counts for Column", column, ":")
    print(value_counts)

Example 27:
Value Counts for Column Name :
John Johnson Smith       1
Alice Johnson Smith      1
Oliver Johnson Smith     1
Michael Johnson Smith    1
Sophia Johnson Smith     1
Name: Name, dtype: int64
Value Counts for Column Age :
33    3
32    2
Name: Age, dtype: int64
Value Counts for Column City :
New New York         1
New Chicago          1
New San Francisco    1
New Boston           1
New Houston          1
Name: City, dtype: int64
Value Counts for Column Full Name :
John Smith       1
Alice Smith      1
Michael Smith    1
Sophia Smith     1
Name: Full Name, dtype: int64

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\3873530779.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [53]:
# Example 28: Looping through rows and finding the number of missing values in each column
print("\nExample 28:")
for column, series in df.iteritems():
    num_missing = series.isnull().sum()
    print("Number of Missing Values in Column", column, ":", num_missing)

Example 28:
Number of Missing Values in Column Name : 0
Number of Missing Values in Column Age : 0
Number of Missing Values in Column City : 0
Number of Missing Values in Column Full Name : 1

C:\Users\rvign\AppData\Local\Temp\ipykernel_23348\775970309.py:3: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in df.iteritems():

In [54]:
# Example 29: Looping through rows and finding the index of the maximum age
print("\nExample 29:")
max_age_index = df['Age'].idxmax()
print("Index of Maximum Age:", max_age_index)

Example 29:
Index of Maximum Age: ID1

In [55]:
# Example 30: Looping through rows and finding the correlation between two columns
print("\nExample 30:")
correlation = df['Age'].corr(df['Age'])
print("Correlation between Age and Age:", correlation)

Example 30:
Correlation between Age and Age: 1.0