In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Ella'],
        'Age': ['25', '30', '22'],
        'Score': [95.5, 88.0, 75.25],
        'IsStudent': [True, False, True]}
df = pd.DataFrame(data)

In [3]:
# Example 1: Convert column 'Age' from string to integer
df['Age'] = df['Age'].astype(int)
print("Example 1:")
print("DataFrame after converting 'Age' column to integer:")
print(df)

Example 1:
DataFrame after converting 'Age' column to integer:
    Name  Age  Score  IsStudent
0   John   25  95.50       True
1  Alice   30  88.00      False
2   Ella   22  75.25       True

In [4]:
# Example 2: Convert column 'Score' from float to integer
df['Score'] = df['Score'].astype(int)
print("\nExample 2:")
print("DataFrame after converting 'Score' column to integer:")
print(df)

Example 2:
DataFrame after converting 'Score' column to integer:
    Name  Age  Score  IsStudent
0   John   25     95       True
1  Alice   30     88      False
2   Ella   22     75       True

In [5]:
# Example 3: Convert column 'IsStudent' from boolean to integer (1 and 0)
df['IsStudent'] = df['IsStudent'].astype(int)
print("\nExample 3:")
print("DataFrame after converting 'IsStudent' column to integer (1 and 0):")
print(df)

Example 3:
DataFrame after converting 'IsStudent' column to integer (1 and 0):
    Name  Age  Score  IsStudent
0   John   25     95          1
1  Alice   30     88          0
2   Ella   22     75          1

In [6]:
# Example 4: Convert column 'Age' from integer to string
df['Age'] = df['Age'].astype(str)
print("\nExample 4:")
print("DataFrame after converting 'Age' column to string:")
print(df)

Example 4:
DataFrame after converting 'Age' column to string:
    Name Age  Score  IsStudent
0   John  25     95          1
1  Alice  30     88          0
2   Ella  22     75          1

In [7]:
# Example 5: Convert column 'Score' from integer to float
df['Score'] = df['Score'].astype(float)
print("\nExample 5:")
print("DataFrame after converting 'Score' column to float:")
print(df)

Example 5:
DataFrame after converting 'Score' column to float:
    Name Age  Score  IsStudent
0   John  25   95.0          1
1  Alice  30   88.0          0
2   Ella  22   75.0          1

In [8]:
# Example 6: Convert column 'IsStudent' from integer to boolean
df['IsStudent'] = df['IsStudent'].astype(bool)
print("\nExample 6:")
print("DataFrame after converting 'IsStudent' column to boolean:")
print(df)

Example 6:
DataFrame after converting 'IsStudent' column to boolean:
    Name Age  Score  IsStudent
0   John  25   95.0       True
1  Alice  30   88.0      False
2   Ella  22   75.0       True

In [9]:
# Example 7: Convert column 'Age' from string to integer using pd.to_numeric()
df['Age'] = pd.to_numeric(df['Age'])
print("\nExample 7:")
print("DataFrame after converting 'Age' column to integer using pd.to_numeric():")
print(df)

Example 7:
DataFrame after converting 'Age' column to integer using pd.to_numeric():
    Name  Age  Score  IsStudent
0   John   25   95.0       True
1  Alice   30   88.0      False
2   Ella   22   75.0       True

In [10]:
# Example 8: Convert column 'Score' from float to string using astype()
df['Score'] = df['Score'].astype(str)
print("\nExample 8:")
print("DataFrame after converting 'Score' column to string using astype():")
print(df)

Example 8:
DataFrame after converting 'Score' column to string using astype():
    Name  Age Score  IsStudent
0   John   25  95.0       True
1  Alice   30  88.0      False
2   Ella   22  75.0       True

In [11]:
# Example 9: Convert column 'IsStudent' from boolean to string using astype()
df['IsStudent'] = df['IsStudent'].astype(str)
print("\nExample 9:")
print("DataFrame after converting 'IsStudent' column to string using astype():")
print(df)

Example 9:
DataFrame after converting 'IsStudent' column to string using astype():
    Name  Age Score IsStudent
0   John   25  95.0      True
1  Alice   30  88.0     False
2   Ella   22  75.0      True

In [12]:
# Example 10: Convert column 'Age' from string to integer using to_numeric() with errors='coerce'
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
print("\nExample 10:")
print("DataFrame after converting 'Age' column to integer using to_numeric() with errors='coerce':")
print(df)

Example 10:
DataFrame after converting 'Age' column to integer using to_numeric() with errors='coerce':
    Name  Age Score IsStudent
0   John   25  95.0      True
1  Alice   30  88.0     False
2   Ella   22  75.0      True

In [13]:
# Example 11: Convert column 'Score' from string to float using to_numeric() with errors='coerce'
df['Score'] = pd.to_numeric(df['Score'], errors='coerce')
print("\nExample 11:")
print("DataFrame after converting 'Score' column to float using to_numeric() with errors='coerce':")
print(df)

Example 11:
DataFrame after converting 'Score' column to float using to_numeric() with errors='coerce':
    Name  Age  Score IsStudent
0   John   25   95.0      True
1  Alice   30   88.0     False
2   Ella   22   75.0      True

In [14]:
# Example 12: Convert column 'IsStudent' from string to boolean using map()
bool_map = {'True': True, 'False': False}
df['IsStudent'] = df['IsStudent'].map(bool_map)
print("\nExample 12:")
print("DataFrame after converting 'IsStudent' column to boolean using map():")
print(df)

Example 12:
DataFrame after converting 'IsStudent' column to boolean using map():
    Name  Age  Score  IsStudent
0   John   25   95.0       True
1  Alice   30   88.0      False
2   Ella   22   75.0       True

In [15]:
# Example 13: Convert column 'Age' from integer to string using apply()
df['Age'] = df['Age'].apply(str)
print("\nExample 13:")
print("DataFrame after converting 'Age' column to string using apply():")
print(df)

Example 13:
DataFrame after converting 'Age' column to string using apply():
    Name Age  Score  IsStudent
0   John  25   95.0       True
1  Alice  30   88.0      False
2   Ella  22   75.0       True

In [16]:
# Example 14: Convert column 'Score' from float to integer using apply()
df['Score'] = df['Score'].apply(int)
print("\nExample 14:")
print("DataFrame after converting 'Score' column to integer using apply():")
print(df)

Example 14:
DataFrame after converting 'Score' column to integer using apply():
    Name Age  Score  IsStudent
0   John  25     95       True
1  Alice  30     88      False
2   Ella  22     75       True

In [17]:
# Example 15: Convert column 'IsStudent' from boolean to integer (1 and 0) using apply()
df['IsStudent'] = df['IsStudent'].apply(lambda x: 1 if x else 0)
print("\nExample 15:")
print("DataFrame after converting 'IsStudent' column to integer (1 and 0) using apply():")
print(df)

Example 15:
DataFrame after converting 'IsStudent' column to integer (1 and 0) using apply():
    Name Age  Score  IsStudent
0   John  25     95          1
1  Alice  30     88          0
2   Ella  22     75          1