In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Name': ['John', 'Alice', 'Ella'],
        'Age': ['25', '30', '22'],
        'Score': [95.5, 88.0, 75.25],
        'IsStudent': [True, False, True]}
df = pd.DataFrame(data)

In [3]:
# Example 1: Convert column 'Age' from string to integer
df['Age'] = df['Age'].astype(int)
print("Example 1:")
print("DataFrame after converting 'Age' column to integer:")
print(df)

Example 1:
DataFrame after converting 'Age' column to integer:
    Name  Age  Score  IsStudent
0   John   25  95.50       True
1  Alice   30  88.00      False
2   Ella   22  75.25       True

In [4]:
# Example 2: Convert column 'Score' from float to integer
df['Score'] = df['Score'].astype(int)
print("\nExample 2:")
print("DataFrame after converting 'Score' column to integer:")
print(df)

Example 2:
DataFrame after converting 'Score' column to integer:
    Name  Age  Score  IsStudent
0   John   25     95       True
1  Alice   30     88      False
2   Ella   22     75       True

In [5]:
# Example 3: Convert column 'IsStudent' from boolean to integer (1 and 0)
df['IsStudent'] = df['IsStudent'].astype(int)
print("\nExample 3:")
print("DataFrame after converting 'IsStudent' column to integer (1 and 0):")
print(df)

Example 3:
DataFrame after converting 'IsStudent' column to integer (1 and 0):
    Name  Age  Score  IsStudent
0   John   25     95          1
1  Alice   30     88          0
2   Ella   22     75          1

In [6]:
# Example 4: Convert column 'Age' from integer to string
df['Age'] = df['Age'].astype(str)
print("\nExample 4:")
print("DataFrame after converting 'Age' column to string:")
print(df)

Example 4:
DataFrame after converting 'Age' column to string:
    Name Age  Score  IsStudent
0   John  25     95          1
1  Alice  30     88          0
2   Ella  22     75          1

In [7]:
# Example 5: Convert column 'Score' from integer to float
df['Score'] = df['Score'].astype(float)
print("\nExample 5:")
print("DataFrame after converting 'Score' column to float:")
print(df)

Example 5:
DataFrame after converting 'Score' column to float:
    Name Age  Score  IsStudent
0   John  25   95.0          1
1  Alice  30   88.0          0
2   Ella  22   75.0          1

In [8]:
# Example 6: Convert column 'IsStudent' from integer to boolean
df['IsStudent'] = df['IsStudent'].astype(bool)
print("\nExample 6:")
print("DataFrame after converting 'IsStudent' column to boolean:")
print(df)

Example 6:
DataFrame after converting 'IsStudent' column to boolean:
    Name Age  Score  IsStudent
0   John  25   95.0       True
1  Alice  30   88.0      False
2   Ella  22   75.0       True

In [9]:
# Example 7: Convert column 'Age' from string to integer using pd.to_numeric()
df['Age'] = pd.to_numeric(df['Age'])
print("\nExample 7:")
print("DataFrame after converting 'Age' column to integer using pd.to_numeric():")
print(df)

Example 7:
DataFrame after converting 'Age' column to integer using pd.to_numeric():
    Name  Age  Score  IsStudent
0   John   25   95.0       True
1  Alice   30   88.0      False
2   Ella   22   75.0       True

In [10]:
# Example 8: Convert column 'Score' from float to string using astype()
df['Score'] = df['Score'].astype(str)
print("\nExample 8:")
print("DataFrame after converting 'Score' column to string using astype():")
print(df)

Example 8:
DataFrame after converting 'Score' column to string using astype():
    Name  Age Score  IsStudent
0   John   25  95.0       True
1  Alice   30  88.0      False
2   Ella   22  75.0       True

In [11]:
# Example 9: Convert column 'IsStudent' from boolean to string using astype()
df['IsStudent'] = df['IsStudent'].astype(str)
print("\nExample 9:")
print("DataFrame after converting 'IsStudent' column to string using astype():")
print(df)

Example 9:
DataFrame after converting 'IsStudent' column to string using astype():
    Name  Age Score IsStudent
0   John   25  95.0      True
1  Alice   30  88.0     False
2   Ella   22  75.0      True

In [12]:
# Example 10: Convert column 'Age' from string to integer using to_numeric() with errors='coerce'
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
print("\nExample 10:")
print("DataFrame after converting 'Age' column to integer using to_numeric() with errors='coerce':")
print(df)

Example 10:
DataFrame after converting 'Age' column to integer using to_numeric() with errors='coerce':
    Name  Age Score IsStudent
0   John   25  95.0      True
1  Alice   30  88.0     False
2   Ella   22  75.0      True

In [13]:
# Example 11: Convert column 'Score' from string to float using to_numeric() with errors='coerce'
df['Score'] = pd.to_numeric(df['Score'], errors='coerce')
print("\nExample 11:")
print("DataFrame after converting 'Score' column to float using to_numeric() with errors='coerce':")
print(df)

Example 11:
DataFrame after converting 'Score' column to float using to_numeric() with errors='coerce':
    Name  Age  Score IsStudent
0   John   25   95.0      True
1  Alice   30   88.0     False
2   Ella   22   75.0      True

In [14]:
# Example 12: Convert column 'IsStudent' from string to boolean using map()
bool_map = {'True': True, 'False': False}
df['IsStudent'] = df['IsStudent'].map(bool_map)
print("\nExample 12:")
print("DataFrame after converting 'IsStudent' column to boolean using map():")
print(df)

Example 12:
DataFrame after converting 'IsStudent' column to boolean using map():
    Name  Age  Score  IsStudent
0   John   25   95.0       True
1  Alice   30   88.0      False
2   Ella   22   75.0       True

In [15]:
# Example 13: Convert column 'Age' from integer to string using apply()
df['Age'] = df['Age'].apply(str)
print("\nExample 13:")
print("DataFrame after converting 'Age' column to string using apply():")
print(df)

Example 13:
DataFrame after converting 'Age' column to string using apply():
    Name Age  Score  IsStudent
0   John  25   95.0       True
1  Alice  30   88.0      False
2   Ella  22   75.0       True

In [16]:
# Example 14: Convert column 'Score' from float to integer using apply()
df['Score'] = df['Score'].apply(int)
print("\nExample 14:")
print("DataFrame after converting 'Score' column to integer using apply():")
print(df)

Example 14:
DataFrame after converting 'Score' column to integer using apply():
    Name Age  Score  IsStudent
0   John  25     95       True
1  Alice  30     88      False
2   Ella  22     75       True

In [17]:
# Example 15: Convert column 'IsStudent' from boolean to integer (1 and 0) using apply()
df['IsStudent'] = df['IsStudent'].apply(lambda x: 1 if x else 0)
print("\nExample 15:")
print("DataFrame after converting 'IsStudent' column to integer (1 and 0) using apply():")
print(df)

Example 15:
DataFrame after converting 'IsStudent' column to integer (1 and 0) using apply():
    Name Age  Score  IsStudent
0   John  25     95          1
1  Alice  30     88          0
2   Ella  22     75          1

In [18]:
# Example 16: Convert column 'Age' from string to integer using to_numeric() with errors='ignore'
df['Age'] = pd.to_numeric(df['Age'], errors='ignore')
print("\nExample 16:")
print("DataFrame after converting 'Age' column to integer using to_numeric() with errors='ignore':")
print(df)

Example 16:
DataFrame after converting 'Age' column to integer using to_numeric() with errors='ignore':
    Name  Age  Score  IsStudent
0   John   25     95          1
1  Alice   30     88          0
2   Ella   22     75          1

In [19]:
# Example 17: Convert column 'Score' from float to string using astype() with precision
df['Score'] = df['Score'].astype(str).str.slice(0, 4)
print("\nExample 17:")
print("DataFrame after converting 'Score' column to string with precision using astype() and str.slice():")
print(df)

Example 17:
DataFrame after converting 'Score' column to string with precision using astype() and str.slice():
    Name  Age Score  IsStudent
0   John   25    95          1
1  Alice   30    88          0
2   Ella   22    75          1

In [20]:
# Example 18: Convert column 'IsStudent' from boolean to string using map() with custom mapping
bool_map_custom = {True: 'Yes', False: 'No'}
df['IsStudent'] = df['IsStudent'].map(bool_map_custom)
print("\nExample 18:")
print("DataFrame after converting 'IsStudent' column to string using map() with custom mapping:")
print(df)

Example 18:
DataFrame after converting 'IsStudent' column to string using map() with custom mapping:
    Name  Age Score IsStudent
0   John   25    95       NaN
1  Alice   30    88       NaN
2   Ella   22    75       NaN

In [21]:
# Example 19: Convert column 'Age' from integer to string using apply() with leading zeros
df['Age'] = df['Age'].apply(lambda x: f'{x:02}')
print("\nExample 19:")
print("DataFrame after converting 'Age' column to string with leading zeros using apply():")
print(df)

Example 19:
DataFrame after converting 'Age' column to string with leading zeros using apply():
    Name Age Score IsStudent
0   John  25    95       NaN
1  Alice  30    88       NaN
2   Ella  22    75       NaN

In [22]:
# Example 20: Convert column 'Score' from float to integer using astype() and round()
df['Score'] = df['Score'].astype(int)
print("\nExample 20:")
print("DataFrame after converting 'Score' column to integer using astype() and round():")
print(df)

Example 20:
DataFrame after converting 'Score' column to integer using astype() and round():
    Name Age  Score IsStudent
0   John  25     95       NaN
1  Alice  30     88       NaN
2   Ella  22     75       NaN

In [23]:
# Example 21: Convert column 'IsStudent' from string to boolean using map() with custom mapping
bool_map_custom_rev = {v: k for k, v in bool_map_custom.items()}
df['IsStudent'] = df['IsStudent'].map(bool_map_custom_rev)
print("\nExample 21:")
print("DataFrame after converting 'IsStudent' column to boolean using map() with custom mapping:")
print(df)

Example 21:
DataFrame after converting 'IsStudent' column to boolean using map() with custom mapping:
    Name Age  Score IsStudent
0   John  25     95       NaN
1  Alice  30     88       NaN
2   Ella  22     75       NaN

In [24]:
# Example 22: Convert column 'Age' from string to integer using to_numeric() with downcast
df['Age'] = pd.to_numeric(df['Age'], downcast='integer', errors='coerce')
print("\nExample 22:")
print("DataFrame after converting 'Age' column to integer using to_numeric() with downcast:")
print(df)

Example 22:
DataFrame after converting 'Age' column to integer using to_numeric() with downcast:
    Name  Age  Score IsStudent
0   John   25     95       NaN
1  Alice   30     88       NaN
2   Ella   22     75       NaN

In [25]:
# Example 23: Convert column 'Score' from integer to float using astype() with decimal precision
df['Score'] = df['Score'].astype(float).round(1)
print("\nExample 23:")
print("DataFrame after converting 'Score' column to float with decimal precision using astype() and round():")
print(df)

Example 23:
DataFrame after converting 'Score' column to float with decimal precision using astype() and round():
    Name  Age  Score IsStudent
0   John   25   95.0       NaN
1  Alice   30   88.0       NaN
2   Ella   22   75.0       NaN

In [26]:
# Example 24: Convert column 'IsStudent' from boolean to integer (1 and 0) using to_numeric() with downcast
df['IsStudent'] = pd.to_numeric(df['IsStudent'], downcast='integer', errors='coerce')
print("\nExample 24:")
print("DataFrame after converting 'IsStudent' column to integer (1 and 0) using to_numeric() with downcast:")
print(df)

Example 24:
DataFrame after converting 'IsStudent' column to integer (1 and 0) using to_numeric() with downcast:
    Name  Age  Score  IsStudent
0   John   25   95.0        NaN
1  Alice   30   88.0        NaN
2   Ella   22   75.0        NaN

In [27]:
# Example 25: Convert column 'Age' from string to integer using apply() with custom function
def add_ten(x):
    return int(x) + 10

df['Age'] = df['Age'].apply(add_ten)
print("\nExample 25:")
print("DataFrame after converting 'Age' column to integer using apply() with custom function:")
print(df)

Example 25:
DataFrame after converting 'Age' column to integer using apply() with custom function:
    Name  Age  Score  IsStudent
0   John   35   95.0        NaN
1  Alice   40   88.0        NaN
2   Ella   32   75.0        NaN

In [28]:
# Example 26: Convert column 'Score' from integer to string using astype() with leading space
df['Score'] = df['Score'].astype(str).apply(lambda x: ' ' + x)
print("\nExample 26:")
print("DataFrame after converting 'Score' column to string with leading space using astype() and apply():")
print(df)

Example 26:
DataFrame after converting 'Score' column to string with leading space using astype() and apply():
    Name  Age  Score  IsStudent
0   John   35   95.0        NaN
1  Alice   40   88.0        NaN
2   Ella   32   75.0        NaN

In [29]:
# Example 27: Convert column 'IsStudent' from boolean to string using map() with custom function
def bool_to_str(x):
    return 'Yes' if x else 'No'

df['IsStudent'] = df['IsStudent'].map(bool_to_str)
print("\nExample 27:")
print("DataFrame after converting 'IsStudent' column to string using map() with custom function:")
print(df)

Example 27:
DataFrame after converting 'IsStudent' column to string using map() with custom function:
    Name  Age  Score IsStudent
0   John   35   95.0       Yes
1  Alice   40   88.0       Yes
2   Ella   32   75.0       Yes

In [30]:
# Example 28: Convert column 'Age' from string to integer using to_numeric() with downcast and errors='ignore'
df['Age'] = pd.to_numeric(df['Age'], downcast='integer', errors='ignore')
print("\nExample 28:")
print("DataFrame after converting 'Age' column to integer using to_numeric() with downcast and errors='ignore':")
print(df)

Example 28:
DataFrame after converting 'Age' column to integer using to_numeric() with downcast and errors='ignore':
    Name  Age  Score IsStudent
0   John   35   95.0       Yes
1  Alice   40   88.0       Yes
2   Ella   32   75.0       Yes

In [31]:
# Example 29: Convert column 'Score' from float to integer using astype() with truncation
df['Score'] = df['Score'].astype(int).apply(lambda x: int(str(x)[:2]))
print("\nExample 29:")
print("DataFrame after converting 'Score' column to integer with truncation using astype() and apply():")
print(df)

ValueError: invalid literal for int() with base 10: ' 95.0'

In [32]:
# Example 30: Convert column 'IsStudent' from string to boolean using map() with custom function
def str_to_bool(x):
    return True if x == 'Yes' else False

df['IsStudent'] = df['IsStudent'].map(str_to_bool)
print("\nExample 30:")
print("DataFrame after converting 'IsStudent' column to boolean using map() with custom function:")
print(df)

Example 30:
DataFrame after converting 'IsStudent' column to boolean using map() with custom function:
    Name  Age  Score  IsStudent
0   John   35   95.0       True
1  Alice   40   88.0       True
2   Ella   32   75.0       True