In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Text': ['Eleven','Dustin Henderson', 'Lucas Sinclair', 'Nancy Wheeler','Jonathan Byers']}
df = pd.DataFrame(data)

In [3]:
# Example 1: Extracting the length of each text in 'Text' column
df['Text_Length'] = df['Text'].str.len()
print("Example 1:")
print("DataFrame with text length column:")
print(df)

Example 1:
DataFrame with text length column:
               Text  Text_Length
0            Eleven            6
1  Dustin Henderson           16
2    Lucas Sinclair           14
3     Nancy Wheeler           13
4    Jonathan Byers           14

In [4]:
# Example 2: Converting text to lowercase in 'Text' column
df['Text_Lower'] = df['Text'].str.lower()
print("\nExample 2:")
print("DataFrame with text converted to lowercase:")
print(df)

Example 2:
DataFrame with text converted to lowercase:
               Text  Text_Length        Text_Lower
0            Eleven            6            eleven
1  Dustin Henderson           16  dustin henderson
2    Lucas Sinclair           14    lucas sinclair
3     Nancy Wheeler           13     nancy wheeler
4    Jonathan Byers           14    jonathan byers

In [5]:
# Example 3: Converting text to uppercase in 'Text' column
df['Text_Upper'] = df['Text'].str.upper()
print("\nExample 3:")
print("DataFrame with text converted to uppercase:")
print(df)

Example 3:
DataFrame with text converted to uppercase:
               Text  Text_Length        Text_Lower        Text_Upper
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

In [6]:
# Example 4: Checking if 'Text' column contains a specific substring
df['Contains_Science'] = df['Text'].str.contains('Science')
print("\nExample 4:")
print("DataFrame with a new column checking if 'Text' contains 'Science':")
print(df)

Example 4:
DataFrame with a new column checking if 'Text' contains 'Science':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science
0             False
1             False
2             False
3             False
4             False

In [7]:
# Example 5: Counting occurrences of a specific substring in 'Text' column
df['Count_Python'] = df['Text'].str.count('Python')
print("\nExample 5:")
print("DataFrame with a new column counting occurrences of 'Python' in 'Text':")
print(df)

Example 5:
DataFrame with a new column counting occurrences of 'Python' in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python
0             False             0
1             False             0
2             False             0
3             False             0
4             False             0

In [8]:
# Example 6: Extracting the first 5 characters from 'Text' column
df['First_5_Characters'] = df['Text'].str[:5]
print("\nExample 6:")
print("DataFrame with the first 5 characters extracted from 'Text':")
print(df)

Example 6:
DataFrame with the first 5 characters extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters
0             False             0              Eleve
1             False             0              Dusti
2             False             0              Lucas
3             False             0              Nancy
4             False             0              Jonat