In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Text': ['Eleven','Dustin Henderson', 'Lucas Sinclair', 'Nancy Wheeler','Jonathan Byers']}
df = pd.DataFrame(data)

In [3]:
# Example 1: Extracting the length of each text in 'Text' column
df['Text_Length'] = df['Text'].str.len()
print("Example 1:")
print("DataFrame with text length column:")
print(df)

Example 1:
DataFrame with text length column:
               Text  Text_Length
0            Eleven            6
1  Dustin Henderson           16
2    Lucas Sinclair           14
3     Nancy Wheeler           13
4    Jonathan Byers           14

In [4]:
# Example 2: Converting text to lowercase in 'Text' column
df['Text_Lower'] = df['Text'].str.lower()
print("\nExample 2:")
print("DataFrame with text converted to lowercase:")
print(df)

Example 2:
DataFrame with text converted to lowercase:
               Text  Text_Length        Text_Lower
0            Eleven            6            eleven
1  Dustin Henderson           16  dustin henderson
2    Lucas Sinclair           14    lucas sinclair
3     Nancy Wheeler           13     nancy wheeler
4    Jonathan Byers           14    jonathan byers

In [5]:
# Example 3: Converting text to uppercase in 'Text' column
df['Text_Upper'] = df['Text'].str.upper()
print("\nExample 3:")
print("DataFrame with text converted to uppercase:")
print(df)

Example 3:
DataFrame with text converted to uppercase:
               Text  Text_Length        Text_Lower        Text_Upper
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

In [6]:
# Example 4: Checking if 'Text' column contains a specific substring
df['Contains_Science'] = df['Text'].str.contains('Science')
print("\nExample 4:")
print("DataFrame with a new column checking if 'Text' contains 'Science':")
print(df)

Example 4:
DataFrame with a new column checking if 'Text' contains 'Science':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science
0             False
1             False
2             False
3             False
4             False

In [7]:
# Example 5: Counting occurrences of a specific substring in 'Text' column
df['Count_Python'] = df['Text'].str.count('Python')
print("\nExample 5:")
print("DataFrame with a new column counting occurrences of 'Python' in 'Text':")
print(df)

Example 5:
DataFrame with a new column counting occurrences of 'Python' in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python
0             False             0
1             False             0
2             False             0
3             False             0
4             False             0

In [8]:
# Example 6: Extracting the first 5 characters from 'Text' column
df['First_5_Characters'] = df['Text'].str[:5]
print("\nExample 6:")
print("DataFrame with the first 5 characters extracted from 'Text':")
print(df)

Example 6:
DataFrame with the first 5 characters extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters
0             False             0              Eleve
1             False             0              Dusti
2             False             0              Lucas
3             False             0              Nancy
4             False             0              Jonat

In [9]:
# Example 7: Extracting the last 5 characters from 'Text' column
df['Last_5_Characters'] = df['Text'].str[-5:]
print("\nExample 7:")
print("DataFrame with the last 5 characters extracted from 'Text':")
print(df)

Example 7:
DataFrame with the last 5 characters extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

In [10]:
# Example 8: Removing leading whitespace from 'Text' column
df['Text_No_Leading_Whitespace'] = df['Text'].str.lstrip()
print("\nExample 8:")
print("DataFrame with leading whitespace removed from 'Text':")
print(df)

Example 8:
DataFrame with leading whitespace removed from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace
0                     Eleven
1           Dustin Henderson
2             Lucas Sinclair
3              Nancy Wheeler
4             Jonathan Byers

In [11]:
# Example 9: Removing trailing whitespace from 'Text' column
df['Text_No_Trailing_Whitespace'] = df['Text'].str.rstrip()
print("\nExample 9:")
print("DataFrame with trailing whitespace removed from 'Text':")
print(df)

Example 9:
DataFrame with trailing whitespace removed from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace
0                     Eleven                      Eleven
1           Dustin Henderson            Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler
4             Jonathan Byers              Jonathan Byers

In [12]:
# Example 10: Removing leading and trailing whitespace from 'Text' column
df['Text_No_Whitespace'] = df['Text'].str.strip()
print("\nExample 10:")
print("DataFrame with leading and trailing whitespace removed from 'Text':")
print(df)

Example 10:
DataFrame with leading and trailing whitespace removed from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

In [13]:
# Example 11: Replacing a substring in 'Text' column
df['Text_Replaced'] = df['Text'].str.replace('World', 'Universe')
print("\nExample 11:")
print("DataFrame with 'World' replaced by 'Universe' in 'Text':")
print(df)

Example 11:
DataFrame with 'World' replaced by 'Universe' in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced
0            Eleven
1  Dustin Henderson
2    Lucas Sinclair
3     Nancy Wheeler
4    Jonathan Byers

In [14]:
# Example 12: Splitting 'Text' column into multiple columns based on a delimiter
df[['Text_Part1', 'Text_Part2']] = df['Text'].str.split(',', expand=True)
print("\nExample 12:")
print("DataFrame with 'Text' column split into 'Text_Part1' and 'Text_Part2' based on a comma delimiter:")
print(df)

ValueError: Columns must be same length as key

In [15]:
# Example 13: Extracting numeric characters from 'Text' column
df['Numeric_Characters'] = df['Text'].str.extract('(\d+)')
print("\nExample 13:")
print("DataFrame with numeric characters extracted from 'Text':")
print(df)

Example 13:
DataFrame with numeric characters extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters
0            Eleven                NaN
1  Dustin Henderson                NaN
2    Lucas Sinclair                NaN
3     Nancy Wheeler                NaN
4    Jonathan Byers                NaN

In [16]:
# Example 14: Checking if 'Text' column starts with a specific substring
df['Starts_with_Hello'] = df['Text'].str.startswith('Hello')
print("\nExample 14:")
print("DataFrame with a new column checking if 'Text' starts with 'Hello':")
print(df)

Example 14:
DataFrame with a new column checking if 'Text' starts with 'Hello':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello
0            Eleven                NaN              False
1  Dustin Henderson                NaN              False
2    Lucas Sinclair                NaN              False
3     Nancy Wheeler                NaN              False
4    Jonathan Byers                NaN              False

In [17]:
# Example 15: Checking if 'Text' column ends with a specific substring
df['Ends_with_Awesome'] = df['Text'].str.endswith('awesome!')
print("\nExample 15:")
print("DataFrame with a new column checking if 'Text' ends with 'awesome!':")
print(df)

Example 15:
DataFrame with a new column checking if 'Text' ends with 'awesome!':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

In [18]:
# Example 16: Capitalizing the first letter of each word in 'Text' column
df['Text_Capitalize'] = df['Text'].str.title()
print("\nExample 16:")
print("DataFrame with the first letter of each word in 'Text' capitalized:")
print(df)

Example 16:
DataFrame with the first letter of each word in 'Text' capitalized:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize
0            Eleven
1  Dustin Henderson
2    Lucas Sinclair
3     Nancy Wheeler
4    Jonathan Byers

In [19]:
# Example 17: Counting the number of words in 'Text' column
df['Word_Count'] = df['Text'].str.split().apply(len)
print("\nExample 17:")
print("DataFrame with a new column counting the number of words in 'Text':")
print(df)

Example 17:
DataFrame with a new column counting the number of words in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count
0            Eleven           1
1  Dustin Henderson           2
2    Lucas Sinclair           2
3     Nancy Wheeler           2
4    Jonathan Byers           2

In [20]:
# Example 18: Checking if 'Text' column contains any digit characters
df['Contains_Digit'] = df['Text'].str.contains('\d')
print("\nExample 18:")
print("DataFrame with a new column checking if 'Text' contains any digit characters:")
print(df)

Example 18:
DataFrame with a new column checking if 'Text' contains any digit characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count  Contains_Digit
0            Eleven           1           False
1  Dustin Henderson           2           False
2    Lucas Sinclair           2           False
3     Nancy Wheeler           2           False
4    Jonathan Byers           2           False

In [21]:
# Example 19: Reversing the order of characters in 'Text' column
df['Text_Reversed'] = df['Text'].str[::-1]
print("\nExample 19:")
print("DataFrame with 'Text' column in reversed order:")
print(df)

Example 19:
DataFrame with 'Text' column in reversed order:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count  Contains_Digit     Text_Reversed
0            Eleven           1           False            nevelE
1  Dustin Henderson           2           False  nosredneH nitsuD
2    Lucas Sinclair           2           False    rialcniS sacuL
3     Nancy Wheeler           2           False     releehW ycnaN
4    Jonathan Byers           2           False    sreyB nahtanoJ

In [22]:
# Example 20: Checking if 'Text' column contains any special characters
df['Contains_Special_Chars'] = df['Text'].str.contains('[^a-zA-Z0-9\s]')
print("\nExample 20:")
print("DataFrame with a new column checking if 'Text' contains any special characters:")
print(df)

Example 20:
DataFrame with a new column checking if 'Text' contains any special characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count  Contains_Digit     Text_Reversed  \
0            Eleven           1           False            nevelE
1  Dustin Henderson           2           False  nosredneH nitsuD
2    Lucas Sinclair           2           False    rialcniS sacuL
3     Nancy Wheeler           2           False     releehW ycnaN
4    Jonathan Byers           2           False    sreyB nahtanoJ

   Contains_Special_Chars
0                   False
1                   False
2                   False
3                   False
4                   False