In [1]:
import pandas as pd

In [2]:
# Sample DataFrame
data = {'Text': ['Eleven','Dustin Henderson', 'Lucas Sinclair', 'Nancy Wheeler','Jonathan Byers']}
df = pd.DataFrame(data)

In [3]:
# Example 1: Extracting the length of each text in 'Text' column
df['Text_Length'] = df['Text'].str.len()
print("Example 1:")
print("DataFrame with text length column:")
print(df)

Example 1:
DataFrame with text length column:
               Text  Text_Length
0            Eleven            6
1  Dustin Henderson           16
2    Lucas Sinclair           14
3     Nancy Wheeler           13
4    Jonathan Byers           14

In [4]:
# Example 2: Converting text to lowercase in 'Text' column
df['Text_Lower'] = df['Text'].str.lower()
print("\nExample 2:")
print("DataFrame with text converted to lowercase:")
print(df)

Example 2:
DataFrame with text converted to lowercase:
               Text  Text_Length        Text_Lower
0            Eleven            6            eleven
1  Dustin Henderson           16  dustin henderson
2    Lucas Sinclair           14    lucas sinclair
3     Nancy Wheeler           13     nancy wheeler
4    Jonathan Byers           14    jonathan byers

In [5]:
# Example 3: Converting text to uppercase in 'Text' column
df['Text_Upper'] = df['Text'].str.upper()
print("\nExample 3:")
print("DataFrame with text converted to uppercase:")
print(df)

Example 3:
DataFrame with text converted to uppercase:
               Text  Text_Length        Text_Lower        Text_Upper
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

In [6]:
# Example 4: Checking if 'Text' column contains a specific substring
df['Contains_Science'] = df['Text'].str.contains('Science')
print("\nExample 4:")
print("DataFrame with a new column checking if 'Text' contains 'Science':")
print(df)

Example 4:
DataFrame with a new column checking if 'Text' contains 'Science':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science
0             False
1             False
2             False
3             False
4             False

In [7]:
# Example 5: Counting occurrences of a specific substring in 'Text' column
df['Count_Python'] = df['Text'].str.count('Python')
print("\nExample 5:")
print("DataFrame with a new column counting occurrences of 'Python' in 'Text':")
print(df)

Example 5:
DataFrame with a new column counting occurrences of 'Python' in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python
0             False             0
1             False             0
2             False             0
3             False             0
4             False             0

In [8]:
# Example 6: Extracting the first 5 characters from 'Text' column
df['First_5_Characters'] = df['Text'].str[:5]
print("\nExample 6:")
print("DataFrame with the first 5 characters extracted from 'Text':")
print(df)

Example 6:
DataFrame with the first 5 characters extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters
0             False             0              Eleve
1             False             0              Dusti
2             False             0              Lucas
3             False             0              Nancy
4             False             0              Jonat

In [9]:
# Example 7: Extracting the last 5 characters from 'Text' column
df['Last_5_Characters'] = df['Text'].str[-5:]
print("\nExample 7:")
print("DataFrame with the last 5 characters extracted from 'Text':")
print(df)

Example 7:
DataFrame with the last 5 characters extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

In [10]:
# Example 8: Removing leading whitespace from 'Text' column
df['Text_No_Leading_Whitespace'] = df['Text'].str.lstrip()
print("\nExample 8:")
print("DataFrame with leading whitespace removed from 'Text':")
print(df)

Example 8:
DataFrame with leading whitespace removed from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace
0                     Eleven
1           Dustin Henderson
2             Lucas Sinclair
3              Nancy Wheeler
4             Jonathan Byers

In [11]:
# Example 9: Removing trailing whitespace from 'Text' column
df['Text_No_Trailing_Whitespace'] = df['Text'].str.rstrip()
print("\nExample 9:")
print("DataFrame with trailing whitespace removed from 'Text':")
print(df)

Example 9:
DataFrame with trailing whitespace removed from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace
0                     Eleven                      Eleven
1           Dustin Henderson            Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler
4             Jonathan Byers              Jonathan Byers

In [12]:
# Example 10: Removing leading and trailing whitespace from 'Text' column
df['Text_No_Whitespace'] = df['Text'].str.strip()
print("\nExample 10:")
print("DataFrame with leading and trailing whitespace removed from 'Text':")
print(df)

Example 10:
DataFrame with leading and trailing whitespace removed from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

In [13]:
# Example 11: Replacing a substring in 'Text' column
df['Text_Replaced'] = df['Text'].str.replace('World', 'Universe')
print("\nExample 11:")
print("DataFrame with 'World' replaced by 'Universe' in 'Text':")
print(df)

Example 11:
DataFrame with 'World' replaced by 'Universe' in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced
0            Eleven
1  Dustin Henderson
2    Lucas Sinclair
3     Nancy Wheeler
4    Jonathan Byers

In [14]:
# Example 12: Splitting 'Text' column into multiple columns based on a delimiter
df[['Text_Part1', 'Text_Part2']] = df['Text'].str.split(',', expand=True)
print("\nExample 12:")
print("DataFrame with 'Text' column split into 'Text_Part1' and 'Text_Part2' based on a comma delimiter:")
print(df)

ValueError: Columns must be same length as key

In [15]:
# Example 13: Extracting numeric characters from 'Text' column
df['Numeric_Characters'] = df['Text'].str.extract('(\d+)')
print("\nExample 13:")
print("DataFrame with numeric characters extracted from 'Text':")
print(df)

Example 13:
DataFrame with numeric characters extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters
0            Eleven                NaN
1  Dustin Henderson                NaN
2    Lucas Sinclair                NaN
3     Nancy Wheeler                NaN
4    Jonathan Byers                NaN

In [16]:
# Example 14: Checking if 'Text' column starts with a specific substring
df['Starts_with_Hello'] = df['Text'].str.startswith('Hello')
print("\nExample 14:")
print("DataFrame with a new column checking if 'Text' starts with 'Hello':")
print(df)

Example 14:
DataFrame with a new column checking if 'Text' starts with 'Hello':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello
0            Eleven                NaN              False
1  Dustin Henderson                NaN              False
2    Lucas Sinclair                NaN              False
3     Nancy Wheeler                NaN              False
4    Jonathan Byers                NaN              False

In [17]:
# Example 15: Checking if 'Text' column ends with a specific substring
df['Ends_with_Awesome'] = df['Text'].str.endswith('awesome!')
print("\nExample 15:")
print("DataFrame with a new column checking if 'Text' ends with 'awesome!':")
print(df)

Example 15:
DataFrame with a new column checking if 'Text' ends with 'awesome!':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

In [18]:
# Example 16: Capitalizing the first letter of each word in 'Text' column
df['Text_Capitalize'] = df['Text'].str.title()
print("\nExample 16:")
print("DataFrame with the first letter of each word in 'Text' capitalized:")
print(df)

Example 16:
DataFrame with the first letter of each word in 'Text' capitalized:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize
0            Eleven
1  Dustin Henderson
2    Lucas Sinclair
3     Nancy Wheeler
4    Jonathan Byers

In [19]:
# Example 17: Counting the number of words in 'Text' column
df['Word_Count'] = df['Text'].str.split().apply(len)
print("\nExample 17:")
print("DataFrame with a new column counting the number of words in 'Text':")
print(df)

Example 17:
DataFrame with a new column counting the number of words in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count
0            Eleven           1
1  Dustin Henderson           2
2    Lucas Sinclair           2
3     Nancy Wheeler           2
4    Jonathan Byers           2

In [20]:
# Example 18: Checking if 'Text' column contains any digit characters
df['Contains_Digit'] = df['Text'].str.contains('\d')
print("\nExample 18:")
print("DataFrame with a new column checking if 'Text' contains any digit characters:")
print(df)

Example 18:
DataFrame with a new column checking if 'Text' contains any digit characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count  Contains_Digit
0            Eleven           1           False
1  Dustin Henderson           2           False
2    Lucas Sinclair           2           False
3     Nancy Wheeler           2           False
4    Jonathan Byers           2           False

In [21]:
# Example 19: Reversing the order of characters in 'Text' column
df['Text_Reversed'] = df['Text'].str[::-1]
print("\nExample 19:")
print("DataFrame with 'Text' column in reversed order:")
print(df)

Example 19:
DataFrame with 'Text' column in reversed order:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count  Contains_Digit     Text_Reversed
0            Eleven           1           False            nevelE
1  Dustin Henderson           2           False  nosredneH nitsuD
2    Lucas Sinclair           2           False    rialcniS sacuL
3     Nancy Wheeler           2           False     releehW ycnaN
4    Jonathan Byers           2           False    sreyB nahtanoJ

In [22]:
# Example 20: Checking if 'Text' column contains any special characters
df['Contains_Special_Chars'] = df['Text'].str.contains('[^a-zA-Z0-9\s]')
print("\nExample 20:")
print("DataFrame with a new column checking if 'Text' contains any special characters:")
print(df)

Example 20:
DataFrame with a new column checking if 'Text' contains any special characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace Text_No_Whitespace  \
0                     Eleven                      Eleven             Eleven
1           Dustin Henderson            Dustin Henderson   Dustin Henderson
2             Lucas Sinclair              Lucas Sinclair     Lucas Sinclair
3              Nancy Wheeler               Nancy Wheeler      Nancy Wheeler
4             Jonathan Byers              Jonathan Byers     Jonathan Byers

      Text_Replaced Numeric_Characters  Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN              False              False
1  Dustin Henderson                NaN              False              False
2    Lucas Sinclair                NaN              False              False
3     Nancy Wheeler                NaN              False              False
4    Jonathan Byers                NaN              False              False

    Text_Capitalize  Word_Count  Contains_Digit     Text_Reversed  \
0            Eleven           1           False            nevelE
1  Dustin Henderson           2           False  nosredneH nitsuD
2    Lucas Sinclair           2           False    rialcniS sacuL
3     Nancy Wheeler           2           False     releehW ycnaN
4    Jonathan Byers           2           False    sreyB nahtanoJ

   Contains_Special_Chars
0                   False
1                   False
2                   False
3                   False
4                   False

In [23]:
# Example 21: Extracting text after a specific substring in 'Text' column
df['Text_After_Awesome'] = df['Text'].str.extract('(?<=awesome!) (.*)')
print("\nExample 21:")
print("DataFrame with text extracted after 'awesome!' in 'Text':")
print(df)

Example 21:
DataFrame with text extracted after 'awesome!' in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

      Text_Replaced Numeric_Characters Starts_with_Hello  Ends_with_Awesome  \
0            Eleven                NaN             False              False
1  Dustin Henderson                NaN             False              False
2    Lucas Sinclair                NaN             False              False
3     Nancy Wheeler                NaN             False              False
4    Jonathan Byers                NaN             False              False

    Text_Capitalize Word_Count  Contains_Digit     Text_Reversed  \
0            Eleven          1           False            nevelE
1  Dustin Henderson          2           False  nosredneH nitsuD
2    Lucas Sinclair          2           False    rialcniS sacuL
3     Nancy Wheeler          2           False     releehW ycnaN
4    Jonathan Byers          2           False    sreyB nahtanoJ

  Contains_Special_Chars  Text_After_Awesome
0                  False                 NaN
1                  False                 NaN
2                  False                 NaN
3                  False                 NaN
4                  False                 NaN

[5 rows x 21 columns]

In [24]:
# Example 22: Checking if 'Text' column contains any alphabetic characters
df['Contains_Alpha'] = df['Text'].str.contains('[a-zA-Z]')
print("\nExample 22:")
print("DataFrame with a new column checking if 'Text' contains any alphabetic characters:")
print(df)

Example 22:
DataFrame with a new column checking if 'Text' contains any alphabetic characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Numeric_Characters Starts_with_Hello Ends_with_Awesome   Text_Capitalize  \
0                NaN             False             False            Eleven
1                NaN             False             False  Dustin Henderson
2                NaN             False             False    Lucas Sinclair
3                NaN             False             False     Nancy Wheeler
4                NaN             False             False    Jonathan Byers

   Word_Count Contains_Digit     Text_Reversed  Contains_Special_Chars  \
0           1          False            nevelE                   False
1           2          False  nosredneH nitsuD                   False
2           2          False    rialcniS sacuL                   False
3           2          False     releehW ycnaN                   False
4           2          False    sreyB nahtanoJ                   False

  Text_After_Awesome  Contains_Alpha
0                NaN            True
1                NaN            True
2                NaN            True
3                NaN            True
4                NaN            True

[5 rows x 22 columns]

In [25]:
# Example 23: Checking if 'Text' column contains any uppercase characters
df['Contains_Upper'] = df['Text'].str.contains('[A-Z]')
print("\nExample 23:")
print("DataFrame with a new column checking if 'Text' contains any uppercase characters:")
print(df)

Example 23:
DataFrame with a new column checking if 'Text' contains any uppercase characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Starts_with_Hello Ends_with_Awesome   Text_Capitalize  Word_Count  \
0             False             False            Eleven           1
1             False             False  Dustin Henderson           2
2             False             False    Lucas Sinclair           2
3             False             False     Nancy Wheeler           2
4             False             False    Jonathan Byers           2

   Contains_Digit     Text_Reversed  Contains_Special_Chars  \
0           False            nevelE                   False
1           False  nosredneH nitsuD                   False
2           False    rialcniS sacuL                   False
3           False     releehW ycnaN                   False
4           False    sreyB nahtanoJ                   False

   Text_After_Awesome Contains_Alpha  Contains_Upper
0                 NaN           True            True
1                 NaN           True            True
2                 NaN           True            True
3                 NaN           True            True
4                 NaN           True            True

[5 rows x 23 columns]

In [26]:
# Example 24: Checking if 'Text' column contains any lowercase characters
df['Contains_Lower'] = df['Text'].str.contains('[a-z]')
print("\nExample 24:")
print("DataFrame with a new column checking if 'Text' contains any lowercase characters:")
print(df)

Example 24:
DataFrame with a new column checking if 'Text' contains any lowercase characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Ends_with_Awesome   Text_Capitalize Word_Count  Contains_Digit  \
0             False            Eleven          1           False
1             False  Dustin Henderson          2           False
2             False    Lucas Sinclair          2           False
3             False     Nancy Wheeler          2           False
4             False    Jonathan Byers          2           False

      Text_Reversed Contains_Special_Chars  Text_After_Awesome  \
0            nevelE                  False                 NaN
1  nosredneH nitsuD                  False                 NaN
2    rialcniS sacuL                  False                 NaN
3     releehW ycnaN                  False                 NaN
4    sreyB nahtanoJ                  False                 NaN

   Contains_Alpha Contains_Upper  Contains_Lower
0            True           True            True
1            True           True            True
2            True           True            True
3            True           True            True
4            True           True            True

[5 rows x 24 columns]

In [27]:
# Example 25: Checking if 'Text' column contains only alphabetic characters
df['Is_Alpha'] = df['Text'].str.isalpha()
print("\nExample 25:")
print("DataFrame with a new column checking if 'Text' contains only alphabetic characters:")
print(df)

Example 25:
DataFrame with a new column checking if 'Text' contains only alphabetic characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

    Text_Capitalize Word_Count Contains_Digit     Text_Reversed  \
0            Eleven          1          False            nevelE
1  Dustin Henderson          2          False  nosredneH nitsuD
2    Lucas Sinclair          2          False    rialcniS sacuL
3     Nancy Wheeler          2          False     releehW ycnaN
4    Jonathan Byers          2          False    sreyB nahtanoJ

   Contains_Special_Chars Text_After_Awesome  Contains_Alpha  Contains_Upper  \
0                   False                NaN            True            True
1                   False                NaN            True            True
2                   False                NaN            True            True
3                   False                NaN            True            True
4                   False                NaN            True            True

  Contains_Lower  Is_Alpha
0           True      True
1           True     False
2           True     False
3           True     False
4           True     False

[5 rows x 25 columns]

In [28]:
# Example 26: Checking if 'Text' column contains only alphanumeric characters
df['Is_Alphanumeric'] = df['Text'].str.isalnum()
print("\nExample 26:")
print("DataFrame with a new column checking if 'Text' contains only alphanumeric characters:")
print(df)

Example 26:
DataFrame with a new column checking if 'Text' contains only alphanumeric characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Word_Count  \
0                     Eleven                      Eleven  ...          1
1           Dustin Henderson            Dustin Henderson  ...          2
2             Lucas Sinclair              Lucas Sinclair  ...          2
3              Nancy Wheeler               Nancy Wheeler  ...          2
4             Jonathan Byers              Jonathan Byers  ...          2

  Contains_Digit     Text_Reversed  Contains_Special_Chars  \
0          False            nevelE                   False
1          False  nosredneH nitsuD                   False
2          False    rialcniS sacuL                   False
3          False     releehW ycnaN                   False
4          False    sreyB nahtanoJ                   False

   Text_After_Awesome Contains_Alpha  Contains_Upper  Contains_Lower Is_Alpha  \
0                 NaN           True            True            True     True
1                 NaN           True            True            True    False
2                 NaN           True            True            True    False
3                 NaN           True            True            True    False
4                 NaN           True            True            True    False

   Is_Alphanumeric
0             True
1            False
2            False
3            False
4            False

[5 rows x 26 columns]

In [29]:
# Example 27: Checking if 'Text' column contains only digit characters
df['Is_Digit'] = df['Text'].str.isdigit()
print("\nExample 27:")
print("DataFrame with a new column checking if 'Text' contains only digit characters:")
print(df)

Example 27:
DataFrame with a new column checking if 'Text' contains only digit characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Contains_Digit  \
0                     Eleven                      Eleven  ...          False
1           Dustin Henderson            Dustin Henderson  ...          False
2             Lucas Sinclair              Lucas Sinclair  ...          False
3              Nancy Wheeler               Nancy Wheeler  ...          False
4             Jonathan Byers              Jonathan Byers  ...          False

      Text_Reversed Contains_Special_Chars  Text_After_Awesome  \
0            nevelE                  False                 NaN
1  nosredneH nitsuD                  False                 NaN
2    rialcniS sacuL                  False                 NaN
3     releehW ycnaN                  False                 NaN
4    sreyB nahtanoJ                  False                 NaN

   Contains_Alpha Contains_Upper  Contains_Lower  Is_Alpha Is_Alphanumeric  \
0            True           True            True      True            True
1            True           True            True     False           False
2            True           True            True     False           False
3            True           True            True     False           False
4            True           True            True     False           False

   Is_Digit
0     False
1     False
2     False
3     False
4     False

[5 rows x 27 columns]

In [30]:
# Example 28: Counting the number of occurrences of each word in 'Text' column
df['Word_Frequency'] = df['Text'].str.split().explode().value_counts()
print("\nExample 28:")
print("DataFrame with a new column counting the number of occurrences of each word in 'Text':")
print(df)

Example 28:
DataFrame with a new column counting the number of occurrences of each word in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

      Text_Reversed Contains_Special_Chars Text_After_Awesome  Contains_Alpha  \
0            nevelE                  False                NaN            True
1  nosredneH nitsuD                  False                NaN            True
2    rialcniS sacuL                  False                NaN            True
3     releehW ycnaN                  False                NaN            True
4    sreyB nahtanoJ                  False                NaN            True

   Contains_Upper Contains_Lower  Is_Alpha  Is_Alphanumeric Is_Digit  \
0            True           True      True             True    False
1            True           True     False            False    False
2            True           True     False            False    False
3            True           True     False            False    False
4            True           True     False            False    False

   Word_Frequency
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 28 columns]

In [31]:
# Example 29: Checking if 'Text' column contains any whitespace characters
df['Contains_Whitespace'] = df['Text'].str.contains('\s')
print("\nExample 29:")
print("DataFrame with a new column checking if 'Text' contains any whitespace characters:")
print(df)

Example 29:
DataFrame with a new column checking if 'Text' contains any whitespace characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Contains_Special_Chars Text_After_Awesome Contains_Alpha  Contains_Upper  \
0                  False                NaN           True            True
1                  False                NaN           True            True
2                  False                NaN           True            True
3                  False                NaN           True            True
4                  False                NaN           True            True

   Contains_Lower Is_Alpha  Is_Alphanumeric  Is_Digit Word_Frequency  \
0            True     True             True     False            NaN
1            True    False            False     False            NaN
2            True    False            False     False            NaN
3            True    False            False     False            NaN
4            True    False            False     False            NaN

   Contains_Whitespace
0                False
1                 True
2                 True
3                 True
4                 True

[5 rows x 29 columns]

In [32]:
# Example 30: Replacing multiple substrings in 'Text' column using dictionary mapping
replacements = {'Hello': 'Hi', 'Python': 'Java'}
df['Text_Multiple_Replaced'] = df['Text'].replace(replacements, regex=True)
print("\nExample 30:")
print("DataFrame with multiple substrings replaced in 'Text' using dictionary mapping:")
print(df)

Example 30:
DataFrame with multiple substrings replaced in 'Text' using dictionary mapping:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Text_After_Awesome Contains_Alpha Contains_Upper  Contains_Lower  Is_Alpha  \
0                NaN           True           True            True      True
1                NaN           True           True            True     False
2                NaN           True           True            True     False
3                NaN           True           True            True     False
4                NaN           True           True            True     False

  Is_Alphanumeric  Is_Digit  Word_Frequency Contains_Whitespace  \
0            True     False             NaN               False
1           False     False             NaN                True
2           False     False             NaN                True
3           False     False             NaN                True
4           False     False             NaN                True

   Text_Multiple_Replaced
0                  Eleven
1        Dustin Henderson
2          Lucas Sinclair
3           Nancy Wheeler
4          Jonathan Byers

[5 rows x 30 columns]

In [33]:
# Example 31: Checking if 'Text' column contains any non-alphanumeric characters
df['Contains_Non_Alphanumeric'] = df['Text'].str.contains('[^a-zA-Z0-9]')
print("\nExample 31:")
print("DataFrame with a new column checking if 'Text' contains any non-alphanumeric characters:")
print(df)

Example 31:
DataFrame with a new column checking if 'Text' contains any non-alphanumeric characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Contains_Alpha  \
0                     Eleven                      Eleven  ...           True
1           Dustin Henderson            Dustin Henderson  ...           True
2             Lucas Sinclair              Lucas Sinclair  ...           True
3              Nancy Wheeler               Nancy Wheeler  ...           True
4             Jonathan Byers              Jonathan Byers  ...           True

  Contains_Upper Contains_Lower  Is_Alpha  Is_Alphanumeric Is_Digit  \
0           True           True      True             True    False
1           True           True     False            False    False
2           True           True     False            False    False
3           True           True     False            False    False
4           True           True     False            False    False

   Word_Frequency  Contains_Whitespace Text_Multiple_Replaced  \
0             NaN                False                 Eleven
1             NaN                 True       Dustin Henderson
2             NaN                 True         Lucas Sinclair
3             NaN                 True          Nancy Wheeler
4             NaN                 True         Jonathan Byers

   Contains_Non_Alphanumeric
0                      False
1                       True
2                       True
3                       True
4                       True

[5 rows x 31 columns]

In [34]:
# Example 32: Extracting text before a specific substring in 'Text' column
df['Text_Before_Data'] = df['Text'].str.extract('(.*?) Data')
print("\nExample 32:")
print("DataFrame with text extracted before ' Data' in 'Text':")
print(df)

Example 32:
DataFrame with text extracted before ' Data' in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Contains_Upper  \
0                     Eleven                      Eleven  ...           True
1           Dustin Henderson            Dustin Henderson  ...           True
2             Lucas Sinclair              Lucas Sinclair  ...           True
3              Nancy Wheeler               Nancy Wheeler  ...           True
4             Jonathan Byers              Jonathan Byers  ...           True

  Contains_Lower Is_Alpha  Is_Alphanumeric  Is_Digit Word_Frequency  \
0           True     True             True     False            NaN
1           True    False            False     False            NaN
2           True    False            False     False            NaN
3           True    False            False     False            NaN
4           True    False            False     False            NaN

   Contains_Whitespace  Text_Multiple_Replaced Contains_Non_Alphanumeric  \
0                False                  Eleven                     False
1                 True        Dustin Henderson                      True
2                 True          Lucas Sinclair                      True
3                 True           Nancy Wheeler                      True
4                 True          Jonathan Byers                      True

   Text_Before_Data
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN

[5 rows x 32 columns]

In [35]:
# Example 33: Checking if 'Text' column contains any punctuation characters
df['Contains_Punctuation'] = df['Text'].str.contains('[\W_]')
print("\nExample 33:")
print("DataFrame with a new column checking if 'Text' contains any punctuation characters:")
print(df)

Example 33:
DataFrame with a new column checking if 'Text' contains any punctuation characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Contains_Lower  \
0                     Eleven                      Eleven  ...           True
1           Dustin Henderson            Dustin Henderson  ...           True
2             Lucas Sinclair              Lucas Sinclair  ...           True
3              Nancy Wheeler               Nancy Wheeler  ...           True
4             Jonathan Byers              Jonathan Byers  ...           True

  Is_Alpha Is_Alphanumeric  Is_Digit  Word_Frequency Contains_Whitespace  \
0     True            True     False             NaN               False
1    False           False     False             NaN                True
2    False           False     False             NaN                True
3    False           False     False             NaN                True
4    False           False     False             NaN                True

   Text_Multiple_Replaced  Contains_Non_Alphanumeric Text_Before_Data  \
0                  Eleven                      False              NaN
1        Dustin Henderson                       True              NaN
2          Lucas Sinclair                       True              NaN
3           Nancy Wheeler                       True              NaN
4          Jonathan Byers                       True              NaN

   Contains_Punctuation
0                 False
1                  True
2                  True
3                  True
4                  True

[5 rows x 33 columns]

In [36]:
# Example 34: Counting the number of occurrences of each letter in 'Text' column
df['Letter_Frequency'] = df['Text'].str.replace(' ', '').str.lower().value_counts()
print("\nExample 34:")
print("DataFrame with a new column counting the number of occurrences of each letter in 'Text':")
print(df)

Example 34:
DataFrame with a new column counting the number of occurrences of each letter in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Is_Alpha  \
0                     Eleven                      Eleven  ...     True
1           Dustin Henderson            Dustin Henderson  ...    False
2             Lucas Sinclair              Lucas Sinclair  ...    False
3              Nancy Wheeler               Nancy Wheeler  ...    False
4             Jonathan Byers              Jonathan Byers  ...    False

  Is_Alphanumeric Is_Digit  Word_Frequency  Contains_Whitespace  \
0            True    False             NaN                False
1           False    False             NaN                 True
2           False    False             NaN                 True
3           False    False             NaN                 True
4           False    False             NaN                 True

  Text_Multiple_Replaced  Contains_Non_Alphanumeric  Text_Before_Data  \
0                 Eleven                      False               NaN
1       Dustin Henderson                       True               NaN
2         Lucas Sinclair                       True               NaN
3          Nancy Wheeler                       True               NaN
4         Jonathan Byers                       True               NaN

  Contains_Punctuation  Letter_Frequency
0                False               NaN
1                 True               NaN
2                 True               NaN
3                 True               NaN
4                 True               NaN

[5 rows x 34 columns]

In [37]:
# Example 35: Checking if 'Text' column contains only whitespace characters
df['Is_Whitespace'] = df['Text'].str.isspace()
print("\nExample 35:")
print("DataFrame with a new column checking if 'Text' contains only whitespace characters:")
print(df)

Example 35:
DataFrame with a new column checking if 'Text' contains only whitespace characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Is_Alphanumeric  \
0                     Eleven                      Eleven  ...            True
1           Dustin Henderson            Dustin Henderson  ...           False
2             Lucas Sinclair              Lucas Sinclair  ...           False
3              Nancy Wheeler               Nancy Wheeler  ...           False
4             Jonathan Byers              Jonathan Byers  ...           False

  Is_Digit Word_Frequency  Contains_Whitespace  Text_Multiple_Replaced  \
0    False            NaN                False                  Eleven
1    False            NaN                 True        Dustin Henderson
2    False            NaN                 True          Lucas Sinclair
3    False            NaN                 True           Nancy Wheeler
4    False            NaN                 True          Jonathan Byers

  Contains_Non_Alphanumeric  Text_Before_Data  Contains_Punctuation  \
0                     False               NaN                 False
1                      True               NaN                  True
2                      True               NaN                  True
3                      True               NaN                  True
4                      True               NaN                  True

  Letter_Frequency  Is_Whitespace
0              NaN          False
1              NaN          False
2              NaN          False
3              NaN          False
4              NaN          False

[5 rows x 35 columns]

In [38]:
# Example 36: Splitting 'Text' column into multiple columns based on a specific number of characters
df[['Text_Part1_3', 'Text_Part2_3']] = df['Text'].str.extract('(.{3})(.{3})')
print("\nExample 36:")
print("DataFrame with 'Text' column split into 'Text_Part1_3' and 'Text_Part2_3' based on 3 characters:")
print(df)

Example 36:
DataFrame with 'Text' column split into 'Text_Part1_3' and 'Text_Part2_3' based on 3 characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ... Word_Frequency  \
0                     Eleven                      Eleven  ...            NaN
1           Dustin Henderson            Dustin Henderson  ...            NaN
2             Lucas Sinclair              Lucas Sinclair  ...            NaN
3              Nancy Wheeler               Nancy Wheeler  ...            NaN
4             Jonathan Byers              Jonathan Byers  ...            NaN

  Contains_Whitespace Text_Multiple_Replaced  Contains_Non_Alphanumeric  \
0               False                 Eleven                      False
1                True       Dustin Henderson                       True
2                True         Lucas Sinclair                       True
3                True          Nancy Wheeler                       True
4                True         Jonathan Byers                       True

   Text_Before_Data Contains_Punctuation  Letter_Frequency  Is_Whitespace  \
0               NaN                False               NaN          False
1               NaN                 True               NaN          False
2               NaN                 True               NaN          False
3               NaN                 True               NaN          False
4               NaN                 True               NaN          False

  Text_Part1_3  Text_Part2_3
0          Ele           ven
1          Dus           tin
2          Luc           as
3          Nan           cy
4          Jon           ath

[5 rows x 37 columns]

In [39]:
# Example 37: Checking if 'Text' column contains any emojis
df['Contains_Emoji'] = df['Text'].str.contains('[\U0001F300-\U0001F64F\U0001F680-\U0001F6FF\U0001F910-\U0001F96B\U0001F980-\U0001F9E6]')
print("\nExample 37:")
print("DataFrame with a new column checking if 'Text' contains any emojis:")
print(df)

Example 37:
DataFrame with a new column checking if 'Text' contains any emojis:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Contains_Whitespace Text_Multiple_Replaced Contains_Non_Alphanumeric  \
0               False                 Eleven                     False
1                True       Dustin Henderson                      True
2                True         Lucas Sinclair                      True
3                True          Nancy Wheeler                      True
4                True         Jonathan Byers                      True

   Text_Before_Data  Contains_Punctuation Letter_Frequency  Is_Whitespace  \
0               NaN                 False              NaN          False
1               NaN                  True              NaN          False
2               NaN                  True              NaN          False
3               NaN                  True              NaN          False
4               NaN                  True              NaN          False

   Text_Part1_3 Text_Part2_3  Contains_Emoji
0           Ele          ven           False
1           Dus          tin           False
2           Luc          as            False
3           Nan          cy            False
4           Jon          ath           False

[5 rows x 38 columns]

In [40]:
# Example 38: Counting the number of occurrences of each punctuation character in 'Text' column
df['Punctuation_Frequency'] = df['Text'].str.replace('[a-zA-Z0-9\s]', '').value_counts()
print("\nExample 38:")
print("DataFrame with a new column counting the number of occurrences of each punctuation character in 'Text':")
print(df)

Example 38:
DataFrame with a new column counting the number of occurrences of each punctuation character in 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Text_Multiple_Replaced Contains_Non_Alphanumeric Text_Before_Data  \
0                 Eleven                     False              NaN
1       Dustin Henderson                      True              NaN
2         Lucas Sinclair                      True              NaN
3          Nancy Wheeler                      True              NaN
4         Jonathan Byers                      True              NaN

   Contains_Punctuation  Letter_Frequency Is_Whitespace  Text_Part1_3  \
0                 False               NaN         False           Ele
1                  True               NaN         False           Dus
2                  True               NaN         False           Luc
3                  True               NaN         False           Nan
4                  True               NaN         False           Jon

   Text_Part2_3 Contains_Emoji  Punctuation_Frequency
0           ven          False                    NaN
1           tin          False                    NaN
2           as           False                    NaN
3           cy           False                    NaN
4           ath          False                    NaN

[5 rows x 39 columns]

C:\Users\rvign\AppData\Local\Temp\ipykernel_26196\3376392290.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Punctuation_Frequency'] = df['Text'].str.replace('[a-zA-Z0-9\s]', '').value_counts()

In [41]:
# Example 39: Checking if 'Text' column contains any alphabetic or digit characters
df['Contains_Alpha_or_Digit'] = df['Text'].str.contains('[a-zA-Z0-9]')
print("\nExample 39:")
print("DataFrame with a new column checking if 'Text' contains any alphabetic or digit characters:")
print(df)

Example 39:
DataFrame with a new column checking if 'Text' contains any alphabetic or digit characters:
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Contains_Non_Alphanumeric Text_Before_Data Contains_Punctuation  \
0                     False              NaN                False
1                      True              NaN                 True
2                      True              NaN                 True
3                      True              NaN                 True
4                      True              NaN                 True

   Letter_Frequency  Is_Whitespace Text_Part1_3  Text_Part2_3  Contains_Emoji  \
0               NaN          False          Ele           ven           False
1               NaN          False          Dus           tin           False
2               NaN          False          Luc           as            False
3               NaN          False          Nan           cy            False
4               NaN          False          Jon           ath           False

  Punctuation_Frequency  Contains_Alpha_or_Digit
0                   NaN                     True
1                   NaN                     True
2                   NaN                     True
3                   NaN                     True
4                   NaN                     True

[5 rows x 40 columns]

In [42]:
# Example 40: Extracting the first word from 'Text' column
df['First_Word'] = df['Text'].str.split().str[0]
print("\nExample 40:")
print("DataFrame with the first word extracted from 'Text':")
print(df)

Example 40:
DataFrame with the first word extracted from 'Text':
               Text  Text_Length        Text_Lower        Text_Upper  \
0            Eleven            6            eleven            ELEVEN
1  Dustin Henderson           16  dustin henderson  DUSTIN HENDERSON
2    Lucas Sinclair           14    lucas sinclair    LUCAS SINCLAIR
3     Nancy Wheeler           13     nancy wheeler     NANCY WHEELER
4    Jonathan Byers           14    jonathan byers    JONATHAN BYERS

   Contains_Science  Count_Python First_5_Characters Last_5_Characters  \
0             False             0              Eleve             leven
1             False             0              Dusti             erson
2             False             0              Lucas             clair
3             False             0              Nancy             eeler
4             False             0              Jonat             Byers

  Text_No_Leading_Whitespace Text_No_Trailing_Whitespace  ...  \
0                     Eleven                      Eleven  ...
1           Dustin Henderson            Dustin Henderson  ...
2             Lucas Sinclair              Lucas Sinclair  ...
3              Nancy Wheeler               Nancy Wheeler  ...
4             Jonathan Byers              Jonathan Byers  ...

  Text_Before_Data Contains_Punctuation Letter_Frequency  Is_Whitespace  \
0              NaN                False              NaN          False
1              NaN                 True              NaN          False
2              NaN                 True              NaN          False
3              NaN                 True              NaN          False
4              NaN                 True              NaN          False

   Text_Part1_3 Text_Part2_3  Contains_Emoji  Punctuation_Frequency  \
0           Ele          ven           False                    NaN
1           Dus          tin           False                    NaN
2           Luc          as            False                    NaN
3           Nan          cy            False                    NaN
4           Jon          ath           False                    NaN

  Contains_Alpha_or_Digit  First_Word
0                    True      Eleven
1                    True      Dustin
2                    True       Lucas
3                    True       Nancy
4                    True    Jonathan

[5 rows x 41 columns]