In [44]:
import pandas as pd
import json

In [46]:
# Example 1: Reading JSON data from a file
with open('input-contends/data.json', 'r') as file:
    data = json.load(file)
df = pd.json_normalize(data)
print("Example 1:")
print(df)

Example 1:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles

```python
# Example 2: Reading JSON data from a URL
url = 'http://date.jsontest.com/'
response = pd.read_json(url)
df = pd.json_normalize(response['data'])
print("\nExample 2:")
print(df)
```

In [ ]:
# Example 3: Reading JSON data from a string
json_str = '{"name": "John", "age": 30, "city": "New York"}'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 3:")
print(df)

Example 3:
   name  age      city
0  John   30  New York

In [ ]:
# Example 4: Handling nested JSON data
nested_json = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001"}}'
data = json.loads(nested_json)
df = pd.json_normalize(data)
print("\nExample 4:")
print(df)

Example 4:
   name  age address.city address.zipcode
0  John   30     New York           10001

In [ ]:
# Example 5: Reading JSON data with multiple records
json_str = '[{"name": "John", "age": 30}, {"name": "Alice", "age": 25}]'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 5:")
print(df)

Example 5:
    name  age
0   John   30
1  Alice   25

In [ ]:
# Example 6: Handling nested JSON data with multiple records
nested_json = '[{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001"}}, {"name": "Alice", "age": 25, "address": {"city": "Los Angeles", "zipcode": "90001"}}]'
data = json.loads(nested_json)
df = pd.json_normalize(data)
print("\nExample 6:")
print(df)

Example 6:
    name  age address.city address.zipcode
0   John   30     New York           10001
1  Alice   25  Los Angeles           90001

In [47]:
# Example 7: Reading nested JSON data from a file
with open('input-contends/data_nested.json', 'r') as file:
    data = json.load(file)
df = pd.json_normalize(data, 'employees', ['department', 'location'])
print("\nExample 7:")
print(df)

JSONDecodeError: Extra data: line 2 column 1 (char 140)

In [ ]:
# Example 8: Handling deeply nested JSON data
deep_nested_json = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001", "coordinates": {"latitude": 40.7128, "longitude": -74.0060}}}'
data = json.loads(deep_nested_json)
df = pd.json_normalize(data)
print("\nExample 8:")
print(df)

Example 8:
   name  age address.city address.zipcode  address.coordinates.latitude  \
0  John   30     New York           10001                       40.7128

   address.coordinates.longitude
0                        -74.006

In [ ]:
# Example 9: Handling arrays within JSON data
json_str = '{"name": "John", "age": 30, "hobbies": ["reading", "gaming", "cooking"]}'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 9:")
print(df)

Example 9:
   name  age                     hobbies
0  John   30  [reading, gaming, cooking]

In [ ]:
# Example 10: Handling arrays within nested JSON data
nested_json = '{"studentname": "John", "age": 30, "interests": [{"name": "reading", "level": "high"}, {"name": "gaming", "level": "medium"}]}'
data = json.loads(nested_json)
df = pd.json_normalize(data, 'interests', ['studentname', 'age'])
print("\nExample 10:")
print(df)

Example 10:
      name   level studentname age
0  reading    high        John  30
1   gaming  medium        John  30

In [ ]:
# Example 11: Handling missing values in JSON data
json_str = '{"name": "John", "age": 30, "city": null}'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 11:")
print(df)

Example 11:
   name  age  city
0  John   30  None

In [ ]:
# Example 12: Converting DataFrame to JSON
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'city': ['New York', 'Los Angeles']}
df = pd.DataFrame(data)
json_str = df.to_json(orient='records')
print("\nExample 12:")
print(json_str)

Example 12:
[{"name":"John","age":30,"city":"New York"},{"name":"Alice","age":25,"city":"Los Angeles"}]

In [ ]:
# Example 13: Converting DataFrame to nested JSON
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'address': [{'city': 'New York', 'zipcode': '10001'}, {'city': 'Los Angeles', 'zipcode': '90001'}]}
df = pd.json_normalize(data)
print("\nExample 13:")
print(df)

Example 13:
            name       age                                            address
0  [John, Alice]  [30, 25]  [{'city': 'New York', 'zipcode': '10001'}, {'c...

In [ ]:
# Example 14: Converting DataFrame to nested JSON with additional metadata
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'address': [{'city': 'New York', 'zipcode': '10001'}, {'city': 'Los Angeles', 'zipcode': '90001'}]}
df = pd.json_normalize(data)
print("\nExample 14:")
print(df)

Example 14:
            name       age                                            address
0  [John, Alice]  [30, 25]  [{'city': 'New York', 'zipcode': '10001'}, {'c...

In [ ]:
# Example 15: Exporting DataFrame to JSON file
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'city': ['New York', 'Los Angeles']}
df = pd.DataFrame(data)
df.to_json('data.json', orient='records', lines=True)
print("\nExample 15:")
print("DataFrame exported to data.json")

Example 15:
DataFrame exported to data.json

In [ ]:
# Example 16: Exporting nested DataFrame to JSON file
data = {
    "name": ["John", "Alice"],
    "age": [30, 25],
    "address": [
        {"city": "New York", "zipcode": "10001"},
        {"city": "Los Angeles", "zipcode": "90001"}
    ]
}
# Creating a nested DataFrame
df = pd.json_normalize(data)

# Adding an additional row to match the length of the DataFrame
df = pd.concat([df, df.iloc[0]], ignore_index=True)

# Exporting to JSON file with specific JSON format
df.to_json("output-contends/data_nested.json", orient="records", lines=True)

print("\nExample 16:")
print("Nested DataFrame exported to data_nested.json")

Example 16:
Nested DataFrame exported to data_nested.json

In [ ]:
# Example 17: Working with JSON data using apply function
json_str = '{"name": "John", "age": 30, "hobbies": ["reading", "gaming", "cooking"]}'
data = json.loads(json_str)
df = pd.json_normalize(data)

def capitalize_hobbies(row):
    return [hobby.capitalize() for hobby in row['hobbies']]

df['hobbies'] = df.apply(capitalize_hobbies, axis=1)
print("\nExample 17:")
print(df)

Example 17:
   name  age                     hobbies
0  John   30  [Reading, Gaming, Cooking]

In [ ]:
# Example 18: Extracting specific elements from JSON data using apply function
json_str = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001"}}'
data = json.loads(json_str)
df = pd.json_normalize(data)

df['city'] = df['address.city']

print("\nExample 18:")
print(df)

Example 18:
   name  age address.city address.zipcode      city
0  John   30     New York           10001  New York

In [ ]:
# Example 19: Handling JSON data with nested arrays
json_str = '{"first_name": "John", "per_age": 30, "friends": [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 28}]}'
data = json.loads(json_str)
df = pd.json_normalize(data, 'friends', ['first_name', 'per_age'])
print("\nExample 19:")
print(df)

Example 19:
    name  age first_name per_age
0  Alice   25       John      30
1    Bob   28       John      30

In [ ]:
# Example 20: Combining JSON data from multiple files
file_names = ['data1.json', 'data2.json', 'data3.json']
dfs = []
for file in file_names:
    with open("input-contends/"+file, 'r') as f:
        data = json.load(f)
    df = pd.json_normalize(data)
    dfs.append(df)

combined_df = pd.concat(dfs)
print("\nExample 20:")
print(combined_df)

Example 20:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
0   John   30     New York
1  Alice   25  Los Angeles
0   John   30     New York
1  Alice   25  Los Angeles

In [ ]:
# Example 21: Working with nested JSON data using DataFrame constructor
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'address': [{'city': 'New York', 'zipcode': '10001'}, {'city': 'Los Angeles', 'zipcode': '90001'}]}
df = pd.DataFrame(data)
print("\nExample 21:")
print(df)

Example 21:
    name  age                                      address
0   John   30     {'city': 'New York', 'zipcode': '10001'}
1  Alice   25  {'city': 'Los Angeles', 'zipcode': '90001'}

In [ ]:
# Example 22: Handling nested JSON data with multiple levels
nested_json = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001", "coordinates": {"latitude": 40.7128, "longitude": -74.0060}}}'
data = json.loads(nested_json)
df = pd.json_normalize(data)
print("\nExample 22:")
print(df)

Example 22:
   name  age address.city address.zipcode  address.coordinates.latitude  \
0  John   30     New York           10001                       40.7128

   address.coordinates.longitude
0                        -74.006

In [ ]:
# Example 23: Reshaping nested JSON data into a flat DataFrame ?
nested_json = '''
{
  "name": "John",
  "age": 30,
  "address": {
    "city": "New York",
    "zipcode": "10001",
    "coordinates": {
      "latitude": 40.7128,
      "longitude": -74.0060
    }
  },
  "hobbies": ["reading", "gaming", "cooking"]
}
'''

# Load JSON data
data = json.loads(nested_json)

# Flatten the nested JSON data
flat_data = pd.json_normalize(data)

# Display the flat DataFrame
print(flat_data)

   name  age                     hobbies address.city address.zipcode  \
0  John   30  [reading, gaming, cooking]     New York           10001

   address.coordinates.latitude  address.coordinates.longitude
0                       40.7128                        -74.006

In [ ]:
# Example 24: Handling JSON data with arrays of dictionaries
json_str = '{"first_name": "John", "per_age": 30, "friends": [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 28}]}'
data = json.loads(json_str)
df = pd.json_normalize(data, 'friends', ['first_name', 'per_age'])
print("\nExample 24:")
print(df)

Example 24:
    name  age first_name per_age
0  Alice   25       John      30
1    Bob   28       John      30

In [ ]:
# Example 25: Handling nested JSON data with arrays of dictionaries
nested_json = '{"first_name": "John", "per_age": 30, "friends": [{"name": "Alice", "age": 25, "hobbies": ["reading", "gaming"]}, {"name": "Bob", "age": 28, "hobbies": ["cooking", "sports"]}, {"name": "Jane", "age": 27, "hobbies": ["travelling"]}]}' 
data = json.loads(nested_json)
df = pd.json_normalize(data, 'friends', ['first_name', 'per_age'])
print("\nExample 25:")
print(df)

Example 25:
    name  age            hobbies first_name per_age
0  Alice   25  [reading, gaming]       John      30
1    Bob   28  [cooking, sports]       John      30
2   Jane   27       [travelling]       John      30

In [ ]:
# Example 26: Extracting specific elements from nested JSON data
nested_json = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001", "coordinates": {"latitude": 40.7128, "longitude": -74.0060}}}'
data = json.loads(nested_json)
df_updated = pd.json_normalize(data)
df_updated.head(2)
# Extracting latitude and longitude separately
df['latitude'] = df['address.coordinates.latitude']
df['longitude'] = df['address.coordinates.longitude']
print("\nExample 26:")
print(df_updated)

Example 26:
   name  age address.city address.zipcode  address.coordinates.latitude  \
0  John   30     New York           10001                       40.7128

   address.coordinates.longitude
0                        -74.006

In [ ]:
# Example 27: Extracting specific elements from nested JSON data with arrays
nested_json = '{"person_name": "John", "person_age": 30, "friends": [{"name": "Alice", "age": 25, "hobbies": ["reading", "gaming"]}, {"name": "Bob", "age": 28, "hobbies": ["cooking", "sports"]}, {"name": "Jane", "age": 27, "hobbies": ["travelling"]}]}' 
data = json.loads(nested_json)
df = pd.json_normalize(data, 'friends', ['person_name', 'person_age'])

def extract_hobbies(row):
    return ', '.join(row['hobbies'])

df['hobbies'] = df.apply(extract_hobbies, axis=1)
print("\nExample 27:")
print(df)

Example 27:
    name  age          hobbies person_name person_age
0  Alice   25  reading, gaming        John         30
1    Bob   28  cooking, sports        John         30
2   Jane   27       travelling        John         30

In [ ]:
# Example 28: Extracting specific elements from nested JSON data with arrays and multiple levels
nested_json = '{"person_name": "John", "person_age": 30, "friends": [{"name": "Alice", "age": 25, "hobbies": [{"name": "reading", "level": "high"}, {"name": "gaming", "level": "medium"}]}, {"name": "Bob", "age": 28, "hobbies": [{"name": "cooking", "level": "medium"}, {"name": "sports", "level": "high"}]}, {"name": "Jane", "age": 27, "hobbies": [{"name": "travelling", "level": "low"}]}]}' 
data = json.loads(nested_json)
df = pd.json_normalize(data, 'friends', ['person_name', 'person_age'])

def extract_hobbies(row):
    return ', '.join([hobby['name'] for hobby in row['hobbies']])

df['hobbies'] = df.apply(extract_hobbies, axis=1)
print("\nExample 28:")
print(df)

Example 28:
    name  age          hobbies person_name person_age
0  Alice   25  reading, gaming        John         30
1    Bob   28  cooking, sports        John         30
2   Jane   27       travelling        John         30

In [ ]:
# Example 29: Handling missing values in nested JSON data
nested_json = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": null}}'
data = json.loads(nested_json)
df = pd.json_normalize(data)
print("\nExample 29:")
print(df)

Example 29:
   name  age address.city address.zipcode
0  John   30     New York            None

In [ ]:
# Example 30: Handling missing values in nested JSON data with arrays
nested_json = '{"person_name": "John", "person_age": 30, "friends": [{"name": "Alice", "age": 25, "hobbies": ["reading", null]}, {"name": "Bob", "age": 28, "hobbies": ["cooking", "sports"]}, {"name": "Jane", "age": 27, "hobbies": ["travelling"]}]}'
data = json.loads(nested_json)
df = pd.json_normalize(data, 'friends', ['person_name', 'person_age'])

def handle_missing_hobbies(row):
    return [hobby if hobby else 'No Hobby' for hobby in row['hobbies']]

df['hobbies'] = df.apply(handle_missing_hobbies, axis=1)
print("\nExample 30:")
print(df)

Example 30:
    name  age              hobbies person_name person_age
0  Alice   25  [reading, No Hobby]        John         30
1    Bob   28    [cooking, sports]        John         30
2   Jane   27         [travelling]        John         30