In [1]:
import pandas as pd
import json

In [3]:
# Example 1: Reading JSON data from a file
with open('data.json', 'r') as file:
    data = json.load(file)
df = pd.json_normalize(data)
print("Example 1:")
print(df)

Example 1:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles

```python
# Example 2: Reading JSON data from a URL
url = 'http://date.jsontest.com/'
response = pd.read_json(url)
df = pd.json_normalize(response['data'])
print("\nExample 2:")
print(df)
```

In [6]:
# Example 3: Reading JSON data from a string
json_str = '{"name": "John", "age": 30, "city": "New York"}'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 3:")
print(df)

Example 3:
   name  age      city
0  John   30  New York

In [7]:
# Example 4: Handling nested JSON data
nested_json = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001"}}'
data = json.loads(nested_json)
df = pd.json_normalize(data)
print("\nExample 4:")
print(df)

Example 4:
   name  age address.city address.zipcode
0  John   30     New York           10001

In [8]:
# Example 5: Reading JSON data with multiple records
json_str = '[{"name": "John", "age": 30}, {"name": "Alice", "age": 25}]'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 5:")
print(df)

Example 5:
    name  age
0   John   30
1  Alice   25

In [9]:
# Example 6: Handling nested JSON data with multiple records
nested_json = '[{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001"}}, {"name": "Alice", "age": 25, "address": {"city": "Los Angeles", "zipcode": "90001"}}]'
data = json.loads(nested_json)
df = pd.json_normalize(data)
print("\nExample 6:")
print(df)

Example 6:
    name  age address.city address.zipcode
0   John   30     New York           10001
1  Alice   25  Los Angeles           90001

In [16]:
# Example 7: Reading nested JSON data from a file
with open('data_nested.json', 'r') as file:
    data = json.load(file)
df = pd.json_normalize(data, 'employees', ['department', 'location'])
print("\nExample 7:")
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'data_nested.json'

In [13]:
# Example 8: Handling deeply nested JSON data
deep_nested_json = '{"name": "John", "age": 30, "address": {"city": "New York", "zipcode": "10001", "coordinates": {"latitude": 40.7128, "longitude": -74.0060}}}'
data = json.loads(deep_nested_json)
df = pd.json_normalize(data)
print("\nExample 8:")
print(df)

Example 8:
   name  age address.city address.zipcode  address.coordinates.latitude  \
0  John   30     New York           10001                       40.7128

   address.coordinates.longitude
0                        -74.006

In [14]:
# Example 9: Handling arrays within JSON data
json_str = '{"name": "John", "age": 30, "hobbies": ["reading", "gaming", "cooking"]}'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 9:")
print(df)

Example 9:
   name  age                     hobbies
0  John   30  [reading, gaming, cooking]

In [18]:
# Example 10: Handling arrays within nested JSON data
nested_json = '{"studentname": "John", "age": 30, "interests": [{"name": "reading", "level": "high"}, {"name": "gaming", "level": "medium"}]}'
data = json.loads(nested_json)
df = pd.json_normalize(data, 'interests', ['studentname', 'age'])
print("\nExample 10:")
print(df)

Example 10:
      name   level studentname age
0  reading    high        John  30
1   gaming  medium        John  30

In [20]:
# Example 11: Handling missing values in JSON data
json_str = '{"name": "John", "age": 30, "city": null}'
data = json.loads(json_str)
df = pd.json_normalize(data)
print("\nExample 11:")
print(df)

Example 11:
   name  age  city
0  John   30  None

In [19]:
# Example 12: Converting DataFrame to JSON
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'city': ['New York', 'Los Angeles']}
df = pd.DataFrame(data)
json_str = df.to_json(orient='records')
print("\nExample 12:")
print(json_str)

Example 12:
[{"name":"John","age":30,"city":"New York"},{"name":"Alice","age":25,"city":"Los Angeles"}]

In [21]:
# Example 13: Converting DataFrame to nested JSON
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'address': [{'city': 'New York', 'zipcode': '10001'}, {'city': 'Los Angeles', 'zipcode': '90001'}]}
df = pd.json_normalize(data, 'address', ['name', 'age'])
print("\nExample 13:")
print(df)

ValueError: Length of values (4) does not match length of index (2)

In [22]:
# Example 14: Converting DataFrame to nested JSON with additional metadata
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'address': [{'city': 'New York', 'zipcode': '10001'}, {'city': 'Los Angeles', 'zipcode': '90001'}]}
df = pd.json_normalize(data, 'address', ['name', 'age'], meta=['department', 'position'])
print("\nExample 14:")
print(df)

TypeError: _json_normalize() got multiple values for argument 'meta'

In [23]:
# Example 15: Exporting DataFrame to JSON file
data = {'name': ['John', 'Alice'], 'age': [30, 25], 'city': ['New York', 'Los Angeles']}
df = pd.DataFrame(data)
df.to_json('data.json', orient='records', lines=True)
print("\nExample 15:")
print("DataFrame exported to data.json")

Example 15:
DataFrame exported to data.json